[2020-04-20 21:39] sffc commented on #2585
This was a change in behavior from Stage 3 to Stage 4 of Unified NumberFormat.

- PR: https://github.com/tc39/proposal-unified-intl-numberformat/pull/72
- TC39 Presentation: https://docs.google.com/presentation/d/1vk9MnkMzglGo9jqHLueAJwatp06Ro8Fo0PUUMu32cns/edit#slide=id.g7605a6eead_0_128

[2020-04-21 18:58] littledan commented on #1515
The flagging mechanism is the `locale:` metadata: that says that the test depends on some particular meaning of some particular locale. Maybe we could have a metadata tag that's like "tested with this version of this software" (or a comment format?). I'd be up for any improvements to documentation here.

Overall, even if they're imperfect, I'm glad we have `locale: ` tests upstream in test262--thi

[2020-04-22 20:43] FrankYFTang opened #2589 "expectation in intl402/RelativeTimeFormat/prototype/format*/pl-pl*js is incorrect"
As issues raised by @rkirsling  in https://github.com/tc39/test262/pull/1669 the expectation for pl is incorrect.
[code]

Bug is filed against ICU in https://unicode-org.atlassian.net/browse/ICU-21086

This is indeed incorrect expectation in these test. there should be no grouping separator for pl while the value is < 10000 since pl has minimumGroupingDigits{"2"}

Discuss this in ICU-TC 4/22/2020

[2020-04-22 22:22] FrankYFTang opened #2591 "missing fractionalSecondDigits in resolvedOptions/{order,order-dayPeriod}.js"
Tests in
intl402/DateTimeFormat/prototype/resolvedOptions/order* is written to
"Verifies the property order for the object returned by resolvedOptions()."
notice it is currently using assert.compareArray to ensure the exact order and element of the return object of resolvedOptions.
However, in PR https://github.com/tc39/ecma402/pull/347/files
The loop of "For each row of Table 6, except the header

[2020-04-22 22:26] FrankYFTang commented on #2591
@Ms2ger @tc39/ecma-fellows @leobalter

[2020-04-22 22:26] FrankYFTang commented on #2591
@zbraniecki

[2020-04-23 01:48] FrankYFTang commented on #2589
v8 issue filed in https://bugs.chromium.org/p/v8/issues/detail?id=10443

[2020-04-23 04:39] jhnaldo opened #2593 "Implementation dependent [[Prototype]] of Global Object."
I think that the following tests violate the semantics of implementation dependent [[Prototype]] of Global Object.
- [/test/built-ins/Object/defineProperty/15.2.3.6-4-625gs.js](https://github.com/tc39/test262/blob/master/test/built-ins/Object/defineProperty/15.2.3.6-4-625gs.js)
- [/test/built-ins/Object/getPrototypeOf/15.2.3.2-2-30.js](https://github.com/tc39/test262/blob/master/test/built-ins/Obj

[2020-04-23 05:05] ljharb commented on #2593
That seems somewhat like a spec issue to me than a test issue; web reality is that the global inherits from `Object.prototype`, so at *least* web browsers (Annex B) would have to have that be true.

[2020-04-23 07:42] FrankYFTang commented on #2589
@Ms2ger @leobalter @tc39/ecma-fellows @anba @zbraniecki

[2020-04-23 14:46] #2585 closed

[2020-04-25 22:43] #2591 closed

[2020-04-25 22:48] #2589 closed

[2020-04-30 07:32] Morten242 opened #2605 "Number/isSafeInteger/safe-integers.js is testing with isInteger"
The test name and folder implies it means to test with isSafeInteger, however it is using isInteger to perform the test.

[2020-05-06 14:51] #2605 closed

[2020-05-08 02:44] syg opened #2614 "export-star-as-dflt seems wrong"
The test seems to be testing that:

[L21](https://github.com/tc39/test262/blob/master/test/language/module-code/export-star-as-dflt.js#L21) Re-export all the imports as a named export named `default`
[L22](https://github.com/tc39/test262/blob/master/test/language/module-code/export-star-as-dflt.js#L22) Import the default export as a namespace object `ns` from itself.
[L23](https://github.com/tc39/

[2020-05-08 02:46] syg commented on #2614
There's note in Step 8.c [here](https://tc39.es/ecma262/#sec-resolveexport) that says "A default export cannot be provided by an export * or export * from "mod" declaration." though I haven't chased down where that's exactly prohibited.

[2020-05-08 05:24] syg commented on #2614
Ah, so I misunderstood the note, which narrowly only applies to `export *` and `export * from "mod"`, not `export * as`.

The test still seems wrong, however. My current understanding is L23 should be testing for `ns.x === 21`. There is no named export named `default` in the namespace object.

[2020-05-08 16:38] syg commented on #2614
Not sure what you mean by dynamic import; that test is all static imports.

[2020-05-08 16:40] leobalter commented on #2614
Nevermind, I was just saying you would see the default naming in a dynamic import, which doesn't really apply here. I believe there is actually a catch in the `default` property which is not `"*default*"`, but I'm still reading the specs for a final conclusion.

[2020-05-08 16:52] leobalter commented on #2614
https://github.com/tc39/test262/pull/1498/files/fd9b982217729a10ebcf93cd85ad99a9c4113960#r227919103

Now I understand the reason for testing and yes, the test seems wrong. Back all the way to @syg's first question: _so how does L22 import a namespace object?_

I don't think it imports the namespace so you need to import the named bindings

[code]

there is a catch here with `ns`, which is not real

[2020-05-08 17:06] syg commented on #2614
My current understanding is that `import ns` actually does work, because all default exports are, are exports named... `"default"`. So, `export * as default` actually does re-export a namespace object as the default export. (To contrast, the `"*default*"` name is a synthetic name for the spec to access the copy local to the exporting module.)

This is pretty confusing though...

[2020-05-08 17:06] syg commented on #2614
To finish the thought, my current understanding of what doesn't work is L23, which should be changed to `ns.x` from `ns.default.x`.

[2020-05-08 17:58] #2614 closed

[2020-05-14 05:50] YaoHouyou commented on #2237
@kmiller68
Is this inspired by the JSC bug report.
https://bugs.webkit.org/show_bug.cgi?id=199744

Thank you very much!

[2020-05-15 05:05] ty5491003 opened #2622 "Missing coverage for 'String.prototype.split()'"
Through our fuzzing work, we found an implemetation error of rhino.
Bug issue: https://github.com/mozilla/rhino/issues/664

**Testcase**:
[code]

**Rhino Output**:
['123 456 789']

**Other Engines Output**:
[]

It appears all other engines pass the test but I didn't see a test262 checking this behavior. Perhaps it could be ported to test262?

Looking forward to your reply!

[2020-05-17 06:04] NWU-NISL opened #2623 "Coverage: eval(x) should test for "use strict" depart from the parameter "x"."
We found a bug of the Hermes engine. When "use strict" departs from the execution statement "x" and reserved word is used as a variable name, all other engines throw a SyntaxError, but Hermes passed. I didn't see a test262 checking "use strict" outside of "x". Maybe test262 should test for this.

Bug issue from Hermes: https://github.com/facebook/hermes/issues/102

**Testcase**:
[code]

[2020-05-19 04:34] longlho opened #2628 "intl402/Locale/prototype/minimize/removing-likely-subtags-first-adds-likely-subtags.js doesn't match web reality & LDML spec"
Specifically
[code]
We caught this while working on out Intl.Locale polyfill. Checked on Chrome and that seems to agree.

[2020-05-19 07:15] marjakh opened #2629 "Missing tests for Promise combinators"
I started looking into which tests exist for Promise.all/allSettled/any/race, and discovered a bunch of missing tests (e.g., a test for Promise.allSettled being there and the corresponding test for Promise.any not being there).

See the (incomplete) table here:
https://docs.google.com/document/d/1lrDTH6UtVj4a_SZcXKBSgknL-wOtDXC5mLQFVcjmgSE/edit?usp=sharing

[2020-05-19 07:27] anba commented on #2628
See #2598, the linked ICU issues in the test case, and <https://unicode-org.atlassian.net/browse/CLDR-13749>.

[2020-05-19 20:37] rwaldron commented on #2629
Thanks for filing—I'm going to prioritize this for tomorrow.

[2020-05-20 00:13] rwaldron commented on #2529
Fixed

[2020-05-20 00:13] #2529 closed

[2020-05-20 02:35] longlho commented on #2628
ah thanks for the context @anba . In that case, everything checks out except for `und-150` (which should be `ru-150` instead of `ru` right)?
[code]

[2020-05-20 13:27] anba commented on #2628
Hmm, this may need to be clarified on the CLDR side.

From <http://unicode.org/reports/tr35/#Likely_Subtags>:

From [supplemental/likelySubtags.xml](https://github.com/unicode-org/cldr/blob/ee7e3f1635f8453fe98f8e8bb3bc88391c8daee5/common/supplemental/likelySubtags.xml#L2889):
[code]

The quoted text from UTS 35 doesn't seem to be true when the base language subtag is `und`.

---

Based on the resu

[2020-05-20 17:31] #2623 closed

[2020-05-20 18:54] leobalter commented on #2629
@marjakh thanks for sharing this.

Coverage for Test262 has always been a challenge as it sources from each step of the specs.

The Built-in APIs are relatively easier to verify the coverage if compared with the syntax grammar. We mostly have all steps from start to end. Promises being settled add a bit of complexity but it's still ok to be listed from a usage lifetime, from call to return + effec

[2020-05-20 22:29] leobalter commented on #2622
@ty5491003 PTAL at #2632.

Split has a legacy coverage that pre-dates ES2015.

[2020-05-21 02:25] #2622 closed

[2020-05-21 10:34] anba commented on #2628
cc @FrankYFTang

[2020-05-21 13:08] longlho commented on #2628
Yeah that's the confusing part where I'm also not quite sure if the typo explains it.

[2020-05-25 02:06] longlho commented on #2628
OK so the spec text isn't really correct IMO, tracing thru ICU4J (since I don't know C): https://github.com/unicode-org/icu/blob/4231ca5be053a22a1be24eb891817458c97db709/icu4j/main/classes/core/src/com/ibm/icu/util/ULocale.java#L2877-L2899

looks like maximize takes in `language` & `region` if there is a match for `language_region`, in this case it'd turn `und-RU` into `ru-Cyrl-RU` which matches t

[2020-05-26 06:38] NWU-NISL opened #2636 "Coverage: Function Object.getOwnPropertyDescriptor should convert a non-object parameter to object."
We found a bug of the QuickJS engine. When the first parameter of Object.getOwnPropertyDescriptor is not an object as expected, the JS engine should automatically covert a non-object to an object. However, QuickJS didn’t do that. After careful inspection, I found that test262 has many testcases whose first parameter is non-object such as Null, Undefined, Number, and Boolean, but except a String va

[2020-05-26 08:09] NWU-NISL opened #2637 "Coverage: Escape method should be firstly covert the input parameter to String"
Another QuickJS functional bug we found that when the parameter of the Escape method is "null" as the following testcase, QuickJS engine throws TypeError other than covert "null" to String as except. I think it's better to add the testcase to test262 suite.

Testcase:
[code]

[2020-05-26 08:13] NWU-NISL opened #2638 "Coverage: Function Constructor should throw SyntaxError when with statement is used under the strict mode."
We found a bug ([Bug issue from Hermes](https://github.com/facebook/hermes/issues/120)) of the Hermes engine. When creating a function object in which with statement is used under the strict mode as the following testcase, All ES specifications require throwing SyntaxError but Hermes not. After inspection, I cannot find a similar testcase from test262 suite. I think it's better to be added.

Testc

[2020-05-29 22:00] leobalter opened #2644 "Verify arguments property of Function exotic objects"
Do we have coverage for this?

[code]

[2020-05-29 23:19] #2644 closed

[2020-06-02 15:56] rwaldron opened #2646 "AggregateError Updates"
Ref: https://docs.google.com/presentation/d/1juwk662pDATPCPqPxlE8M9rBGeA9zAp0_sJBoxu3eMc/edit#slide=id.g8753e62b92_0_16

[2020-06-03 18:03] #2636 closed

[2020-06-03 19:29] marjakh commented on #2629
Hi, sorry for the delay in this reply.

The document is just a way to find out which tests exactly are missing, especially if we have a test for Promise.all and don't have the corresponding test for Promise.any for no reason. It shouldn't be viewed as an end goal to tick all the boxes, it's just a methodology I used to gain understanding on the question "which tests exactly are missing". There are

[2020-06-08 21:03] rkirsling opened #2653 "Need tests for \8 in templates and strict strings"
Looks like tests for `\8` were missed from https://github.com/tc39/test262/pull/1063.

Everyone agrees that `\08` is bad outside of sloppy non-template strings, but SM, V8, XS, and ChakraCore all accept <code>\`\8\`</code> and `'\8'` regardless of mode.

Templates should hit the NotEscapeSequence early errors in [12.2.9.1](https://tc39.es/ecma262/#sec-static-semantics-template-early-errors) while

[2020-06-09 07:46] anba commented on #2653
`\8` isn't allowed in any mode per spec (*). As non-standard extension, some engines allow it in strict and non-strict mode, and other engines only allow it in non-strict mode.

(*) [B.1.1 Numeric Literals](https://tc39.es/ecma262/#sec-additional-syntax-numeric-literals) supports noctal digits through *NonOctalDecimalIntegerLiteral*, whereas [B.1.2 String Literals](https://tc39.es/ecma262/#sec-add

[2020-06-09 07:59] rkirsling commented on #2653
Oh hmm, you're right that B.1.2 doesn't actually call out 8 and 9 after all.

This feels really weird to have unspecified though, right? Perhaps we should add a NODIL equivalent to B.1.2 since everyone agrees on sloppy non-template strings?

[2020-06-09 08:09] anba commented on #2653
It's already planned to resolve this for ES7: https://tc39.es/archives/bugzilla/3477/ :smile:

[2020-06-09 08:14] rkirsling commented on #2653
Hah, wow! Guess I'll open a 262 ticket tomorrow then. 😅

[2020-06-13 04:56] NWU-NISL opened #2660 "Missing coverage for Object.defineProperty method"
Testcase:

When redefining the "length" property, a non-configurable property of an Array object and set its value to be true, JS engines should throw TypeError. After careful inspection, I found that there is no similar testcase to test the above behavior. The testcase for sort of like this:

[code]

By the way, the above testcase triggered a [bug](https://bugs.chromium.org/p/v8/issues/detail?id=

[2020-06-13 04:57] NWU-NISL opened #2661 "Missing coverage for eval method"
As far as I know, the below behavior is not verified in test262. We found a bug of Chakra where it doesn't throw SyntaxError when using "for" statement without function body in eval function, which can be tested for sort like the following testcase:
[code]
Bug report link: https://github.com/microsoft/ChakraCore/issues/6351

[2020-06-16 07:39] mathiasbynens opened #2663 "Is the `website` folder maintained?"
There used to be a website at <https://tc39.github.io/test262/website/default.html>. Today that no longer works, but the `website` folder is still here: https://github.com/tc39/test262/tree/master/website Were the HTML files deleted by accident, or was the `website` folder supposed to be deleted entirely?

Example of what the website used to look like: https://v8.github.io/test262/website/default.

[2020-06-16 13:11] leobalter commented on #2663
I believe the website has not been actively maintained since 2014.

With the amount of work we've had for ES2015, we highly focused in the coverage. I don't ever recall publishing the website since I started in this project (2015).

If we need to decide this, I'd suggest we drop this and in favor of decoupled tools for running tests. @bakkot also has a [web-based tests runner](https://bakkot.githu

[2020-06-17 12:50] marjakh opened #2664 "built-ins/Atomics/waitAsync/bigint/good-views.js & built-ins/Atomics/waitAsync/good-views.js are incorrect (timing dependent)"
In this test, all waitAsyncs resolve immediately; that doesn't create any timing issues. The worker does essentially this:

[code]

The main thread does:

`Promise.all([getReportAsync(), getReportAsync(), getReportAsync()])`. When Promise.all resolves, it asserts that the resulting array is `["message A", "message B", "message C"]`.

Each `getReportAsync` creates a looper which checks if a message

[2020-06-17 17:09] mgaudet opened #2665 "Delete applied to private name via optional chain"
I think a test case for  `delete o?.#x` needs to be added.

[2020-06-19 11:09] marjakh commented on #2664
Updated the title to reflect there are 2 of these tests.

[2020-06-19 16:26] ljharb commented on #2664
"ignores the time parameter of setTimeout" seems like an issue - doesn't that conflict with node's setTimeout impl as well as HTML's?

[2020-06-19 17:46] marjakh commented on #2664
This is only the d8 test runner, it's not used in Chrome or Node. d8 is not a standard-conforming js implementation, it's just implementing it "close enough" to run our tests.

So for example d8 does the wrong thing with this code:
setTimeout(foo, 10);
setTimeout(bar, 0);

(It runs foo first.)

With this test, it doesn't run the tasks in wrong order (since they're all posted with the same timeout)

[2020-06-19 22:31] ljharb commented on #2664
setTimeout isn't threading tho, since JS is single-threaded?

Thanks for clarifying; I won't distract further with setTimeout chatter :-)

[2020-06-20 11:30] marjakh commented on #2664
The test creates a worker. The problem is that there's a race condition between the worker thread and the main thread. I tried to describe the race condition in detail in the OP, please let me know if more info is needed.

As d8 essentially "runs the main thread faster", the race condition becomes more obvious.

[2020-06-22 16:21] marjakh commented on #2664
cc @rwaldron as you added the tests

[2020-06-23 19:51] rwaldron commented on #2664
I'll take a look at these tomorrow. Thanks for the heads up.

[2020-06-24 20:26] #2646 closed

[2020-06-24 20:27] #2561 closed

[2020-06-24 20:31] rwaldron commented on #2442
The current tests no longer contain this code.

[2020-06-24 20:31] #2442 closed

[2020-06-24 20:32] rwaldron commented on #2441
@leobalter is this in scope for your test refactoring?

[2020-06-24 20:48] leobalter commented on #2663
I believe this is resolved by #2677. @mathiasbynens please let me know if there is anything else to be tackled on this topic.

[2020-06-29 20:58] Constellation opened #2682 "Intl.DisplayNames should throw a TypeError when "type" option is not specified, but test262 does not assume so"
The draft spec describes that if "type" option is undefined we will throw a TypeError.
https://tc39.es/proposal-intl-displaynames/#sec-Intl.DisplayNames

So,
[code]
should throw a TypeError.

But, tests in test262 disagree with this. Here is an example of tests.
https://github.com/tc39/test262/blob/master/test/intl402/DisplayNames/ctor-custom-get-prototype-poison-throws.js#L43
https://github.com/t

[2020-06-29 23:00] sffc commented on #2682
This was a recent change.  The Test262 probably still needs to be updated. https://github.com/tc39/proposal-intl-displaynames/issues/73

@FrankYFTang @ryzokuken

[2020-07-01 03:54] ryzokuken commented on #2682
@sffc should we wait for the discussion at https://github.com/tc39/proposal-intl-displaynames/issues/73#issuecomment-651427251 to reach a conclusion before making an update here?

[2020-07-01 04:25] sffc commented on #2682
Yeah, let's discuss this issue at the 402 meeting next week.  I think it's likely that we'll stick with the TypeError, but we might as well wait a week before doing extra work that might not end up being necessary.

[2020-07-04 11:20] NWU-NISL opened #2687 "Missing tests for Escape method"
**Description:**

A QuickJS functional bug we found that when the parameter of the Escape method is "null" as the following testcase, QuickJS engine throws TypeError other than covert "null" to String as except. I think it's better to add the testcase to test262 suite.

**Testcase:**

[code]

**QuickJs  Version**:

 [quickjs-2019-10-27](https://github.com/horhof/quickjs/releases/tag/20191027)

**Q

[2020-07-04 11:21] NWU-NISL opened #2688 "Missing tests for Function Constructor"
**Description:**

We found a bug of the Hermes engine. When creating a function object in which with statement is used under the strict mode as the following testcase, All ES specifications require throwing SyntaxError but Hermes not. After inspection, I cannot find a similar testcase from test262 suite. I think it's better to be added.

**Testcase:**

[code]

**Hermes Version:**

[hermes-3826084]

[2020-07-04 11:23] shvaikalesh commented on #2687
This seems like a duplicate of #2637, but with better description.

[2020-07-06 12:35] marjakh opened #2689 "built-ins/Atomics/waitAsync/poisoned-object-for-timeout-throws.js etc don't test waitAsync"
I was wondering why these tests pass for V8 which does not implement waitAsync yet :)

https://test262.report/features/Atomics.waitAsync/built-ins/Atomics/waitAsync/poisoned-object-for-timeout-throws.js?date=2020-06-27

These tests are in the waitAsync directory but they call Atomics.wait instead of Atomics.waitAsync.

built-ins/Atomics/waitAsync/poisoned-object-for-timeout-throws.js
built-ins/Ato

[2020-07-06 12:44] marjakh commented on #2689
Seems to also affect built-ins/Atomics/waitAsync/validate-arraytype-before-value-coercion.js

[2020-07-06 12:44] marjakh commented on #2689
@rwaldron

[2020-07-06 12:48] marjakh commented on #2689
Ah, there are more. grepping for "Atomics.wait(" gives these tests:

built-ins/Atomics/waitAsync/bigint/negative-index-throws.js
built-ins/Atomics/waitAsync/bigint/out-of-range-index-throws.js
built-ins/Atomics/waitAsync/bigint/poisoned-object-for-timeout-throws.js
built-ins/Atomics/waitAsync/bigint/poisoned-object-for-timeout-throws-agent.js
built-ins/Atomics/waitAsync/bigint/symbol-for-timeout-t

[2020-07-06 15:39] NWU-NISL commented on #2687
Yes, this is a more detailed description of #2637. Will this test case be added to the test262 suite?

[2020-07-06 15:40] NWU-NISL commented on #2688
This is a more detailed description of #2638

[2020-07-06 16:21] leobalter commented on #2687
@NWU-NISL these cases are welcomed for new tests in Test262. Would you be interested in opening a PR? I'd be happy to review and merge.

[2020-07-06 18:53] leobalter commented on #2689
Thanks for the report, @marjakh. The typos should be addressed at #2690, and I believe @rwaldron also safe guarded the tests against false positives at 51e73466ee5146862824d378dc4ea34085439c12.

Historically, Test262 does not have much of a way to prevent against false positives such as tests that gives a SyntaxError for a new forbidden grammar (also a SyntaxError if the feature is not yet impleme

[2020-07-07 18:15] leobalter opened #2693 "Verify coverage for Promise#finally subclass referring to species"
_Originally posted by @leobalter in https://github.com/tc39/test262/pull/2691_

---

cc @ljharb @shvaikalesh @rwaldron

This refers to the file removed in #2691 and might be interesting to verify how we can cover it properly in Test262, if necessary as in not yet covered by another test file.

Although, I'd wait until the TC39 meeting in July as we have upcoming discussion about @@species that mig

[2020-07-07 18:18] ljharb commented on #2693
The test looks right to me:
[code]

[code]
is what i'd expect.

[2020-07-07 18:34] leobalter commented on #2693
In the first example, I can't see how `p instanceof MyPromise` would ever be true. So the custom `@@species` wouldn't affect the second example.

It seems the engines are also consistent (when they have it implemented):

[code]

[2020-07-07 18:38] leobalter commented on #2693
In any case, this [seems to be a duplicate](https://github.com/tc39/test262/pull/2691#discussion_r451053620).

Thanks @shvaikalesh! I'll close this down as coverage is set, but I plan to take a look at coverage if we can enforce this test.

There might be some test but it seems like easier if this test is countered with a `@@species` returning a custom ctor.

[2020-07-07 18:38] #2693 closed

[2020-07-07 18:38] ljharb commented on #2693
hmm, you're right

[2020-07-07 18:44] leobalter commented on #2693
I believe the example is better seen without the arrow function:

[code]

[2020-07-07 18:49] leobalter commented on #2693
Here is an example of what I mentioned:

[code]

[2020-07-07 19:17] shvaikalesh commented on #2693
Thank you @leobalter for review & investigation!

I wonder why `subclass-species-constructor-{resolve,reject}-count.js` have `-count` in their names?
Perhaps these tests would be more useful if we add a counter to `@@species` getter and assert its value.

[2020-07-07 19:36] leobalter commented on #2693
Maybe the name could be adjusted. I wouldn't have it in high priority, thou

[2020-07-08 17:46] #2689 closed

[2020-07-08 17:48] rwaldron commented on #2664
Closing this. If there are any further problems, we can open new issues

[2020-07-08 17:49] rwaldron commented on #2629
I believe this has been addressed

[2020-07-08 17:49] #2629 closed

[2020-07-08 17:56] marjakh commented on #2664
Has somebody actually fixed something? I didn't see any fixes. Please reopen or point me to a PR that fixes this.

[2020-07-08 18:00] syg commented on #2664
Reopening per https://github.com/tc39/test262/issues/2664#issuecomment-655668416. @rwaldron seems like nothing was acted on?

[2020-07-08 18:50] leobalter commented on #2664
I believe this might have been addressed at fcb3b91e4a from #2676.

The commit message had an inline "Fixes #2664", so it was not captured by GitHub.

[2020-07-08 19:08] marjakh commented on #2664
Hi, thanks, verified that that commit fixes the test. Sorry for the extra round trip :)

[2020-07-08 19:08] #2664 closed

[2020-07-09 00:32] leobalter opened #2694 "Improve coverage for escape/unescape"
wrt `test/annexB/built-ins/escape/argument_types.js`

This could still have extended coverage here for other types.

In the same file:

- undefined (implicit): escape() === 'undefined'
- Number: escape(-0), escape(0), escape(1), escape(NaN), escape(Infinity)

In a different file:

- BigInt: escape(1n)

We have tests for objects using toString and valueOf. We can add a test for using @@toPrimitive

[2020-07-09 16:57] #2661 closed

[2020-07-09 16:57] #2687 closed

[2020-07-09 16:57] #2688 closed

[2020-07-09 16:57] #2637 closed

[2020-07-09 16:57] #2638 closed

[2020-07-09 17:16] #2694 closed

[2020-07-09 17:20] leobalter commented on #2511
@rwaldron I believe the status here has changed, right?

[2020-07-13 20:45] leobalter opened #2699 "Meta: Moving to a `main` default branch."
I'd love to change this repo to use `main` as the default branch, rather than `master`. @GitHub says they are working on a feature that would help with some redirecting.

There are some challenges right now.

We have many orgs importing Test262 and still using the `master` branch to get the most recent updates. It's not easy to list them all here, or make sure they are all at least ready.

I tried

[2020-07-13 20:47] devsnek commented on #2699
I'm good/ready/etc.

[2020-07-13 21:04] rwaldron commented on #2699
I'll get everything updated tomorrow

[2020-07-13 21:17] leobalter commented on #2699
As an update, there is already a workflow that updates the `master` branch after changes from the `main` branch (not the other way around). This only works when I lift the protections off for the `master` branch, which could happen when we eventually set `main` as default.

[2020-07-13 21:27] bnb commented on #2699
+1. You may also be interested in this: https://www.npmjs.com/package/retarget_prs

[2020-07-13 21:32] leobalter commented on #2699
Thanks @bnb, in this case we don't have many open PRs so it would be pretty easy to do it manually too. This might become handy within ECMA-262. cc @ljharb

[2020-07-13 21:38] ljharb commented on #2699
262 will likely wait for github's changes.

[2020-07-13 22:05] mikesherov commented on #2699
You probably want @rreverser for Acorn and @nzakas for ESLint

[2020-07-13 22:06] manuel-jasso commented on #2699
@leobalter We're ready for option 1

[2020-07-13 22:14] leobalter commented on #2699
Thanks @mikesherov!

[2020-07-14 00:39] #2263 closed

[2020-07-14 00:43] leobalter commented on #2264
Sounds like they are covered by these files using the `logical-assignment-operators` feature tag.

[code]

Also: https://test262.report/features/logical-assignment-operators/language/expressions/logical-assignment

[2020-07-14 00:43] #2264 closed

[2020-07-14 00:47] leobalter commented on #2205
I believe this has been handled by 9d0072df3d and 6fd738d396.

[2020-07-14 00:47] #2205 closed

[2020-07-14 00:49] leobalter commented on #2441
#2436 addressed this.

[2020-07-14 00:49] #2441 closed

[2020-07-14 00:52] leobalter commented on #2227
I believe at this point we've handled this but I've missed reporting here. IIRC we resolved we can't reuse the GC property for deterministic ends to assert in Test262.

[2020-07-14 00:52] #2227 closed

[2020-07-14 00:57] leobalter commented on #2538
Sounds like they are covered by these files using the logical-assignment-operators feature tag.

test/language/expressions/logical-assignment/lgcl-and-arguments-strict.js
test/language/expressions/logical-assignment/lgcl-and-assignment-operator-bigint.js
test/language/expressions/logical-assignment/lgcl-and-assignment-operator-lhs-before-rhs.js
test/language/expressions/logical-assignment/lgcl-and

[2020-07-14 00:57] #2538 closed

[2020-07-14 00:59] leobalter commented on #2264
tests results here https://test262.report/features/coalesce-expression/language/expressions

[2020-07-14 01:19] leobalter commented on #586
The current linter should be enough for now.

[2020-07-14 01:19] #586 closed

[2020-07-14 01:23] leobalter commented on #569
Since this bug was opened we've worked on an universal identifier (esid) and better handlings for feature identifiers, rather than release editions. Even test262.report makes a good usage of it.

I don't think we're currently targeting something else for this but I'd suggest opening a new issue for anything we propose.

[2020-07-14 01:23] #569 closed

[2020-07-14 01:31] leobalter commented on #427
This definitely needs follow up. I shouldn't hold this one for too long.

[2020-07-14 02:58] leobalter commented on #427
I'm having trouble with this piece of code:

[code]

Here comes the evaluation:

[code]

`expr` is the Reference for `x` in the base value of the Global Env Record, right?.

IIUC, the base value of `expr` is the Global Env Record.

The delete happens in the `GetValue(expr)`, PutValue is then called with the `expr` Reference, and here comes a trick: `IsUnresovableReference` returns true becase the

[2020-07-14 03:12] leobalter commented on #427
@allenwb @anba, can you help me here, please?

[2020-07-14 03:19] leobalter commented on #427
I wonder if the `IsUnresolvableReference` should be explicit about the `base value component of V` being dynamic as in: `the current base value component of V`.

The engine results throwing a RefError make me think this is the case.

In my brain, the base value component is not changed within the current spec text. Somehow it persists when we fetched that Reference (before the delete).

cc @tc39/e

[2020-07-14 03:39] bakkot commented on #427
@leobalter I believe your reading of the spec is correct: that is, in the current spec, there is no reference error. Per that esdiscuss thread, this is a bug in the specification. I (apparently) opened a [bugzilla issue](https://tc39.es/archives/bugzilla/4532/) to track this, and it never got fixed. But engines still don't pass the tests (e.g. v8 [xfails them](https://github.com/v8/v8/blob/e7351c5

[2020-07-14 04:07] leobalter commented on #427
I have a tentative PR Draft in https://github.com/tc39/ecma262/pull/2094 but I need to follow up investigating usage of PutValue to confirm it works.

[2020-07-14 05:19] jugglinmike commented on #2699
JSHint is ready for option 1.

(By the way: Esprima also uses Test262, but [they're set up to fetch from this repository by SHA](https://github.com/jquery/esprima/blob/d277380c4cf7a2ff3ba3499b6d82b126c9888d4a/package.json#L78), so this change shouldn't present any automation-related issues there.)

[2020-07-14 15:08] nzakas commented on #2699
ESLint doesn’t directly use test262, so we are set.

[2020-07-14 16:00] RReverser commented on #2699
Acorn links to a commit hash rather than a branch name, so we're good too.

[2020-07-14 16:04] nicolo-ribaudo commented on #2699
For Babel both 1 and 4 would work. cc @JLHwung

[2020-07-14 17:02] mikesherov commented on #2699
I have no skin in this game, but since I was originally tagged, I'd say Option 0 is non-ideal because it facilitates consumers to still reference master.

[2020-07-14 18:02] ljharb commented on #2699
@mikesherov the particular case that's important here is URLs, which can 301 to the new name, and might live in a place that can't be updated (from a locked/archived project, for example). Cool URLs don't change.

[2020-07-14 18:09] leobalter commented on #2699
Let's see if I can get some feedback from Mozilla as Gecko's [test262 import script does use the master branch](https://github.com/mozilla/gecko-dev/blob/92ef1e0f786000016c608243cac2bec2acb0e018/js/src/tests/test262-update.py), but it seems easy to address.

[2020-07-14 18:25] leobalter commented on #2699
I opened this bug for SpiderMonkey and perhaps I can patch it myself.

https://bugzilla.mozilla.org/show_bug.cgi?id=1652830

[2020-07-15 17:36] leobalter commented on #2699
I'm applying the changes today, matching option 1.

Here is what gonna happen:

1. Verify the `main` branch is up to date.
1. Set the default branch to `main` in the project settings.
1. Set branch protections for the `main` branch only. Those protections are relevant to PRs.
1. Set the head branch for the current open PRs to `main`. Post a comment on each for a heads up.
1. Verify the Actions wor

[2020-07-15 20:14] rwaldron commented on #2665
@leobalter does this fall in scope for the refactoring you wanted to do?

[2020-07-15 20:16] #2511 closed

[2020-07-15 20:18] rwaldron commented on #2557
@leobalter what is left to be done?

[2020-07-15 20:25] leobalter commented on #2557
hard to remember exactly but it seems it's fixed?

I'm closing it for now blaming my past solve on not providing better information here.

[2020-07-15 20:25] #2557 closed

[2020-07-15 20:37] leobalter commented on #2665
This is not covered.

I did some work but missed covering optional chain as [UnaryExpressions](https://tc39.es/ecma262/#sec-unary-operators).

Funny enough, `delete {}?.x` is valid.

The version with private fields is a SyntaxError regardless of the delete.

[code]

We might coverage for private fields + optional chain, but needs verification.

[2020-07-15 20:41] mgaudet commented on #2665
I don't think that second example is a syntax error since https://github.com/tc39/proposal-class-fields/pull/301

[2020-07-15 20:50] leobalter commented on #2665
Thanks! I was not up to date with the private fields proposal and then we just need to verify coverage.

@mgaudet can you help me pointing to the part where `delete o?.x` would be forbidden?

[2020-07-15 20:53] leobalter commented on #2665
I found it: https://tc39.es/proposal-class-fields/#sec-static-semantics-early-errors

[2020-07-16 20:45] caiolima commented on #2665
IIRC, we had tests to cover that `o?.#x` was a `SyntaxError` and this got reverted into https://github.com/tc39/test262/pull/2566. I don't remember seeing or adding any test that covers `delete o?.#x` though.

[2020-07-20 14:07] avandolder opened #2708 "Tests for Iterator Helpers"
The [Iterator Helpers](https://github.com/tc39/proposal-iterator-helpers) proposal is currently in stage 2, but the specification has been largely finalized and almost fully implemented in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1568906). When it reaches stage 3 (hopefully soon), it'll need a test suite merged.

[2020-07-20 14:14] leobalter commented on #2708
This is pointing to a private instance fields at Bugzilla, maybe you wanted a different link?

[2020-07-20 14:17] Thuhtet23 opened #2709 "The pedant in me is compelled to note that in cases where evaluating the LHS is observable the sugar is a little more complicated because you need to avoid triggering the side effects multiple times (though most implementations [get it wrong](https://github.com/tc39/ecma262/issues/467), and do in fact trigger a subset of the side effects several times). No one should care about this, though."
The pedant in me is compelled to note that in cases where evaluating the LHS is observable the sugar is a little more complicated because you need to avoid triggering the side effects multiple times (though most implementations [get it wrong](https://github.com/tc39/ecma262/issues/467), and do in fact trigger a subset of the side effects several times). No one should care about this, though.

_Ori

[2020-07-20 14:20] leobalter commented on #2709
Please rewrite this. Help me find what’s actionable and please use a short title.

[2020-07-20 14:35] anba commented on #2709
@leobalter That's a spam account.

[2020-07-20 17:12] leobalter commented on #2709
Thanks for letting me know

[2020-07-20 17:12] #2709 closed

[2020-07-20 20:26] #2653 closed

[2020-07-29 02:27] guest271314 opened #2719 "Memory.prototype.grow(1) TypeArray(memory.buffer, memory.buffer.byteLength/2, memory.buffer.byteLength) RangeError"
[code]
Chromium 86

[code]

Nightly 80

[code]

Adjusting the code

[code]

Chromium 86

[code]

Nightly 80

[code]

Which means the original code that am attempting to test

`const u8_2 = new Uint8Array(m.buffer, m.buffer.byteLength/2 -1, 2);`

is not possible, at least using `TypedArray` constructor and `set()` in the above patterns?

Is this specified and expected behaviour?

Or, is this an imp

[2020-07-29 18:25] leobalter commented on #2719
I'm extremely confused. Please help me out of my ignorance here, can you limit the question to what relates to ECMAScript only?

This project does not observe WebAssembly specs and I'd be thankful if you can save me a time shortening the question to what might be wrong, not covered, or idk on TypedArrays or ArrayBuffer in this project.

Thanks

[2020-07-29 20:44] guest271314 commented on #2719
Tried to make the question as simple as possible by using code. Already filed an issue at WebAssembly/design, where was referred to JavaScript and implementers. From a front-end perspective the respective stakeholders either should have considered this already, and tested, or have not gotten around to testing `SharedArrayBuffer`, which appears to be the case when reading the Issues in this reposit

[2020-07-29 21:01] guest271314 commented on #2719
The buck has been passed from WebAssembly https://github.com/WebAssembly/design/issues/1358#issuecomment-665380081 to implementers

to JavaScript https://github.com/WebAssembly/design/issues/1358#issuecomment-665383491

back to WebAssembly

`WebAssembly.Memory.grow()` is implemented in JavaScript at the browser, and uses JavaScript language, `TypedArray`, `SharedArrayBuffer`, `Atomics`.

If implem

[2020-07-29 21:28] ljharb commented on #2719
In JS, TypedArrays and SharedArrayBuffers can't "grow"; their size is static.

https://github.com/tc39-transfer/proposal-resizablearraybuffer is a proposal to allow that.

[2020-07-29 21:36] leobalter commented on #2719
I believe this is not best the repo for you will to find the answer for your questions.

Test262 is limited to the ECMAScript suite and I don't even know what to say about the WebAssembly API.

We can discuss here about test coverage (not implementation) of `TypedArray`, `SharedArrayBuffer`, and `Atomics`. If there is a part of ECMAScript we are not observing through tests, please help me to addre

[2020-07-29 21:37] guest271314 commented on #2719
Well, `SharedArrayBuffer` can grow per `WebAssembly.Memory.prototype.grow(N)`. The problem appears to be that `TypedArray` was not specified for that application and nobody has bothered to document that although `grow()` is shipped, JavaScript has not specified a `TypedArray` that can "grow". That needs to be documented, in all of the relevant parties' specifications and repositories, if only as a

[2020-07-29 21:39] guest271314 commented on #2719
Well, yes, that is why filed this issue here. The cases are not tested right now.

Just happened to encounter this issue while experimenting with workarounds for the restrictions of different API's. Decided to let the relevant stakeholders know that their documentation - and testing - is lacking in this topic.

[2020-07-29 21:39] ljharb commented on #2719
@guest271314 I'm pretty sure SharedArrayBuffers can't grow per the JS spec; I don't know anything about WebAssembly.Memory. If wasm is specified in a way that conflicts with JS, then that seems like something to take up with wasm?

[2020-07-29 21:42] leobalter commented on #2719
That's a violation of the ECMAScript specs, therefore I cannot see how the problem relates to Test262.

You would be surprised that TypedArray is specified for a broader usage, indeed.

This is not the repo to address this, and for this I'll close this issue to value time of people working in this project. Please use the appropriate channels. I won't be able to help you here.

[2020-07-29 21:42] #2719 closed

[2020-07-29 21:42] guest271314 commented on #2719
Do any of you actually read the OP, the links, and the entire thread? Filed an Issue at WebAssembly/design first, where was referred to file a Chromium bug and that the scope was JavaScript.

Have the parties even actually discussed this convergence, as WebAssembly does use JavaScript and JavaScript does describe "abstractions" re `SharedArrayBuffer`, while appearing to stop short of actually defi

[2020-07-29 21:44] anba commented on #2719
`new Uint8Array(m.buffer, m.buffer.byteLength/2, m.buffer.byteLength);` where `m.buffer` is a (Shared)ArrayBuffer will always throw, because if there's N element long buffer, you start at N/2 and then request to use N elements, there's simple not enough space in the buffer.

There are ten apples (N), you can keep half of it (N/2), but ten apples you have to give away. That simply doesn't work, rig

[2020-07-29 21:44] guest271314 commented on #2719
Where? Cite your references.

Just cite the primary sources that you are talking about. Do not "believe" in anything. SHow the evidence for your claims.

Yes, it is. This repository should have already had tests for those cases, but have failed to do so thus far, and is still passing the buck, to whom, is unknown.

[2020-07-29 21:45] guest271314 commented on #2719
@anba That does not explain why `set()` variation throws.

[2020-07-29 21:51] leobalter commented on #2719
https://tc39.es/ecma262/#sec-sharedarraybuffer-objects

https://docs.tizen.org/application/web/guides/w3c/supplement/typedarray/

Have you seen what this project is? This is a project with tests. The only tests here are to cover ECMAScript specs and TC39 proposals in Stage 3.

I cannot offer you tests for cases you're just saying that needs to be documented. Please go through the adequate TC39 pro

[2020-07-29 21:54] anba commented on #2719
For the `set()` case:
- `const t_1 = encoder.encode('b'.repeat(m.buffer.byteLength/2));` creates an Uint8Array of length `m.buffer.byteLength/2`.
- `const u8_1 = new Uint8Array(m.buffer, m.buffer.byteLength/2);` creates another Uint8Array of length `m.buffer.byteLength/2`.
- `u8_1.set(t_1, m.buffer.byteLength/2);` assigns all elements of `t_1` into `u8_1`, starting at offset `m.buffer.byteLength/2

[2020-07-29 21:57] guest271314 commented on #2719
@leobalter What exactly is that "process". Some organizations use the term "process" or claim to have a "process" yet have no clue what real "proceess", or procedure is.

Am not interested in joining any organization just to point out the obvious. The obvious has already been pointed out. The closure of this issue demonstrates that the organization prefers to pass the buck rather than be the autho

[2020-07-29 21:58] guest271314 commented on #2719
@anba AFAICT there is no configuration or pattern that will "work".

[2020-07-29 22:02] leobalter commented on #2719
ok.

[2020-07-30 23:37] syg opened #2721 "built-ins/Atomics/notify/null-bufferdata-throws.js isn't testing what it says it's testing"
The comments suggest that it's testing for a substep in the IsSharedArrayBuffer AO when called from Atomics.notify. But the test detaches the buffer up front, which means a TypeError is thrown as part of step 1, inside the AO ValidateIntegerTypedArray.

[2020-08-08 01:36] devsnek commented on #427
More invalid tests:

language/expressions/compound-assignment/S11.13.2_A5.1_T4.js
language/expressions/compound-assignment/S11.13.2_A5.4_T4.js
language/expressions/compound-assignment/S11.13.2_A5.7_T4.js
language/expressions/compound-assignment/S11.13.2_A5.10_T4.js
language/expressions/compound-assignment/S11.13.2_A5.11_T4.js
language/expressions/compound-assignment/S11.13.2_A5.2_T4.js
language/ex

[2020-08-12 18:06] #1372 closed

[2020-08-20 17:24] rwaldron commented on #2721
In Ecma-262 8th edition, this test was correct. Following it backwards from [`IsSharedArrayBuffer`](http://www.ecma-international.org/ecma-262/8.0/#sec-issharedarraybuffer):

Which used to be called by [`ValidateSharedIntegerTypedArray`](http://www.ecma-international.org/ecma-262/8.0/#sec-validatesharedintegertypedarray):

Which was the first line of [`Atomics.wake`](http://www.ecma-international.

[2020-08-20 17:27] rwaldron commented on #2721
Also, I'm seeing a new path! There are now two places where bufferData is checked.

[2020-08-20 18:40] rwaldron commented on #2721
I'm unable to find a way to do this.

[2020-08-20 19:03] rwaldron commented on #2699
I checked off QuickJS because that project is not open source, so we cannot know if the author ever updates, unless they tell us directly, and even then it doesn't matter because it's not verifiable.

[2020-08-20 19:08] rwaldron commented on #2699
I checked GraalJS because I've reviewed their repository and found no references to the test262 repo or to a branch named `master`.

@leobalter please close when you've reviewed these changes.

[2020-08-20 19:10] rwaldron commented on #2452
I'm currently using these reports to aid in identifying coverage gaps.

[2020-08-20 19:10] #2452 closed

[2020-08-20 19:57] rwaldron commented on #2660
The semantics described are covered here: https://github.com/tc39/test262/blob/main/test/built-ins/Object/defineProperty/15.2.3.6-4-120.js

But what's peculiar is that this test was passing before the fix to V8: https://test262.report/browse/built-ins/Object/defineProperty/15.2.3.6-4-120.js?date=2019-07-01. So I looked at the change and the tests written for the change, and then looking at your te

[2020-08-20 21:32] sffc commented on #2682
@FrankYFTang Does 3c89cde3e02849cd9f06a1a8344b45af56c5e142 fully resolve @Constellation's issue in the OP?

[2020-08-20 21:42] #2068 closed

[2020-08-31 19:59] #2660 closed

[2020-09-03 13:26] rwaldron commented on #1793
This issue still exists, but is already covered in Test262. I've left a comment on the bug cited above.

[2020-09-03 13:26] #1793 closed

[2020-09-03 13:33] rwaldron commented on #1229
You're right, there is no existing explanation for that, however I believe there is no test that can be written that would actually need that combination of INTERPRETING.md flag semantics: "execution" is a runtime concept, and negative early SyntaxError tests are expected to failure before execution ever occurs. I think we just need to remove the async flag from these templates/cases (as long as n

[2020-09-04 03:34] sffc commented on #2628
The language tag canonicalization algorithm in UTS 35 is currently in flux, with an attempt to make it more clear and cover more of these edge cases.

@macchiati @FrankYFTang

[2020-09-04 13:26] rwaldron commented on #2089
@leobalter @caiolima did this ever get resolved?

[2020-09-04 13:32] #2721 closed

[2020-09-04 15:50] syg commented on #2721
Thanks for the history here!

[2020-09-04 18:42] #1183 closed

[2020-09-04 19:06] #1751 closed

[2020-09-04 20:32] rwaldron commented on #1365
I've re-read through all of the issues and PRs from 2017, and looked through existing test coverage and I'm not sure what's missing. We won't be adding tests for arbitrary invalid syntax, unless the spec explicitly calls out a syntax error.

[2020-09-04 20:52] adrianheine commented on #1365
Ok :)

[2020-09-04 20:52] #1365 closed

[2020-09-04 22:41] ptomato opened #2756 "Preparing test262 tests difficult for proposals under development"
In https://github.com/tc39/proposal-temporal we are developing a polyfill in tandem with the proposal text, and using the polyfill to write the test262 tests that are intended to eventually be merged into this repository when the proposal reaches the appropriate stage. The polyfill also has a Mocha- or Jasmine-style test suite which we are intending to rewrite as test262 tests over time.

I've fou

[2020-09-08 22:35] leobalter commented on #2756
The conceptions are valid and some ideas already exist. The biggest challenge is time, IMO.

Test262 doesn't have any official test runner, but offers documentation on how to interpret tests when executing them. This happens because, at least since before I got familiar with this project in 2014, we have many different venues running Test262 and creating different reports and setting their own mec

[2020-09-08 22:43] rwaldron commented on #2756
That's a lot to read. The only important thing I want to say is that you're not solely responsible for writing the tests. You can lean on the maintainers here to help you.

[2020-09-09 00:12] ptomato commented on #2756
Hold on, I did not mean this as a personal attack in any way! Please understand that. I see problems that are preventing me from achieving what I want to achieve with test262 and I'm willing to help solve them, that's all. I will maybe give this thread some time to cool off and then respond in more detail.

[2020-09-09 03:14] rwaldron commented on #2756
I think the issue is that you see what you believe to be a problem, but which is not a problem—in fact it's all very intentional, to serve a very specific purpose: provide the granularity and resolution that engine implementers expect.

[2020-09-09 03:35] leobalter commented on #2756
There are 3 different things described in the issue I can summarize here:

1. Test262 structure could have improvements.
2. You're facing challenges to write tests for a proposal.
3. There is a suggestion of multiple approaches that include combining files, setting a new API based on existing frameworks, and introducing mocking apis.

My answer tried to comprehend each item. I understand the struc

[2020-09-09 06:40] ljharb commented on #2756
@rwaldron the problem is that the definition of "implementers" has greatly expanded since test262's inception - from "4 well-funded large companies" to "those, plus infinite users who are intimately familiar with npm's conventions". Anything that only works for employees of the 4 browsers no longer fully meets the needs of implementors.

[2020-09-09 12:39] littledan commented on #2756
The experience of developers trying to upstream tests into test262 is an important problem. This applies for proposal authors, polyfill authors, engine implementers of any kind of engine (all of which Igalia does), and anyone else who wants to make upstream test262 tests. I think it would be valid to deprioritize improvements here due to limited maintainer capacity, but I don't understand the argu

[2020-09-09 15:24] leobalter commented on #2756
Who said that?

[2020-09-09 15:32] leobalter commented on #2756
Ok, I asked my removal of the admin group for Test262 and I no longer intend to maintain this project or insist repeating the same answers for things we once had goals in good faith for the long term.

I will certainly continue to write tests for proposals I'm involved and I'm available to support individuals who need help with specific help on contributing to this project, but preferably outside

[2020-09-09 15:53] rwaldron commented on #2756
Cool, because no one said that. I said that the thing @ptomato is describing as a problem, ie. one test per file, is intentional. If @ptomato opens a PR with all the tests in one file and states up front that they don't have the resources, time, bandwidth, whatever, to make more granular tests, I would 100% will work with that. The end result would definitely be smaller tests broken up into differ

[2020-09-09 16:00] devsnek commented on #2756
Just from an implementer perspective, I think a mocha-like setup seems objectively worse in at least two regards:

- Each individual test should only invoke javascript that is *needed* for that test.
- Each individual test should be able to run in a clean slate environment.

[2020-09-09 21:37] leobalter commented on #2699
I believe all the steps are complete but I failed to delete the master branch. Someone else with admin access would be able to do it and also remove the syncing circleci action. Please feel free to close this at any time.

[2020-09-10 19:22] #1964 closed

[2020-09-10 19:22] #2487 closed

[2020-09-10 19:23] #2451 closed

[2020-09-10 19:23] #2370 closed

[2020-09-10 20:07] #2371 closed

[2020-09-10 20:09] #1898 closed

[2020-09-10 20:22] #1229 closed

[2020-09-11 02:42] sffc opened #2762 "Add tests for ECMA-402 PR #501"
Test the following behavior:

https://github.com/tc39/ecma402/pull/501

@rkirsling

[2020-09-11 08:59] NWU-NISL opened #2763 "Coverage: missing “delete undefined.property” test"
**Description:**
We found a bug of the QuickJS engine. When deleting a property of an undefined object, the latest ES specification requires to throw a TypeError exception, but QuickJS not. After inspecting, we cannot find a similar test case as following from the `Test262 test suite` ([11.4.1-3 3.js](https://github.com/tc39/test262/blob/main/test/language/expressions/delete/11.4.1-3-3.js)).
 
**T

[2020-09-11 16:01] #2699 closed

[2020-09-11 16:09] NWU-NISL opened #2765 "Missing tests for Number.prototype.toPrecision"
**Description:**

We found Test262 lacks of the following test:

[code]

The test case triggers a bug of [JerryScript](https://github.com/jerryscript-project/jerryscript). When the input of the `toPrecision` method is a function Object or `NaN ` that is not the expected type, the ES specification claims that it should be transferred number by using `toInteger` method. After inspecting, we found th

[2020-09-11 16:38] NWU-NISL opened #2767 "Do extra parameters of a method need to be tested?"
**Description:**

ES specification claims that the `String.prototype.replace` method should be called with two parameters. When passing three or more parameters, mainstream JS engines like V8, JavaScriptCore, Charka, etc. ignore extra parameters and run correctly. But [Rhino](https://github.com/mozilla/rhino) throws a `SyntaxError` as the following test case:

[code]

We would like to know if it i

[2020-09-11 17:23] rwaldron commented on #2762
@FrankYFTang @ryzokuken Either of you want to take this?

[2020-09-11 17:27] rwaldron commented on #2767
No, because there is no specification that forbids a runtime from extending the API. [16.1 Forbidden Extensions](https://tc39.es/ecma262/#sec-forbidden-extensions)

[2020-09-11 17:27] #2767 closed

[2020-09-11 19:46] rwaldron commented on #639
- Multiline HTML comment tests: https://github.com/whatwg/javascript/issues/16 and https://mathias.html5.org/tests/javascript/comment-syntax/
  - The former was closed and I don't know if it was opened elsewhere. The latter is producing a server error..
  - If there are any cases not covered in https://github.com/tc39/test262/tree/main/test/annexB/language/comments, then please re-open this issue

[2020-09-11 19:46] #639 closed

[2020-09-11 20:30] #1598 closed

[2020-09-11 20:30] #1597 closed

[2020-09-11 20:34] rwaldron commented on #1545
There are now extensive relational comparison operator tests for BigInt values

[2020-09-11 20:34] #1545 closed

[2020-09-11 23:12] rkirsling commented on #2762
I believe this is already covered by https://test262.report/browse/intl402/fallback-locales-are-supported.js, which JSC and SM pass but V8 fails with the following:
[code]

[2020-09-12 01:25] NWU-NISL commented on #2767
Got it. Thanks@rwaldron

[2020-09-12 05:26] ljharb commented on #2767
However, it's still probably a good idea to file bugs on implementations that don't match web reality. Even though test262 may not allow tests that forbid things the specification *technically* allows, in practice, there is a massive pile of things that are de facto prohibited, and this case sounds like one of them.

[2020-09-12 08:19] NWU-NISL opened #2773 "Missing tests for Array.prototype.shift method"
**Description:**

ES specification states that if the length property of the argument passed to `Array.prototype.shift` method cannot be changed , JS engines should throw a `TypeError`. So if the inputting argument is a function object whose length property is unconfigurable as the following test case, JS engines should throw a `TypeError`. We didn't find a similar test case from Test262 test suit

[2020-09-12 08:27] NWU-NISL opened #2774 "Coverage: missing tests for Array.prototype.reduceRight method"
**Description:**
We found Test262 didn't cover all variable types of the second argument for the `Array.prototype.reduceRight` method shown as the following test case:

[code]

When the length of the obj is 0 and the second argument of the reduceRight method is `undefined`, the test case should be executed normally without throwing any exception. But JerryScript throws a TypeError exception( https

[2020-09-12 22:33] FrankYFTang commented on #2762
First of all, my understanding about the spec change in tc39/ecma402#501 is talking about [[AvailableLocales]] need to include "zh-CN" if the implementation include "zh-Hans-CN"

From what I can tell,
Intl.Collator.supportedLocalesOf(["zh-Hans-CN", "zh-Hans", "zh-CN", "zh"]) on v8 / chrome would return
(4) ["zh-Hans-CN", "zh-Hans", "zh-CN", "zh"]

which means "zh-CN" is included in [[AvailableLoca

[2020-09-12 23:21] rkirsling commented on #2762
Note that `supportedLocalesOf` doesn't help us here, because it returns any locale _with a fallback locale available_. For instance, `Intl.Collator.supportedLocalesOf(['zh-GB'])` does not return an empty array.

You would be right about `'best fit'`, but `getLocaleSupportInfo` [does](https://github.com/tc39/test262/blob/main/harness/testIntl.js#L166) specify `{ localeMatcher: 'lookup' }` so there

[2020-09-13 13:12] yeguixin commented on #2767
Thanks for your advice @ljharb

[2020-09-13 13:12] yeguixin commented on #2767
Thanks for your advice @ljharb

[2020-09-13 13:12] yeguixin commented on #2767
Thanks for your advice @ljharb

[2020-09-13 13:24] NWU-NISL commented on #2767
Thanks for your advice @ljharb

[2020-09-14 06:54] sffc commented on #2762
Yes.  There shouldn't be anything to fix.  The intent of the spec change is to more strictly enforce what's already web reality.

[2020-09-14 15:59] rwaldron commented on #1827
Superseded by [YAML formatting restrictions](https://github.com/tc39/test262/issues/1997)

[2020-09-14 15:59] #1827 closed

[2020-09-14 16:03] rwaldron commented on #2762
@sffc @rkirsling @FrankYFTang can this issue be closed?

[2020-09-14 17:02] sffc commented on #2762
We should still add tests for the behavior even though it's web reality.  We don't want browsers to start regressing.

[2020-09-14 17:29] #2121 closed

[2020-09-14 17:35] #2763 closed

[2020-09-14 17:36] #2765 closed

[2020-09-14 17:39] #422 closed

[2020-09-14 17:40] #659 closed

[2020-09-14 17:48] rkirsling commented on #2762
@sffc Right, but the understanding above is that they already exist?

[2020-09-14 17:56] FrankYFTang commented on #2762
opps... you are right. Somehow I missed that. Yea, that is why chrome fail the test I think.

I agree with @rkirsling , with the fact that supportedLocalesOf is calling with localeMatcher: 'lookup' the test262 already cover. And all the rest to be done is for v8 to fix the bug in the implementation, verified by the preexisting test262 test as suggested by @rkirsling .

I agree to close this issue.

[2020-09-14 18:10] rwaldron commented on #2773
This _is_ tested, but not with a function object. I'll update the test to include more objects where `length` would produce this outcome.

[2020-09-14 18:35] rwaldron commented on #2774
It is the _presence_ of a second argument that prevents the TypeError from occuring, not whether the argument's value is `undefined` or something more meaningful. The same is true for `[].reduce(() => {}, undefined)`:

(https://tc39.es/ecma262/#sec-array.prototype.reduceright)

`undefined` is a perfectly valid _initialValue_.

[2020-09-14 18:35] #2774 closed

[2020-09-14 18:35] sffc commented on #2762
I see, yes.  Fine to close then.  Thanks!

[2020-09-14 20:33] #2762 closed

[2020-09-14 20:33] rwaldron commented on #2762
Thanks everyone!

[2020-09-14 20:34] #2478 closed

[2020-09-14 20:37] rwaldron commented on #2120
The associated PR https://github.com/tc39/ecma262/pull/1498 hasn't had author activity since June 2019. We can reopen here if there is anything that needs to be done in Test262

[2020-09-14 20:37] #2120 closed

[2020-09-14 21:04] rwaldron commented on #1759
This is covered more extensively in https://github.com/tc39/test262/tree/master/test/language/identifiers

[2020-09-14 21:04] #1759 closed

[2020-09-14 21:07] #1757 closed

[2020-09-14 21:07] rwaldron commented on #1254
Like @adrianheine said, this is done.

[2020-09-14 21:07] #1254 closed

[2020-09-15 07:35] NWU-NISL commented on #2774
Yes, `undefined` is a valid _initialValue_. According to the ES specification, JS engines should output `undefined` instead of throwing a TypeError exception. After inspecting, we found Test262 contains test cases where `initialValue` is [`Number`](https://github.com/tc39/test262/blob/main/test/built-ins/Array/prototype/reduceRight/15.4.4.22-5-9.js) and [`String`](https://github.com/tc39/test262/b

[2020-09-15 20:34] #427 closed

[2020-09-15 20:34] #2078 closed

[2020-09-15 20:35] #2773 closed

[2020-09-15 21:33] rwaldron commented on #1232
There are currently no files in that directory that are missing the `generators` feature.

[2020-09-15 21:33] #1232 closed

[2020-09-15 21:34] rwaldron commented on #1233
`assert.throws.early` no longer exists

[2020-09-15 21:34] #1233 closed

[2020-09-15 21:39] rwaldron commented on #1179
Covered in test/language/expressions/assignment/dstr/obj-id-identifier-yield-ident-invalid.js

[2020-09-16 18:57] rwaldron commented on #1732
I realize it's been 2 years since you created this issue, but I'm trying to figure out which tests you were referring to and having no luck.

[2020-09-16 20:56] leobalter commented on #1732
I can't remember the origin tests, maybe they've been removed as this issue is open?

IIRC, I've seen a case using `..method` and created the exmaples here. Just adding test file(s) for `<literal>..toString(n)` should be good enough, I believe.

[2020-09-16 21:37] #742 closed

[2020-09-17 13:59] #1754 closed

[2020-09-17 15:58] NWU-NISL opened #2788 "Incomplete test coverage of Object.assign method"
**Description:**

Test262 may lack the test case where the `target` and `source` arguments of the Object.assign method are both string types as the following example:
[code]
This test case caused a bug(https://github.com/mozilla/rhino/issues/667) of [Rhino](https://github.com/mozilla/rhino).

**Rhino Version:**
rhino-1.7.12

**Rhino Output:**
[code]

**Expected Output:**
[code]

**ECMA262 Link:**

[2020-09-17 16:18] NWU-NISL opened #2789 "Coverage: missing tests for constructor Error"
**Description:**
We found that Test263 didn't cover the test case where the `message` argument of `Error` method is set to be `undefined`, such as the following example:
[code]
The above test case triggered a bug(https://github.com/facebook/hermes/issues/252) of [Hermes](https://github.com/facebook/hermes).

**Hermes Version:**
[b6530ae](https://github.com/facebook/hermes/commit/b6530ae7e25604839c

[2020-09-17 20:21] #2788 closed

[2020-09-17 20:22] #1179 closed

[2020-09-17 20:23] #1268 closed

[2020-09-17 20:24] #1741 closed

[2020-09-17 20:24] #1732 closed

[2020-09-17 21:53] rwaldron commented on #1743
I think this belongs in a stress test suite.

[2020-09-17 21:53] #1743 closed

[2020-09-18 14:59] caiolima commented on #2089
I don't think it was solved. I don't remember adding those cases and last update on obj rest tests are from https://github.com/tc39/test262/commit/29627e892be455f2685057a68d62c64e0d7aa30c

[2020-09-18 20:19] #1742 closed

[2020-09-18 20:27] rwaldron commented on #1740
This is tested extensively

[2020-09-18 20:27] #1740 closed

[2020-09-18 20:32] rwaldron commented on #2774
`initialValue = undefined`: https://github.com/tc39/test262/blob/5e3761f5c8347370880ca86e54a6af7c746dcc1b/test/built-ins/Array/prototype/reduceRight/15.4.4.22-9-c-ii-20.js

[2020-09-18 20:38] rwaldron commented on #2327
Please reopen for further discussion

[2020-09-18 20:38] #2327 closed

[2020-09-18 20:42] #2789 closed

[2020-09-18 21:02] rwaldron commented on #1593
Since there hasn't been a response in over two years, I want to assume this is resolved. Please reopen if there are further issues.

[2020-09-18 21:02] #1593 closed

[2020-09-19 09:18] shvaikalesh commented on #2089
JSC bug: [Add the property to be excluded from the rest operation of the object as string](https://bugs.webkit.org/show_bug.cgi?id=216437).

A coverage PR is on the way.

[2020-09-19 15:36] NWU-NISL opened #2797 "Possible incomplete test coverage of String.prototype.replace method"
**Description:**

We found Test262 may missing the test case where the second argument of the `String.prototype.replace` method is a regex expression. Like the following test case:

[code]

This test case caused a bug(https://github.com/mozilla/rhino/issues/726) of [Rhino](https://github.com/mozilla/rhino) which didn't covert the regex expression to a string.

**Rhino Version:**

rhino-1.7.12

**R

[2020-09-21 19:54] rwaldron commented on #2797
Coverage exists for calling the `toString` method of the second argument, but not explicitly for a regexp object.

[2020-09-22 02:26] NWU-NISL opened #2803 "Missing tests for Array.prototype.pop method"
**Description:**
We found that Test262 missing the test case where the argument of the "Array.prototype.pop.call" method is non-object type, such as the following example:

[code]
This test case caused a [bug] (https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8240298) of Nashorn which threw a`TypeError` exception because it didn't perform `ToObject` operation when the argument is false.

[2020-09-22 02:39] NWU-NISL opened #2804 "Coverage: missing tests for Object.getOwnPropertySymbols method"
**Description:**

We found Test262 lacks the test case where the argument of the `Object.getOwnPropertySymbols` method is non-object type, such as:

[code]

The above test case successfully triggered a [bug](https://github.com/jerryscript-project/jerryscript/issues/3380) of JerryScript.

**jerryscript Version:**

[996bf76](https://github.com/jerryscript-project/jerryscript/commit/996bf76f5956c6534

[2020-09-22 07:44] NWU-NISL commented on #2774
Got it. Thanks.

[2020-09-22 14:37] #2797 closed

[2020-09-22 14:37] #1749 closed

[2020-09-22 14:37] #1736 closed

[2020-09-22 16:06] rwaldron opened #2809 "Array.prototype.item()"

[2020-09-22 16:06] rwaldron opened #2810 "String.prototype.item()"

[2020-09-22 16:14] rwaldron opened #2811 "%TypedArray%.prototype.item"

[2020-09-23 13:14] #982 closed

[2020-09-23 13:36] NWU-NISL opened #2813 "Incomplete test coverage of String.prototype.split method"
**Description:**

We found that Test262 may lack the following two test cases:

* Testcase1:

[code]

**Engine Version:**

[jerry-996bf76](https://github.com/jerryscript-project/jerryscript/commit/996bf76f5956c65342c1726d3f629fbea41320ab)

**Output 1:**

[code]

**Expected Output 1:**

[code]

------

* Testcase2:

[code]

**Engine Version:**

[hermes-b6530ae](https://github.com/facebook/hermes/tr

[2020-09-23 14:55] NWU-NISL opened #2814 "An interesting test case related to the eval method"
**Description:**

Test262 may miss the test case where the argument name of a function is `eval`, like the following example:

[code]

The test case triggered a bug of the QuickJS engine which treats the local variable `eval` as the API function call of JS engine.

**QuickJS Version:**

quickjs-2019-09-01

**QuickJS Output:**

[code]

**Expected Output:**

[code]

[2020-09-23 15:07] rwaldron commented on #2814
I'm not sure what the issue is? There is certainly a bug in QuickJS, but Test262 has this covered:

- `eval` is allowed as the name of a formal parameter in **non-strict code**:
  - https://github.com/tc39/test262/blob/main/test/language/expressions/function/param-eval-non-strict.js
  - https://github.com/tc39/test262/blob/main/test/language/statements/function/param-eval-non-strict.js
- `eval` is

[2020-09-24 18:52] #2803 closed

[2020-09-24 18:53] #2804 closed

[2020-09-24 18:54] #2813 closed

[2020-09-24 18:54] #2814 closed

[2020-09-24 19:09] #1031 closed

[2020-09-24 19:16] rwaldron commented on #1047
Since no one has stepped in to do this and I've had no issues checking the spreadsheet, I'm going to close this issue. @leobalter you're welcome to re-open if you find the time, or can assign someone to do it.

[2020-09-24 19:16] #1047 closed

[2020-09-24 21:23] #2809 closed

[2020-09-24 21:23] #2810 closed

[2020-09-24 21:23] #2811 closed

[2020-09-25 16:54] rwaldron commented on #1733
This was covered in 6a428b4a40feca6733b47e13b6b719cfe14ecf51

[2020-09-25 16:54] #1733 closed

[2020-09-25 17:15] #670 closed

[2020-09-25 17:16] #1049 closed

[2020-09-25 17:30] #1734 closed

[2020-09-25 17:46] rwaldron commented on #2089
Resolved in https://github.com/tc39/test262/commit/be99a3e519841d2f495cc64a272a1e3eb4440b5b

[2020-09-25 17:46] #2089 closed

[2020-09-25 19:54] #1750 closed

[2020-09-25 20:19] rwaldron commented on #1748
These cases are all covered in:

- https://github.com/tc39/test262/tree/main/test/built-ins/Object/prototype/hasOwnProperty
- https://github.com/tc39/test262/tree/main/test/built-ins/Object/prototype/propertyIsEnumerable

[2020-09-25 20:19] #1748 closed

[2020-09-29 15:03] devsnek opened #2834 "computed property tests for classes are missing class-fields-* features"
cc @rwaldron

[2020-09-30 13:43] rwaldron commented on #2834
Thanks!

[2020-09-30 15:51] #2834 closed

[2020-10-01 02:40] qwerasd205 opened #2841 "Incorrect behaviour in test"
I was looking through tests trying to find interesting behavior when I stumbled upon [this test](https://github.com/tc39/test262/blob/master/test/language/types/string/S8.4_A7.1.js)
[code]
The code
[code]
is wrong, though, as you might notice it has no inner quotes so the attempted evaluation is
[code]
Quotation marks should be added to fix this (i.e. `eval("var x = \"asdf\u000Aghjk\"")`, which in

[2020-10-01 02:43] qwerasd205 commented on #2841
There are also three similar tests with the same bug, [this one](https://github.com/tc39/test262/blob/master/test/language/types/string/S8.4_A7.2.js), [this one](https://github.com/tc39/test262/blob/master/test/language/types/string/S8.4_A7.3.js), and [this one](https://github.com/tc39/test262/blob/master/test/language/types/string/S8.4_A7.4.js)

[2020-10-01 03:09] qwerasd205 commented on #2841
Additionally it seems that [this test](https://github.com/tc39/test262/blob/master/test/language/line-terminators/S7.3_A2.1_T2.js) and [this test](https://github.com/tc39/test262/blob/master/test/language/line-terminators/S7.3_A2.2_T2.js) test what these broken ones are supposed to, but correctly (Though, I haven't checked if the newlines at the start/end are the correct character)

[2020-10-01 14:38] rwaldron commented on #2841
The eval tests are all correct. Using the <LF> test as an example:

[code]
A ReferenceError is correct, because the code itself is parsed as:

[code]

Which is valid, but when it's evaluated, the identifier `asdf` doesn't exist, so a ReferenceError exception occurs.

[2020-10-01 14:38] #2841 closed

[2020-10-01 19:44] qwerasd205 commented on #2841
Yes, but the *description* of the test reads "<LF> between chunks of one string not allowed," implying it is meant to test strings, not identifiers. It's *testing* the wrong thing.

[2020-10-03 05:44] NWU-NISL opened #2843 "Missing tests for TypedArray.prototype.sort method"
**Description:**

The ES standard states that when the argument of `%TypedArray%.prototype.sort` is `undefined`, the JS engines should not throw a `TypeError` exception. After inspecting, we did not find a similar test case in the Test262 test suite as the following example:

[code]

This test case caused a [bug](https://github.com/microsoft/ChakraCore/issues/6503) of [chakra](https://github.com/m

[2020-10-03 05:50] NWU-NISL opened #2844 "Missing tests for Reflect.apply method"
**Description:**

We found that Test262 may miss the test case where the third argument of the `Reflect.apply` method is non-object type, such as the following example:

[code]

This test case caused a bug of QuickJS which didn't throw a `TypeError` exception when the third argument is `undefined`.

**QuickJS Version:**

QuickJS-2020-04-12

**QuickJS Output:**

[code]

**Expected Output:**

[code]

[2020-10-03 06:16] NWU-NISL opened #2845 "Coverage: missing tests for Object.seal method"
**Description:**

We found that Test262 may miss the test case where the argument of the `Object.seal` method is a string instance created by the `new` operator, such as the following example:

[code]

This test case caused a [bug](https://github.com/mozilla/rhino/issues/770) of rhino.

**Rhino Version:**

rhino-1.7.12

**Rhino Output:**

[code]

**Expected Output:**

[code]

**ECMA262 Link:**

1.

[2020-10-05 14:53] #1737 closed

[2020-10-05 15:06] #2843 closed

[2020-10-05 16:02] rwaldron commented on #2844
There is a test that very explicitly checks this behavior: https://github.com/tc39/test262/blob/main/test/built-ins/Reflect/apply/arguments-list-is-not-array-like.js ...and qjs is actually passing that test correctly. What's failing is that qjs is treating `Reflect.apply(..., ..., undefined);` differently! I'll add a test for this and other similar cases.

[2020-10-05 16:20] rwaldron commented on #2844
Found another bug in qjs: `Reflect.apply(Math.round, null)`

[2020-10-05 17:56] #2844 closed

[2020-10-05 18:38] #2845 closed

[2020-10-06 15:21] rwaldron opened #2850 "Permit Symbol as WeakMap key and WeakSet entry"
https://github.com/tc39/ecma262/pull/2038

[2020-10-06 16:01] #1739 closed

[2020-10-06 18:50] caiolima opened #2852 "Missing tests for private fields with primitive receivers"
It seems that we are missing cases where we have non-object receivers accessing private fields. From Spec text[1][2], it calls `ToObject` before accessing those members.

[1]- https://tc39.es/proposal-class-fields/#sec-putvalue
[2]- https://tc39.es/proposal-class-fields/#sec-getvalue

[2020-10-06 18:53] ptomato commented on #2756
Hi! I'd like to start out by saying that one new thing I have learned from this thread is that it's not necessary to use test262-harness with test262. Thank you for clarifying that. So I will hopefully be able to solve at least one of my problems (the long execution time caused by test262-harness parsing and executing the Temporal polyfill for every test) with a custom harness for Temporal.

That

[2020-10-07 21:33] rwaldron commented on #2852
Do understand this correctly?

[code]

[2020-10-08 22:57] sffc opened #2857 "Add tests for ECMA-402 PR #429"
https://github.com/tc39/ecma402/pull/429

[2020-10-09 12:11] caiolima commented on #2852
Yes, this does the job. I was thinking in something like, but I think they are essentially the same:

[code]

[2020-10-09 20:36] #2852 closed

[2020-10-12 18:47] sffc opened #2861 "Add tests for ECMA-402 PR #444"
https://github.com/tc39/ecma402/pull/444 is a small PR filling in a gap in the spec.  We should ensure there is test coverage for it.

[2020-10-13 02:03] jsjzgy opened #2862 "test the ES5.X"
I want to test the ES5.X test cases separately. How can I separate ES5.X test cases from this code library?

[2020-10-14 03:16] sffc commented on #2857
Done in https://github.com/tc39/test262/pull/2858

[2020-10-14 03:16] #2857 closed

[2020-10-14 18:31] rwaldron commented on #2862
Test262 only supports testing the latest draft specification + stage 3 proposals. If you use the `features` flags to omit tests that you don't want to include, you could probably get pretty close to ES5, since the `features` mechanism was only introduced for ES6.

[2020-10-15 03:41] jsjzgy commented on #2862
Are the feature flags in the features.txt file all the features supported by the ES? What is the granularity of the list?

[2020-10-16 22:01] tudorms opened #2865 "File path length issue in Windows"
It looks like [this PR](https://github.com/tc39/test262/pull/2815) ([this commit](https://github.com/tc39/test262/pull/2815/commits/deb1bacc1007a6142d209eaec9bf3dcbd8756406) specifically) renamed some of the test files to exceedingly long filenames.

This is causing issues on Windows machines where the path is limited to 260 characters.

This may be worked around locally in Windows 10 by using Gro

[2020-10-16 23:16] syg opened #2866 "export-expname-from-binding-string.js is wrong"
https://github.com/tc39/test262/blob/ad8a5e9940ee60d1ecb6e150b7aecf09b17545dd/test/language/module-code/export-expname-from-binding-string.js#L20

That line tries to re-export an import named `Mercury`.

https://github.com/tc39/test262/blob/ad8a5e9940ee60d1ecb6e150b7aecf09b17545dd/test/language/module-code/export-expname_FIXTURE.js doesn't have an export named `Mercury`, only `☿`.

cc @bfarias-god

[2020-10-17 00:34] rwaldron commented on #2865
Thanks for the report. I'll take a look next week.

[2020-10-17 04:05] syg commented on #2866
@rwaldron That fix isn't right, there are other tests that do depend on that file exporting a binding named `☿`, like https://github.com/tc39/test262/blob/main/test/language/module-code/export-expname-from-string-binding.js

You'd need to export both `☿` and `Mercury` to cover all the cases.

[2020-10-17 13:04] rwaldron commented on #2866
That'll teach me to work on tests late at night 😴

[2020-10-17 23:18] devsnek commented on #2866
It seems this introduced one more bug:

![](https://gc.gy/70681663.png)

[2020-10-19 13:30] rwaldron commented on #2862
@jsjzgy That _should_ be every feature added since ES5.1, but the practice wasn't fully established back in 2015, so there may be ES6 features that were missed, but I wouldn't be opposed to adding them and updating all the tests that would need such flags.

As for granularity: the rule is generally that, if a test file contains any code that makes use of a feature that has a corresponding feature

[2020-10-19 14:22] #2865 closed

[2020-10-19 21:47] #2866 closed

[2020-10-27 21:03] rwaldron opened #2879 "Align Detached Buffer Semantics: test update needs, from QuickJS"
From QuickJS:

- [x] test/built-ins/TypedArray/prototype/every/BigInt/callbackfn-detachbuffer.js:35: Test262Error: Expected a TypeError to be thrown but no exception was thrown at all (Testing with BigInt64Array.)
    - updated
- [x] test/built-ins/TypedArray/prototype/every/callbackfn-detachbuffer.js:28: Test262Error: Expected SameValue(«1», «2») to be true (Testing with Float64Array.)
    - this

[2020-10-29 03:11] jswalden opened #2881 "Can ungodly-long test file names be avoided?"
I just updated SpiderMonkey's test262 import.  Most of the tests run without issue, but https://github.com/tc39/test262/blob/main/test/built-ins/Object/seal/object-seal-the-configurable-attribute-of-all-own-properties-of-o-are-set-from-true-to-false-and-other-attributes-of-the-property-are-unaltered.js and https://github.com/tc39/test262/blob/main/test/built-ins/Object/seal/object-seal-the-configu

[2020-10-29 03:19] jswalden commented on #2881
@rwaldron You added these particular tests -- any chance you could rename them?  (and maybe ideally the others that are crazy-long in the same directory)

[2020-10-29 17:30] rwaldron commented on #2881
@jswalden these used to be named things like "S15_1.a.iii.foo_bar.js" and I'm working to rename those to something that gets generated from their `description: ...`.

Sure, I can rename them.

[2020-10-29 17:30] #2881 closed

[2020-10-30 11:55] bellard commented on #2879
Some remarks:

- test/built-ins/TypedArray/prototype/every/callbackfn-detachbuffer.js: "loops" should be "1" instead of "2" because once the buffer is detached, "HasProperty(O, Pk)" returns false and the callback is no longer called:
----
Repeat, while k < len,

    Let Pk be ! ToString(𝔽(k)).
    Let kPresent be ? HasProperty(O, Pk).
    If kPresent is true, then
        Let kValue be ? Get(O, Pk

[2020-11-02 17:20] #2879 closed

[2020-11-02 20:02] rkirsling commented on #2879
My understanding here was that the typed array methods lacking explicit algorithms (e.g. [`every`](https://tc39.es/ecma262/#sec-%typedarray%.prototype.every)) aren't meant as a precise delegation to the array method so much as a hand-wavey "change what should be changed for typed arrays", in an analogous way to the methods that are made explicit (e.g. [`map`](https://tc39.es/ecma262/#sec-%typedarr

[2020-11-03 00:21] rkirsling commented on #2879
Spec PR is ready at https://github.com/tc39/ecma262/pull/2221.

[2020-11-03 04:41] 77ganesh opened #2893 "Test cases for invalid escape sequences preceeding "use strict""
Currently there are test cases to check invalid escape sequences like #2653

However I don't see any test cases for the note mentioned in [B.1.2](https://tc39.es/ecma262/#prod-annexB-NonOctalDecimalEscapeSequence).

`function invalid() { "\8"; "use strict"; }`

Can these be added if not already present?

[2020-11-03 22:29] #1015 closed

[2020-11-03 22:30] rwaldron commented on #1065
This was completed in 2018

[2020-11-03 22:30] #1065 closed

[2020-11-03 22:31] rwaldron commented on #1016
`assert.throws.early` no longer exists

[2020-11-03 22:31] #1016 closed

[2020-11-04 18:46] #2893 closed

[2020-11-09 09:33] bellard opened #2895 "Missing test for function length and parameter destructuring"
I suggest to add a test with:

assert.sameValue( (([a,b]) => {}).length, 1);
assert.sameValue( (({a,b}) => {}).length, 1);

[QuickJS returned "0" in previous versions and it was not detected by test262.]

[2020-11-09 09:38] bellard opened #2896 "Missing test for read-only function expression name"
I suggest to add a test to check the behavior of the function expression name in non strict and strict modes. Here is an example of test:

[code]

[In particular, QuickJS did not trigger a TypeError in all cases and it was not catched by test262. Other engines may have similar issues.]

[2020-11-11 09:53] bellard opened #2897 "Broken test: language/global-code/decl-lex-configurable-global.js"
language/global-code/decl-lex-configurable-global.js is broken because the test defines :

let Array;

while the global variable "Array" is read in the "propertyHelper.js" include before, yielding an access to an uninitialized let variable in the TDZ.

A solution would be to use another global property which is not accessed by sta.js, assert.js and propertyHelper.js.

[Note that the test passes in

[2020-11-14 03:43] NWU-NISL opened #2902 "Coverage: missing tests for Array.prototype.reverse method"
**Description:**

The ES standard stipulates that if `Array.prototype.reverse` is called on an array with a length of 1, the JS engine should not execute the fifth step and directly execute the sixth step.

After consulting the Test62 test suite, I found that Test262 seems to be missing the situation when the array is unmodifiable, like the following test case:

[code]

This test case caused a [bu

[2020-11-18 19:00] #2897 closed

[2020-11-18 21:30] #2896 closed

[2020-11-18 21:44] #2895 closed

[2020-11-19 11:46] codehag opened #2909 "Discussion on automation"
@leobalter and I have been chatting about automation. For the website, I need some metadata across all proposals and test262. This will require some maintenance from everyone in committee.

On the side of test262 -- I would need a way to verify which proposal a given issue or pr is addressing. This can be as simple as a link.

On the other hand, there might be space for even more automation here.

[2020-11-19 22:02] rkirsling commented on #2879
Update: tc39/ecma262#2221 got consensus in this week's plenary.

[2020-11-21 06:59] leobalter commented on #2909
Summoning @rwaldron to the loop. I'm not maintaining Test262 but I can provide feedback from my experience with the project.

[2020-11-21 07:05] leobalter commented on #2909
I'd love to find ways to read spec text and extract coverage/test plans. I imagine a list of items pointing out to parts of the specs that could be extracted to form new test files with preset metadata and perhaps a file name. I believe there is a good path to explore this way, but it also needs time investment.

One the goals is to provide support to anyone contributing to the project, including

[2020-12-02 21:34] #2902 closed

[2020-12-03 23:31] leobalter commented on #2663
Reopening this with a question, should we remove the [tools/packaging](https://github.com/tc39/test262/tree/main/tools/packaging) folder as well?

cc @rwaldron @syg

[2020-12-03 23:43] syg commented on #2663
Having stuff in tree is easier than having to sync another repo for V8, but I don't really have strong opinions here.

Ideally we should deduplicate `parseTestRecord.py`. The copy inside tools/packaging has diverged from the copy in https://github.com/test262-utils/test262-harness-py.

[2020-12-08 01:58] rwaldron commented on #2663
I also don't have a strong opinion about this. I generally err on the side of caution, which sometimes leads to dead weight, but maybe someone, somewhere depends on the dead weight 🤷🏼‍♂️

[2020-12-08 20:31] rwaldron opened #2915 "Detached Array Buffer semantics, follow-ups."
From @rkirsling

I'll make these updates during my 12/9 work day.

[2020-12-09 17:36] rwaldron commented on #2915
@rkirsling I have a few questions, each of which assumes the following:

[code]

`a.includes(/* anything */)` would return `false`, should `u8.includes(/* anything */)` be consistent?

Similarly, `a.join() === ""`—shouldn't `u8.join() === ""`?

[2020-12-09 18:12] rwaldron commented on #2915
I think I answered my own question—those expectations are when detachment occurs after `ValidateTypedArray`

[2020-12-13 23:18] bathos opened #2920 "Test for NewExpression -> new MemberExpression -> new SuperProperty"
Currently, V8, JSC, and SpiderMonkey all exhibit different behaviors for this construction.

In V8, a runtime ReferenceError is thrown when the expression is evaluated ([chromium issue](https://bugs.chromium.org/p/v8/issues/detail?id=11261)).
In JSC, an early SyntaxError is thrown ([webkit issue](https://bugs.webkit.org/show_bug.cgi?id=219841)).
In SpiderMonkey, no error is thrown and behavior is.

[2020-12-14 14:12] ynahmany commented on #1730
Hi @leobalter,
is this one still relevant?

[2020-12-14 14:20] rwaldron commented on #1730
@ynahmany Neither @leobalter or I have had a chance to follow up on this. It involves reviewing the test linked above, then searching through Test262 to determine existing coverage and whether or not its sufficient. Once determined, this would either be closed, or new tests would be written.

[2020-12-14 14:49] ynahmany commented on #1730
@rwaldron thanks for the quick reply.
Sounds like some work needs to be done in order to validate the value for such tests.
I am actually want to start contributing, any other low hanging fruit for me here perhaps?

[2020-12-14 18:01] ynahmany commented on #1730
@rwaldron sure!!
any good recommendations about how to start?

[2020-12-14 18:32] rwaldron commented on #1730
Take a look in `test/built-ins/Array/*` (there's a lot there!) for tests that include `Proxy` and familiarize yourself with what is being covered. Then in `test/built-ins/Proxy/*`, find all the tests that operate on arrays and build the same familiarity. Once you feel like you have a good grasp on what's covered, look in the test that @leobalter linked to and see if there is anything in there that

[2020-12-14 19:03] leobalter commented on #1730
@ynahmany I second everything already said by @rwaldron here. Thanks for contributing to the project!

Yes, the given test is a bit stressing out repetition, which is beyond of the scope for covering the specs text. Ideally in the OP I just wanted to make sure we cover Array methods using Proxies as the this value, making sure they act normal, like a regular array. Some variations could be as in t

[2020-12-14 19:20] leobalter commented on #2920
It seems like a valid case. I'd need to run through the tests to find something but I believe the search will be challenging for the object methods.

One way to potentially find equivalent tests would be searching for failures in V8 runs for the class and objects tests. Although, I'm not finding anything like it so far. Ref https://test262.report/browse/language/statements/class/super?date=2020-12

[2020-12-14 19:31] rwaldron commented on #1730
@leobalter thanks for the additional details!

[2020-12-16 16:59] #2915 closed

[2020-12-25 23:52] bakkot opened #2922 "Tests for coercion of arguments in Date `set*` methods on invalid Date objects"
https://github.com/tc39/ecma262/pull/2136 more completely specifies treatment of arguments for `Date.prototype.{setDate, setFullYear, setHours, setMilliseconds, setMinutes, setMonth, setSeconds, setUTCDate, setUTCFullYear, setUTCHours, setUTCMilliseconds, setUTCMinutes, setUTCMonth, setUTCSeconds}` (all of the `set*` methods except `setTime`, which is simpler), as well as the Annex B method `Date.

[2020-12-29 15:46] lygstate opened #2926 "Can we create a branch for es2015"
es2015 is a big release that contains much functional.

[2020-12-31 16:09] rwaldron commented on #2926
This project does not have the resources to do such a thing.

[2020-12-31 16:09] #2926 closed

[2021-01-06 16:48] zbraniecki opened #2928 "Test for en-US-posix"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1685075 we found a potential bug in JSC/V8 behavior around `en-US-posix` canonicalization. @anba believes the bug to be different for JSC and for V8, but the end result is that `en-US-posix` locale, which is present in CLDR data, is always stripped of the variant because JSC/V8 use ICU for canonicalization and that's the behavior ICU uses.

@FrankYFT

[2021-01-11 23:46] FrankYFTang commented on #2928
There is a fix related to en-US-posix recently. And I cherrypick that to the latest v8 trunk.
The current v8 trunk show the following
[code]

[2021-01-12 00:00] FrankYFTang commented on #2928
I believe are facing two different issue here
1. what is the name of the locale after canonicalization for "en-US-posix"
2. the sorting order for "en-US-posix"
The #2 issue is a simpler one, because I know the cause is because we remove the collation data in our filter file. I may add them back  https://bugs.chromium.org/p/v8/issues/detail?id=11304

[2021-01-12 00:12] zbraniecki commented on #2928
I am less concerned about (2), since implementers are free to chose which locales they carry data for, and our spec is supposed to handle lack of data for `es-US-posix` gracefully.

I am *much* more concerned about (1), as it seems like ICU4C internal logic leaking onto most popular ECMA-402 implementation in a spec-incompatible way.
`es-US-posix` is a valid language identifier and, if I'm not mis

[2021-01-12 01:28] FrankYFTang commented on #2928
ok, if (1) is what you are concerning about, I will look into the reason why is that changed.

[2021-01-12 01:35] FrankYFTang commented on #2928
I have not fully understand the whole picture yet, but read this first
http://unicode.org/reports/tr35/#Legacy_Variants
[code]

[2021-01-12 01:39] FrankYFTang commented on #2928
Notice "POSIX" is not a registered variant you can find in
https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry

[2021-01-12 15:38] zbraniecki commented on #2928
I see. So it seems that https://tc39.es/ecma402/#sec-canonicalizeunicodelocaleid calls https://unicode.org/reports/tr35/#Canonical_Unicode_Locale_Identifiers which calls https://unicode.org/reports/tr35/#Legacy_Variants .

I'll report back in the Mozilla ticket.

[2021-01-12 16:27] zbraniecki commented on #2928
In the downstream ticket, Anba responded:

[2021-01-12 16:27] zbraniecki commented on #2928
@FrankYFTang ^ thoughts?

[2021-01-12 19:52] FrankYFTang commented on #2928
I agree with what Anba said about the lack of connection between that two sections in the current version of UTS35 and I try to get Mark Davis who author UTS35 to look into this. It could be something he missed and need to add back to UTS35. So could we held the adding that test for now? Notice "POSIX" is not a registered variant you can find in
https://www.iana.org/assignments/language-subtag-reg

[2021-01-13 12:09] caiolima opened #2931 "Missing tests for super biding on class fields initializer"
We have tests verifying super biding on initializer and even super called from eval, but we are missing tests where super is used within arrow function defined as class field. The motivation behind this test case is a [bug](https://bugs.webkit.org/show_bug.cgi?id=220558) found on JSC implementation.

[2021-01-14 21:37] sffc opened #2933 "Add tests for ECMA-402 PR #500"
https://github.com/tc39/ecma402/pull/500

[2021-01-18 14:41] #2931 closed

[2021-01-21 08:24] cameron21124 opened #2938 "?"

[2021-01-21 08:28] #2938 closed

[2021-01-21 19:35] jugglinmike commented on #2862
We had a good conversation about this a few years ago: https://github.com/tc39/test262/issues/569. (Bear in mind that discussion is a little more generic because it concerns the ability to test any revision of the language.)

[2021-01-21 19:37] jugglinmike commented on #1557
See also https://github.com/tc39/test262/issues/569

[2021-01-27 13:33] marjakh opened #2940 "Missing coverage: compound assignment w/ private accessor properties"
Per this V8 bug which was not caught by test262: https://bugs.chromium.org/p/v8/issues/detail?id=11360

Added V8 tests which could be repurposed as test262 tests:
https://chromium-review.googlesource.com/c/v8/v8/+/2652495/1/test/mjsunit/regress/regress-v8-11360.js

[2021-01-30 01:19] Constellation commented on #2928
Filed WebKit tracking issue in https://bugs.webkit.org/show_bug.cgi?id=221169

[2021-02-05 14:15] zbraniecki commented on #2928
@FrankYFTang any progress? We got another bug in result of spec-compliant behavior on FreeBSD - https://bugzilla.mozilla.org/show_bug.cgi?id=1690795

[2021-02-10 00:19] FrankYFTang commented on #2928
Somehow the private email exchanged got lost track. File CLDR bug for UTS35 here https://unicode-org.atlassian.net/browse/CLDR-14487

[2021-02-10 18:14] FrankYFTang commented on #2928
double file ICU ticket https://unicode-org.atlassian.net/browse/ICU-21489

[2021-02-11 19:33] sffc commented on #2933
@ryzokuken Can you write the tests for this PR so we can get it into ES 2021?

[2021-02-11 19:35] sffc commented on #2933
Also CC @Constellation, @shvaikalesh

[2021-02-11 21:50] caiolima opened #2947 "Missing coverage for class features proposal"
We are missing some coverage on class features proposals:

1. Test cases that uses private methods/accessors on prefix & postfix nodes.
2. Tests with partially initialized objects with private fields, both on instance and static cases.

[2021-02-18 12:38] FrankYFTang opened #2950 "Need to add test for GetOptionsObject of Intl.DisplayNames, Intl.ListFormat and Intl.Segmenter"
Differ from older Intl API, newer Intl APIs use GetOptionsObject and we need add tests to verify that.

Spec change in https://github.com/tc39/ecma402/pull/538/files

[2021-02-18 13:21] lygstate opened #2951 "Does test262 Date depends on specific timezone or not affect by the timezone"
May timezone is GTM+8,  the failure tests are

[code]

[2021-02-19 07:58] FrankYFTang commented on #2950
The following tests which assume the ToObject are used also need to be modified
intl402/Segmenter/constructor/constructor/options-toobject.js
intl402/Segmenter/constructor/constructor/options-toobject-prototype.js
intl402/ListFormat/constructor/constructor/options-toobject.js
intl402/ListFormat/constructor/constructor/options-toobject-prototype.js

[2021-02-19 14:08] rwaldron commented on #2951
Which engine is producing these results?

[2021-02-19 14:13] lygstate commented on #2951
I am using quickjs to producing this, when the timzone is 0, the tests passed

[2021-02-19 17:47] leobalter commented on #2951
I cannot observe diff in the test results when I have different timezones. I tried both by exporting TZ in the terminal and the computers' timezone with the matching date and time.

[code]

Same results for v8, SpiderMonkey, JSC, and XS. There is one single test that always fails in engine262.

I also tried with the other files from the Date folder, not limited to the `prototype/**/*`.

[2021-02-19 18:25] lygstate commented on #2951
Thanks a lot, I guess it's the issue of quickjs

[2021-02-24 00:00] dckc opened #2953 "add test for BigInt as Map key?"
I suggest a test for `Map([[1n, "abc"]]).has(1n)` and the like, analagous to https://github.com/tc39/test262/blob/main/test/built-ins/Map/symbol-as-entry-key.js

cc @erights

ref https://github.com/Moddable-OpenSource/moddable/issues/577

[2021-02-24 00:52] rwaldron commented on #2953
Nice! Let's do it

[2021-02-24 10:27] skychx opened #2955 "website network Error: net::ERR_INCOMPLETE_CHUNKED_ENCODING 200 (OK)"
website link: https://test262.report/browse/?date=2020-12-16

### NetWork Error

[code]

![image](https://user-images.githubusercontent.com/24872439/108987029-c75bfd80-76cd-11eb-956e-913a62934d73.png)

![image](https://user-images.githubusercontent.com/24872439/108987131-e65a8f80-76cd-11eb-8f70-389b2cefe560.png)

[2021-02-24 14:35] rwaldron commented on #2955
Thanks for the report. Unfortunately, test262.report is not a project that's directly controlled by Test262.

[2021-02-24 14:35] #2955 closed

[2021-02-26 17:42] evilpie opened #2956 "Update two tests after IntegerIndexedElementSet change"
https://github.com/tc39/ecma262/pull/2210 changed the semantics of `IntegerIndexedElementSet`. The following tests will now fail in a compliant implementation:

built-ins/TypedArrayConstructors/internals/DefineOwnProperty/tonumber-value-detached-buffer.js
built-ins/TypedArrayConstructors/internals/DefineOwnProperty/BigInt/tonumber-value-detached-buffer.js

[2021-03-04 14:58] smikes opened #2960 "Marking legacy support projects as "deprecated""
Hi folks,

  First off, I have to say this project has really taken off and looks great!

  I have a number of legacy projects/repositories from the "bad old days" (including `test262-parser`) that I am pretty sure are no longer used anywhere in the test262 project or in its (current) dependencies.  I am planning to update the README for those repositories to mark them as deprecated.  Before I do

[2021-03-05 23:45] rwaldron commented on #2960
Works for me! Thanks for all of your excellent work over the years :)

If I encounter any packages that need maintenance, I will reach out.

[2021-03-09 03:31] #2950 closed

[2021-03-26 02:23] VSavitar opened #2966 "Missing features: logical-assignment-operators"
[code]

[2021-04-02 21:41] dckc opened #2967 "test Symbol.for('bar').toString()"
the spec is pretty clear that `Symbol.for('bar').toString()` should evaluate to `"Symbol(bar)"`. Please add a test for this.

https://tc39.es/ecma262/#sec-symbol.prototype.tostring

MDN gives this example:
[code]
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/for

context :https://github.com/Moddable-OpenSource/moddable/issues/621

cc @erights @phoddie

[2021-04-09 21:53] jugglinmike commented on #2966
Thanks for the report, @VSavitar! I opened gh-2969 to address this.

[2021-04-09 22:13] jugglinmike commented on #2967
Thanks for the report, @dckc! I opened gh-2970 to address this.

(I decided to use the `description` property rather than `toString` since that puts slightly less unrelated functionality under test. It still captures XS's bug, though.)

[2021-04-20 13:53] #2966 closed

[2021-05-01 23:14] bakkot opened #2978 "Incorrect tests: tco-cross-realm-*"
Before you read this issue: this is basically the lowest possible priority, since it concerns TCO and cross-realm calls interacting in a way which I suspect literally zero humans have encountered, and also I'm not at all convinced that the behavior being tested here is intentional. I'm writing this just so I don't forget about it. That said:

- [tco-cross-realm-class-construct.js](https://github.c

[2021-05-03 08:48] Zalathar opened #2979 "Missing tests for `for await (async of`"
It was recently noticed (https://github.com/babel/babel/issues/13235) that Babel failed to parse this code:

[code]

Unlike a regular for-of loop there is no ambiguity with `for (async of => {};;)`, and an async function expression is not legal here, so `async` can be used as the loop variable.

But it's easy for the implementation to mess up by parsing `async of` as an async function anyway, or b

[2021-05-03 22:12] jugglinmike commented on #2979
That sounds like a meaningful test case to me. Thanks for the report!

Would you like to write the test? I'm available to help you get started if you need a hand.

[2021-05-03 22:29] Zalathar commented on #2979
I was able to write some test cases based on the existing templates in `src/dstr-binding-for-await/default/`, but I'm a bit lost on where to put them (since they aren't destructuring?) or what documentation they need.

I guess I should just submit a draft PR with what I have so far?

[2021-05-03 23:37] jugglinmike commented on #2978
Thanks for the detailed report, @bakkot! I don't want to mislead implementers by testing contested semantics, but I also don't want to indefinitely maintain contradictions to the specification. There doesn't appear to be any issue or pull request in ECMA262 about this; do you know when/how the conversation will start?

[2021-05-03 23:50] bakkot commented on #2978
The semantics are not formally contested, I just think they're dumb. I've put it on my backlog to address at some point - which, realistically, isn't going to happen for a minimum of months, probably years.

In any case, any changes would go through the normal staging (or normative PR) process, including updating tests, so changing these to match the current specification now wouldn't hurt anythin

[2021-05-04 01:16] jugglinmike commented on #2979
Great! I'm happy to give feedback on a work-in-progress.

Since this issue is orthogonal to the parsing of destructuring patterns, using those templates may produce a lot of tests which aren't meaningfully distinctive for implementers. This sounds like a case for hand-written tests, but we can discuss that in the context of your patch if you prefer.

[2021-05-04 06:19] bakkot commented on #2979
The [PR which added tests for other cases](https://github.com/tc39/test262/pull/2935/files) may be useful context.

[2021-05-04 19:05] #2979 closed

[2021-05-06 01:09] FrankYFTang opened #2984 "Need tests for "Locale Info" API"
https://github.com/tc39/proposal-intl-locale-info advanced to Stage 3 in TC39 2021-Apr meeting. We need to add tests for this in test 262

@ryzokuken  @sffc

[2021-05-06 01:17] FrankYFTang commented on #2984
v8 implementation is behind --harmony_intl_locale_info once we complete the landing of https://chromium-review.googlesource.com/c/v8/v8/+/2570218

[2021-05-07 00:05] twop opened #2985 "built-ins/Promise/race/resolve-element-function-name.js doesn't test the builtin function"
https://github.com/tc39/test262/blob/main/test/built-ins/Promise/race/resolve-element-function-name.js

Snippet from test
[code]

Note that it is designed to test builtin `resolve` function name but it actually tests the name of the function passed in custom ctor.

If the custom "resolve"  function has a proper name

[code]

Thus, I think the test should be deleted or rewritten.

[2021-05-07 19:57] jugglinmike commented on #2985
Thanks for the report! This also applies to a few similarly-named tests in that directory. Fix here: gh-2986.

[2021-05-11 21:39] #2956 closed

[2021-05-12 23:17] leobalter commented on #2985
The PR has been merged, is this resolved?

[2021-05-13 15:52] jugglinmike commented on #2985
Indeed it is

[2021-05-13 15:52] #2985 closed

[2021-05-13 23:47] jugglinmike commented on #2984
@ryzokuken is in the process of contributing these tests. GitHub will not allow me to assign this issue to them, so I'm assigning it to myself to communicate that it's being worked on (and avoid duplicating efforts).

[2021-05-14 01:16] #2967 closed

[2021-05-17 12:24] ryzokuken commented on #2933
I forgot to link to this issue in https://github.com/tc39/test262/pull/2949, it can be closed now.

/cc @sffc @jugglinmike

[2021-05-17 15:04] #2933 closed

[2021-05-17 17:43] FrankYFTang commented on #2861
https://github.com/tc39/test262/blob/main/test/intl402/RelativeTimeFormat/constructor/supportedLocalesOf/length.js

[2021-05-17 17:45] FrankYFTang commented on #2861
I think we should close this issue because https://github.com/tc39/test262/blob/main/test/intl402/RelativeTimeFormat/constructor/supportedLocalesOf/length.js should already test this since Jun 26, 2018 after @Ms2ger  added it

[2021-05-18 06:08] ryzokuken commented on #2861
+1 on closing the issue, I cannot close it myself because I don't have access to this repo.

[2021-05-18 07:01] #2861 closed

[2021-05-19 04:01] FrankYFTang commented on #2984
I think this should be reopen. The test @ryzokuken  put in on #2987 is barely minimum and not enough to test the full functionality of the intended proposal. It is just the first step.

[2021-05-19 04:02] FrankYFTang commented on #2984
somehow I cannot reopen this issue.

[2021-05-19 04:20] ryzokuken commented on #2984
@FrankYFTang @jugglinmike said in #2987

Would that work fine for you?

[2021-05-19 14:51] FrankYFTang commented on #2984
Isn't https://github.com/tc39/test262/pull/2987 landed already?

[2021-05-19 16:32] sffc commented on #2984
@ryzokuken Can you please link to the follow up issue?

[2021-05-19 17:04] ryzokuken commented on #2984
I had landed, yes. I'm not sure if @jugglinmike has made the issue yet, but I'm confident that they will soon...

[2021-05-20 16:02] jugglinmike commented on #2984
This issue ought to do just fine--reopening!

(I didn't recognize that GitHub would automatically close this issue when we merged gh-2987. That happened because the pull request's description included the text "Fixes: #2984" which is not entirely accurate).

[2021-05-25 18:26] codehag opened #2994 "migrate tests for top level await from chakra core"
Hi, Chakracore has a couple of tests that may be worth porting to test262: https://github.com/chakra-core/ChakraCore/blob/a28fef108f40edc3bf9a9eda275f111cd08dd4b6/test/es6module/top-level-await.js#L71-L202

Discussion originally here: https://github.com/tc39/proposal-top-level-await/issues/137

[2021-05-25 22:27] FrankYFTang opened #2996 "Need tests for "Extend TimeZoneName Option Proposal""
2021-05-25 TC39 advanced https://tc39.es/proposal-intl-extend-timezonename/ to stage 3. Need to add tests for that.

[2021-05-25 22:27] FrankYFTang commented on #2996
@ryzokuken  @zbraniecki  @sffc

[2021-05-26 00:45] FrankYFTang opened #2997 "Need tests for "Intl.DisplayNames v2 Proposal""
In 2021 May TC39 meeting https://tc39.es/intl-displaynames-v2/ is moved to Stage 3 .
We need to add tests for this proposal.

@sffc @ryzokuken  @zbraniecki

[2021-05-29 11:04] p-bakker opened #3001 "Test missing for \u{0x10000} ... \u{0x10FFFF} in Template Literals"
Bullet 3 - 5 of https://tc39.es/ecma262/#sec-utf16encodecodepoint isn't hit when when a \u{...} unicode escape sequence in the range of 0x10000 through 0x10FFFF is hit in a Template Literal

[2021-05-31 07:49] p-bakker commented on #3001
Test could be something like `(function(str) {return str[0]})`\u{1F680}`.codePointAt(0) === 0x1F680`

Happy to create a PR, just not sure exactly where to put this test, in a new file or in one of the existing files in /language/expressions/template-literal

[2021-06-03 16:56] jugglinmike commented on #3001
Wow, Rhino! Thanks for going the extra mile and letting us know about the missing coverage. If you have the bandwidth, it would be great to get your contribution. If not, I'll gladly write a patch based on your report.

[`test/language/expressions/template-literal/tv-utf16-escape-sequence.js`](https://github.com/tc39/test262/blob/e793512b55c199de6abc392d1be4de7325dae544/test/language/expressions/t

[2021-06-04 17:05] jugglinmike opened #3002 "Testing the Temporal proposal"
[The Temporal proposal](https://github.com/tc39/proposal-temporal) reached Stage 3 on [2021-03-10](https://github.com/tc39/notes/blob/master/meetings/2021-03/mar-10.md), and like all ECMA262 proposals, it needs coverage in Test262 to advance to Stage 4. In terms of normative text, it is easily the largest proposal we've seen. Testing it will definitely require significant time, effort, and coordin

[2021-06-04 17:08] jugglinmike commented on #3002
@ptomato @ms2ger I know this work is near and dear to your hearts :)

[2021-06-04 17:37] ptomato commented on #3002
Thanks for getting this started! FWIW, I've been finding it easier to write tests by topic, rather than by API entrypoint — for example, here are a series of largely identical tests for everything that uses the GetOption abstract operation: https://github.com/tc39/proposal-temporal/pull/1531/files

One thing I'm planning to do is convert the [Mocha-style tests](https://github.com/tc39/proposal-tem

[2021-06-05 00:58] jugglinmike opened #3003 "Testing the "Resizable ArrayBuffer" proposal"
https://github.com/tc39/proposal-resizablearraybuffer

This proposal advanced to stage 3 on 2021-05-25

[2021-06-05 00:58] jugglinmike commented on #3003
I've begun writing these tests

[2021-06-07 14:24] Ms2ger commented on #3002
Thanks, @jugglinmike! I think that for the moment it would be easiest to keep developing the tests in the proposal repo, so we can run them against the polyfill as a sanity check. Does that make sense to you?

[2021-06-07 15:05] ljharb commented on #3002
Hopefully the polyfill will be finished and deprecated soon tho, so the advantage to keeping the tests there shouldn’t last long?

[2021-06-09 02:36] jugglinmike commented on #3002
@Ms2ger I've had luck using Node.js and [the test262-harness project](https://github.com/bterlson/test262-harness) to run Test262 against the polyfill:

[code]

Where `inject-temporal.js` looks like this:

[code]

I'm using the version published to npm, but it ought to work for the proposal's repository, too. Does that help at all?

[2021-06-11 17:30] ptomato commented on #3002
@jugglinmike For one thing, we're planning to deprecate that NPM module... An advantage to keeping it in the proposal repository is that we have code coverage metrics for the test262 tests there, and it doesn't require synchronization between git repositories.

(And I can't remember the details off the top of my head, but using `require()` in the prelude breaks the code coverage metrics, so we [ge

[2021-06-20 23:41] neeldug opened #3014 "Potentially non-spec compliant test"
Given that the [spec](https://tc39.es/ecma262/#sec-array.prototype.concat), uses a strict equals comparison in 5.b.iii., shouldn't the first part of this test fail? Given that it's spreadable and n should equal 0, and the check occurs before the iteration, shouldn't the first part of the test be 1 size larger?

[test/built-ins/Array/prototype/concat/arg-length-exceeding-integer-limit.js](https://g

[2021-06-21 00:04] #3014 closed

[2021-06-22 03:01] jmdyck opened #3015 "missing from CONTRIBUTING.md"
CONTRIBUTING.md's Frontmatter section should define:
- the `locale` key (appears in 128 test files, all under `intl402`)
- the `flags` key's `non-deterministic` property (appears in 8 test-files, mostly under `built-ins/FinalizationRegistry`)

[2021-06-25 01:24] jugglinmike commented on #3003
I've submitted these tests for review, split up across 11 pull requests in order to facilitate incremental review (the pull requests are listed above).

There's one design decision which effected multiple patches, so to keep things organized, I'll describe it here:

Hosts are permitted to fail any resize operation at their own discretion. This is fairly straightforward to accommodate in direct tes

[2021-06-26 08:53] p-bakker opened #3032 "Harness relies on ES6(+) features"
I know most consumers of the test262 probably have a more or less compliant EcmaScript implementation, at least with all the main features implemented, but reality is that there are also some implementations that are behind, for example Rhino (or new implementations might be started from scratch)

While trying to improve Rhino, we keep running into issues where harness code uses >=ES6 features (f.

[2021-07-12 17:04] #3003 closed

[2021-07-14 10:56] marjakh opened #3038 "Errors in new ArrayBuffer / SharedArrayBuffer tests (related to resizable / growable arraybuffers)"
Problem 1: using .resizable instead of .growable:

built-ins/SharedArrayBuffer/options-non-object.js
built-ins/SharedArrayBuffer/options-maxbytelength-undefined.js

Problem 2: errors in variable names

built-ins/SharedArrayBuffer/prototype/maxByteLength/this-is-arraybuffer.js uses an undefined variable "sab" (should be "ab")

Problem 3: test is the wrong way around

test/built-ins/SharedArrayBuffe

[2021-07-14 15:51] gibson042 opened #3039 "Add tests for all insignificant characters immediately after a regular expression literal"
Turns out that JSC tokenizes non-ASCII non-Latin1 WhiteSpace characters after a regular expression literal as part of its flags, and XS doesn't recognize them as WhiteSpace at all:
* https://bugs.webkit.org/show_bug.cgi?id=227944
* https://github.com/Moddable-OpenSource/moddable/issues/665

This repository should include a test verifying that all valid WhiteSpace and LineTerminator characters are

[2021-07-14 18:16] jugglinmike commented on #3038
Thanks for the report! I'll have corrections ready for review later today

[2021-07-14 18:51] jugglinmike commented on #3038
Here's the patch: gh-3040

[2021-07-15 22:40] leobalter opened #3044 "Add tests for Realms"
Realms achieved Stage 3 at TC39 this week!

@rwaldron and I are both working on authoring the tests for Realms. We are registering the action here to avoid eventual conflict if anyone else is also interested in the respective tests.

[2021-07-16 13:31] #3038 closed

[2021-07-16 13:49] #3039 closed

[2021-07-17 08:25] FrankYFTang commented on #3002
https://github.com/tc39/test262/pull/3048

[2021-07-19 22:34] ptomato commented on #3002
I left one comment in #3049 but it could simplify things in all of these pull requests:

[2021-07-19 23:23] Lubrsi opened #3066 "Missing coverage for content type check in TypedArraySpeciesCreate"
In [TypedArraySpeciesCreate](https://tc39.es/ecma262/#typedarray-species-create), it says:
[code]

For example, this should print `Checked content type` instead of `Missing content type check`:
[code]

This is because `Uint32Array` is of type `Number`, whereas `BigUint64Array` is of type `BigInt`, which should throw as per the specification above.

However, there are no test cases for this. Both V

[2021-07-24 14:39] linusg commented on #3002
@jugglinmike I noticed that all the getters are missing from this list - here's a change to the code snipped you posted to include them in the list:

[code]

You also might want to update `now` => `Now` :)

[2021-07-25 20:06] ratijas opened #3108 "There should be a test for `this` value (holder) in replacer of JSON.stringify"
**Description:** The value of `this` during evaluation of a replacer function during JSON.stringify process is specified by the standard, but not enforced via tests. It led to a buggy implementation of Qt V4 (patch is already in review).

NodeJS and Firefox are conforming, but Qt always passes an empty object with already-toJSON-serialized value for an empty key. See [QTBUG-95324](https://bugrepor

[2021-07-25 21:21] ratijas commented on #3108
Looks like a duplicate of #758, except it was never really resolved?

[2021-07-26 10:18] marjakh opened #3109 "Typo in built-ins/TypedArrayConstructors/internals/HasProperty/resizable-array-buffer-fixed.js"
Test:

built-ins/TypedArrayConstructors/internals/HasProperty/resizable-array-buffer-fixed.js

Line 48:

expected = "false,false,false,false,falsex";

Should be:

expected = "false,false,false,false,false";

[2021-07-27 00:50] jugglinmike commented on #3109
Thanks for reporting this! I'm happy to learn an engine is executing that branch. A fix is under review here: https://github.com/tc39/test262/pull/3110.

[2021-07-27 01:44] jugglinmike commented on #2997
I'm on it!

[2021-07-27 07:46] marjakh opened #3111 "built-ins/TypedArray/prototype/*/return-abrupt-from-this-out-of-bounds.js tests seem wrong"
I didn't check all of them, but I checked 2 of them and 100% had this problem :) Comments inline:

built-ins/TypedArray/prototype/fill/return-abrupt-from-this-out-of-bounds.js:

[code]

Maybe the intention was to resize so that `array` is out of bounds; that'd be resizing to 0, BPE or BPE * 2. But even then, fill shouldn't throw, afaics:
- The ResizeArrayBuffer proposal changes %TypedArray%.protot

[2021-07-27 11:12] marjakh opened #3112 "Missing test coverage for BigUint64Array & BigInt64Array backed by resizable / growable buffers"
testTypedArray.js doesn't include the BigUint64Array and BigInt64Array ctors.

It's very important to test those too, since they're often special-cased in the implementation (at least in V8) and we will get them wrong / forget to update those special cases.

Testing them is slightly painful though, as automatic conversions to and from Numbers don't exist. But it's possible to work around it.

[2021-07-27 16:56] jugglinmike commented on #3111
Thanks for reporting this!

Yup, that was my intention.

`fill` should throw because [%TypedArray%.prototype.fill performs ValidateTypedArray](https://tc39.es/ecma262/#sec-%typedarray%.prototype.fill), and [the "Resizable ArrayBuffer" proposal modifies that operation to throw a TypeError for out-of-bounds arrays](https://tc39.es/proposal-resizablearraybuffer/#sec-validatetypedarray). This is also

[2021-07-27 21:34] jugglinmike commented on #2997
Here's a patch: gh-3115

[2021-07-27 23:56] ptomato commented on #3002
@jugglinmike I do think it would've been more convenient to develop these in the proposal-temporal repo in order to get code coverage metrics, and then move them over to the test262 repo all at once, but I think that ship has sailed :smile: Just to keep you updated, I discussed it with @Ms2ger and our plan is to finish converting all of the [legacy test suite](https://github.com/tc39/proposal-temp

[2021-07-28 03:29] leobalter commented on #3044
A big chunk of coverage has been resolved at #3046 but there is a few parts I want to cover but I also don't want to block if anyone wants to add more tests.

[2021-07-28 07:29] marjakh commented on #3111
Ah, you're right, sorry, I missed the changes in ValidateTypedArray. Thanks for fixing!

[2021-07-28 15:02] #3109 closed

[2021-07-31 02:18] jugglinmike commented on #3111
gh-3113 mostly resolved this issue, but gh-3045 was preemptively merged before the fix could be applied there, so the problem exists in two tests. gh-3126 resolves those final mistakes.

[2021-08-05 03:25] #2997 closed

[2021-08-05 19:00] FrankYFTang commented on #2984
Here is what we have so far https://github.com/tc39/test262/search?q=Intl.Locale-info

[2021-08-05 19:01] FrankYFTang commented on #2984
Could we identifiy what area require improvement before we close this issue?

[2021-08-05 19:21] FrankYFTang commented on #2996
tests in https://github.com/tc39/test262/search?q=Intl.DateTimeFormat-extend-timezonename
I believe we already have enough test since the change in this proposal is very small.

[2021-08-05 19:21] #2996 closed

[2021-08-05 19:26] FrankYFTang opened #3131 "Need test for Intl Enumeration API"
Intl Enumeration API reach Stage 3 in July 2021 TC39 meeting. file issue to track the tests

https://tc39.es/proposal-intl-enumeration/
https://github.com/tc39/proposal-intl-enumeration

[2021-08-05 19:35] FrankYFTang opened #3132 "Need test for Intl NumberFormat v3 API"
Intl NumberFormat v3 API advanced to Stage 3 in TC39 2021 July meeting. We need tests for it.
https://github.com/tc39/proposal-intl-numberformat-v3
@sffc

[2021-08-05 22:14] linusg opened #3133 "Incorrect Temporal.Now.plainDateTime() test - `calendar-object.js`"
This test is incorrect and fails in [our (WIP) Temporal implementation](https://github.com/SerenityOS/serenity/tree/master/Userland/Libraries/LibJS/Runtime/Temporal):

https://github.com/tc39/test262/blob/d00039593dd85ddd809555d061e84dce1eb2a303/test/built-ins/Temporal/Now/plainDateTime/calendar-object.js

*It however passes with the `__debug__` build of the Temporal proposal's polyfill (probably

[2021-08-05 22:28] rwaldron opened #3134 "Determine missing coverage in Temporal.Calendar.p.dateAdd"

[2021-08-05 22:28] rwaldron opened #3135 "Determine missing coverage in Temporal.Calendar.p.dateFromFields"

[2021-08-06 18:08] rwaldron opened #3137 "Consider copying the `branding.js` test from https://github.com/tc39/proposal-temporal/blob/main/polyfill/test/Calendar/prototype/daysInMonth/branding.js which covers this case more comprehensively. (Same remark for the other PRs)"
Consider copying the `branding.js` test from https://github.com/tc39/proposal-temporal/blob/main/polyfill/test/Calendar/prototype/daysInMonth/branding.js which covers this case more comprehensively. (Same remark for the other PRs)

_Originally posted by @ptomato in https://github.com/tc39/test262/pull/3052#r683856883_

[2021-08-06 23:08] rwaldron commented on #3002
@ptomato Mike is on vacation and may not be present in this thread for at least another two weeks.

[2021-08-09 11:14] ryzokuken commented on #2984
I went through the spec while writing these tests, they should be fairly complete to the best of my knowledge. @jugglinmike @FrankYFTang is there anything you think I might have missed? If not, we could close this and consider it done.

[2021-08-09 17:54] FrankYFTang commented on #3002
I think what @ptomato stated above is perfectly reasonable for Temporal in stage 2 period. Now Temporal is in Stage 3 for about 5 months and in theory the spec is in a shape which is very stable (relative speaking, of course) and would be more benefitial for browser engines under development to sync with the tests right. If that is what the Temporal champion plan to do (move the tests inside the T

[2021-08-10 11:38] anba opened #3139 "Incorrect test expectation in type-calendar-valid.js"
The underscore tests in <https://github.com/tc39/test262/blob/86e23998e37e2f1d8107afa51d7be355f3f65cca/test/intl402/DisplayNames/prototype/of/type-calendar-valid.js#L29-L32> should all be moved to <https://github.com/tc39/test262/blob/main/test/intl402/DisplayNames/prototype/of/type-calendar-invalid.js>.

The underscore character "_" is only accepted for the [sep](https://unicode.org/reports/tr35/

[2021-08-11 19:31] #3137 closed

[2021-08-12 14:27] rwaldron opened #3152 "test/built-ins/Temporal/Now/plainDateTime/calendar-object.js is failing with latest polyfill"
[code]

[2021-08-12 14:28] rwaldron commented on #3152
Duplicate of https://github.com/tc39/test262/issues/3133

[2021-08-12 14:28] #3152 closed

[2021-08-12 14:33] rwaldron commented on #3112
That's correct, they are in `testBigIntTypedArray.js`

Generally, tests that are written for `testTypedArray.js` have a corresponding `testBigIntTypedArray.js` version, in a subdir called `/bigint/`. Unfortunately, I don't see such tests for `resizable-arraybuffer`. I will work on getting those created.

[2021-08-14 13:39] EricIO opened #3156 "Test missing for Expanded Years (20.4.1.15.1)"
I noticed that there are no tests for the expanded year format (https://262.ecma-international.org/11.0/#sec-expanded-years).

Is this something that is wanted, if so I'd be happy to contribute some tests for it.

[2021-08-19 10:49] mathiasbynens opened #3160 "Templates lacking proper `$DONOTEVALUATE()` support"
The following two template lack proper `$DONOTEVALUATE()` support:

- https://github.com/tc39/test262/blob/main/src/assignment-target-type/invalid/direct.template
- https://github.com/tc39/test262/blob/main/src/assignment-target-type/invalid/parenthesized.template

They wrap the test code in a function that is never called, defeating the purpose of the `$DONOTEVALUATE()` mechanism. In engines that

[2021-08-19 15:46] rwaldron commented on #3160
So the ask is for these tests to be modified, in order for V8 to continue being incorrect without being penalized? Frankly, I'd rather we went with "c) get rid of `$DONOTEVALUATE()`, restore the bare `throw new Test262Error()`, and stop giving V8 special treatment.". Unfortunately, we've already set a precedent for this particular special treatment, so I suppose we should be consistent.

[2021-08-19 17:22] #3160 closed

[2021-08-20 08:39] mathiasbynens commented on #3160
Not really. For these specific tests, multiple engines (not just V8) have the runtime error behavior:

[code]

…since it’s required for web compatibility. See [crbug.com/358346](https://bugs.chromium.org/p/chromium/issues/detail?id=358346). (So arguably this is a spec bug, and we should fix the spec + tests, but in the mean time we can make the tests useful for Web-compatible engines.)

Not sure w

[2021-08-25 01:33] jugglinmike commented on #3111
Now that gh-3126 has been merged, this is fully resolved. Thanks again for the report, @marjakh!

[2021-08-25 01:33] #3111 closed

[2021-08-25 03:35] jugglinmike commented on #3108
@ratijas I'm checking in since it's been a little while since we heard from you.

[2021-08-25 10:12] ratijas commented on #3108
Hi,
those tests references by the link above are looking good. I think Qt just uses an outdates test suite. It should be pulled from upstream.

[2021-08-26 14:56] leobalter opened #3168 "Issue follow up: function on top"
_Originally posted by @mathiasbynens in https://github.com/tc39/test262/pull/3161#discussion_r692777838_

[2021-08-26 21:07] jmdyck opened #3171 "valid but unusual YAML"
In 47 recent Temporal tests, the `description` is a multi-line scalar in flow notation,  e.g.
[code]
which is valid YAML, but not something that the rest of test262 uses.
For multi-line scalars, test262 typically uses block notation, e.g.
[code]
Would you like a PR to change them, or is that more bother than it's worth? (CONTRIBUTING.md isn't clear on this point.)

[2021-09-01 17:02] jugglinmike commented on #3139
Thanks for reporting this! And for effectively writing the commit message. Correction under review here: gh-3173

Just when you think you know a programming language...

[2021-09-01 18:01] jugglinmike commented on #2984
I just reviewed the tests for coverage of the proposal, and they look good to me, too! Closing this issue. Thanks for the help!

(For the record, after gh-2987, @ryzokuken's followed up with a second patch to improve coverage: gh-3007.)

[2021-09-01 18:01] #2984 closed

[2021-09-02 14:00] #3171 closed

[2021-09-02 14:03] #3133 closed

[2021-09-02 14:34] #3139 closed

[2021-09-02 18:19] #3112 closed

[2021-09-03 19:31] jugglinmike commented on #3171
@jmdyck Hopefully gh-3178 will help us avoid regressing on this

[2021-09-03 23:28] jugglinmike commented on #2978
Revisiting this months later, I believe I misinterpreted what's going on here. Here's what things look like from a test maintenance perspective:

@bakkot identified four invalid tests. They offered a change to correct the tests but recommended against it because they believe the specified semantics to be erroneous.

The invalid tests should be removed immediately; see gh-3182. The decision about w

[2021-09-03 23:47] bakkot commented on #2978
Yes, sorry I was not clear. Also, https://github.com/tc39/ecma262/pull/2495 changes the semantics I objected to, and so https://github.com/tc39/test262/pull/3181 will resolve the question of how to add new tests (by testing for the new behavior), at which point there will be no open questions about when or whether to add additional tests (from my perspective, anyway).

[2021-09-04 00:14] jugglinmike opened #3183 "Missing coverage for tail-call optimization across realms"
@bakkot reported the coverage gap in gh-2978. That issue has more detail on the missing tests, including why we may prefer to wait for a normative change to ECMA262 before writing them.

[2021-09-04 00:25] bakkot commented on #3183
Note that https://github.com/tc39/ecma262/pull/2495 has the relevant normative change, and https://github.com/tc39/test262/pull/3181 has the corresponding test.

[2021-09-05 20:50] davidot opened #3184 "Small mistake in refactoring of tests"
In commit 1286bb601e93e7a225f0eefeb571e243fa8afa79 `asserts` is used instead of `assert` meaning these tests now fail.
In particular in files:
- test/built-ins/Error/prototype/S15.11.4_A3.js
- test/built-ins/Error/prototype/S15.11.4_A4.js

[2021-09-06 02:43] #3184 closed

[2021-09-07 21:51] #2978 closed

[2021-09-08 13:29] #3131 closed

[2021-09-13 09:58] marjakh opened #3194 "Resizable/Growable (Shared)ArrayBuffers: Missing coverage for the "reload length" issue"
Spec bug: https://github.com/tc39/proposal-resizablearraybuffer/issues/73

It would be great to have tests which fail if the implementation doesn't reload the length as the spec says.

[2021-09-13 20:41] leobalter commented on #3044
I'm working on this, I should have a PR by the end of the day.

[2021-09-13 20:50] gibson042 opened #3196 "At what point is it acceptable to use new syntax or interfaces?"
(prompted by https://github.com/tc39/test262/pull/3192#discussion_r707369883)

To what extent are non-original or "new" features appropriate in testing unrelated older functionality? For example, should an intentionally limited implementation like Hermes or QuickJS or XS or a new in-progress implementation be unable to even run tests covering ES6 functionality because it does not yet support class

[2021-09-13 20:59] ljharb commented on #3196
My hope would be that tests can run in the oldest possible engine, and don't assume new features, because then test262 tests can also be run against polyfills *in* those older engines.

However, I believe historically this hasn't been a priority for test authoring.

[2021-09-13 21:44] leobalter commented on #3196
There is an abstract line of what is old enough, I feel it's subjective and I'd say things dating from the last 2 years are just fine?

The other workaround is flagging things using the features metadata.

There is a lot of maintenance required for targeting multiple versions of EcmaScript, and this also means how we deal with incoming PRs.

Relieving the rules here will result in avoiding asking

[2021-09-13 21:50] ljharb commented on #3196
If the intention is to be able to test polyfills, "time" is insufficient; it'd be "whatever polyfills need to run in", which for all of mine includes IE 6 (ie, ES3 syntax).

[2021-09-13 21:51] leobalter commented on #3196
Some rationale: It's rare to have bug fixes for tests of features released in ES more than 1 or 2 years. Way more often we have small spec changes, such as PRs to ECMA-262, changing bits of the normative text and adapting tests here.

The compatibility for older ES versions is pretty much compromised, because it flows between what was set in the older ES version to features of that older version t

[2021-09-15 19:07] ptomato commented on #3002
To come back to this, any comments on the above plan? Since I acknowledge it is taking longer than I'd like, another option would be to copy over all the tests that currently live in tc39/proposal-temporal to tc39/test262 all at once, and at the same time delete them from tc39/proposal-temporal. However, I'd prefer if that happens that we merge it into tc39/test262 as quickly as possible and corre

[2021-09-17 22:39] jugglinmike commented on #3194
Thanks for the report! As of today, two observably-distinct solutions for the spec bug are under consideration (see https://github.com/tc39/proposal-resizablearraybuffer/pull/74 and https://github.com/tc39/proposal-resizablearraybuffer/pull/75). I'd like to hold off on writing tests until we have clarity on the expected semantics.

[2021-09-20 16:23] ptomato commented on #3002
@jugglinmike Any comments on the above idea to copy over all the tests from tc39/proposal-temporal to tc39/test262 all at once? I can make this PR but I don't want it to get stalled and have the two repos get out of sync in the meantime, so I'd like to have your OK before I do it.

[2021-09-21 07:45] marjakh opened #3206 "built-ins/TypedArray/prototype/byteOffset/resizable-array-buffer-auto.js and built-ins/TypedArray/prototype/byteOffset/BigInt/resizable-array-buffer-auto.js are wrong"
built-ins/TypedArray/prototype/byteOffset/BigInt/resizable-array-buffer-auto.js:

Line 39:

    ab.resize(BPE);
    expected = 0;

This should be the "at the boundary" case where the TA is *not* out of bounds.

built-ins/TypedArray/prototype/byteOffset/resizable-array-buffer-auto.js:

Line 37:

[code]

Ditto.

[2021-09-21 08:00] marjakh commented on #3206
The normative spec change for the "at the boundary" TAs should've been handled by this:

https://github.com/tc39/test262/pull/3163

But looks like the byteOffset tests aren't updated correctly; the expected value should be BPE, not 0.

cc @jugglinmike @rwaldron

[2021-09-21 09:23] marjakh opened #3207 "built-ins/TypedArray/prototype/copyWithin/return-abrupt-from-this-out-of-bounds.js is misleading"
It does this (3 times):

array.copyWithin(new TA(), 0);

The first parameter of copyWithin is supposed to be the target index, but this test is passing a TypedArray object. It only works because the TA is converted to the number 0. This is pretty misleading and probably unintentional.

cc @jugglinmike

[2021-09-21 14:54] rwaldron commented on #3002
@ptomato I don't understand why you believe that you need to have two sets of the same tests? Here's what I would suggest:

1. Create a fork of Test262
2. Add all of the people that will work on your tests as collaborators
3. Migrate all of your tests to that fork and delete them from the proposal repo.
4. Use the Test262 fork as the source of truth while developing your tests and your polyfill.
5

[2021-09-21 15:01] rwaldron commented on #3002
@Ms2ger Philip is worried about having two sets of tests going out of sync during development. We're worried about a massive deluge of test material that does not have well understood coverage. There are substantial gaps in coverage in the material already contributed; that creates non-trivial auditing work for _someone_ (whether that is a Test262 maintainer, proposal champion, or other contributo

[2021-09-21 15:10] Ms2ger commented on #3002
It's clear that there's no full coverage yet, but it's not clear to me how it's helpful to do the work to review the coverage *outside* this repo. On the other hand, having them in this repo would be very helpful for the people who are implementing the proposal as we speak.

[2021-09-21 15:11] rwaldron commented on #3002
This is actually really compelling. Which engines are currently implementing?

[2021-09-21 16:17] ptomato commented on #3002
Hi @rwaldron! I think my concern is actually the opposite — I don't want two sets of tests, only one! We would like to delete the tests from tc39/proposal-temporal as soon as they are present in tc39/test262, and pretty much have a setup prepared just like the one you outlined.

I'm just concerned about the two sets of tests getting out of sync during review, if the PR would (understandably, becau

[2021-09-23 02:35] jugglinmike commented on #3206
Thanks for reporting this! gh-3211 ought to fix things.

Scrutinizing gh-3163 further, it looks like I neglected a couple other BigInt tests (the ones for the `byteLength` and `length` accessor properties). The tests still happen to be technically correct, but their assertions incorrectly label the "on boundary" condition as "out of bounds," and they lack any verification of a true "out of bounds"

[2021-09-23 08:16] marjakh opened #3214 "built-ins/TypedArray/prototype/fill/BigInt/return-abrupt-from-this-out-of-bounds.js is wrong"
Since it's a BigInt array,

[code]
should be

[code]

cc @jugglinmike  & thanks for all the fixes so far

[2021-09-23 17:36] jugglinmike commented on #3207
Thanks for the report! That was definitely a mistake on my part. Here's a fix: gh-3215.

As it turns out, while Test262 already has tests for the type coercion of that argument, it doesn't verify an object value specifically. That's why in addition to replacing `new TA()` with `0` for these tests intended to verify the Resizable ArrayBuffer proposal, I've also added a few assertions to the tests f

[2021-09-23 19:16] #3206 closed

[2021-09-23 19:20] #3207 closed

[2021-09-23 23:27] jugglinmike commented on #3002
Hey there, @ptomato. Let's do it!

@rwaldron and I talked this through today. Although we'd prefer to be more familiar with the test material before merging it, we think the opportunity to assist in-progress implementations, coupled with the correctness (if not completeness) of the tests merged so far, warrant expedition.

[2021-09-24 00:13] jugglinmike commented on #3214
And thank you for keeping us informed! This same problem also applies to [`test/built-ins/TypedArray/prototype/set/BigInt/typedarray-arg-set-values-same-buffer-same-type-resized.js`](https://github.com/tc39/test262/blob/5fee61c9e84f53dd0bba28cb6928cdde092fa995/test/built-ins/TypedArray/prototype/set/BigInt/typedarray-arg-set-values-same-buffer-same-type-resized.js); both should be resolved by gh-3

[2021-09-24 01:44] ptomato commented on #3002
Thanks, that's great news! I am on vacation tomorrow, so will make this pull request as soon as possible on Monday. If you would like to plan a Matrix chat session or video call next week to go through the test material so I can help you get that familiarity, I would certainly be available for that.

[2021-09-24 17:32] jugglinmike commented on #3214
gh-3216 has been merged, so I believe this issue is resolved.

[2021-09-24 17:32] #3214 closed

[2021-09-24 18:04] jugglinmike commented on #3132
I'll give it a shot!

[2021-09-25 00:28] jugglinmike commented on #3002
Thanks, Philip, that's very kind!

Regarding coordination: I personally won't be available for reviews until Thursday of next week (that is, September 30). @rwaldron should be around on Monday, but we'll collectively have more bandwidth at the end of the week. You can send a pull request whenever you like, of course--I just know you're interested in limiting the review period.

[2021-09-27 16:59] ptomato commented on #3002
OK, thanks! In that case I won't prioritize the pull request today, but I'll make sure to send it by Wednesday. Does that sound good to you?

[2021-09-30 15:45] jugglinmike commented on #950
gh-971 reflects this approach, and it's been further refined since it was merged back in April of 2017.

For anyone reading this discussion to understand the practical considerations behind this decision: you may be interested in gh-3199 which has a bit of discussion on the peer review process.

In any case, it seems to me like this issue is resolved!

[2021-09-30 15:45] #950 closed

[2021-09-30 16:27] jugglinmike commented on #3002
Works for me!

[2021-10-01 00:15] jugglinmike opened #3224 "Temporal "branding" tests are imprecise"
Many of the tests intended to verify the "this value" (a.k.a "receiver") of the proposal's methods invoke those methods without providing the required arguments. In some cases, this omission would cause the expected TypeError when the implementation incorrectly tolerated an invalid receiver.

[The test for Temporal.Duration.prototype.total](https://github.com/tc39/test262/blob/04ad519be979ae86e21d

[2021-10-01 20:16] jugglinmike commented on #3196
Thanks for raising this, @gibson042. You're not the first to wonder; we really need to nail down a policy.

Although I've always tried to avoid post-ES5 features whenever possible, I'm only recently wondering if transpilers should inform the policy. In recent years, a huge number of free tools have been written that can rewrite specific aspects of source code. Maybe the more aggressive of the rest

[2021-10-01 23:23] ljharb commented on #3196
No, because then i have to rely on the transpiler's output of the tests being accurate, and that's not always a guarantee. JS can't be reliably and consistently transpiled 1:1 (only a small subset of features can - even arrow functions come with caveats)

[2021-10-03 20:40] davidot opened #3229 "Incorrect test: test/language/expressions/await/await-throws-rejections.js"
The test contains the definition of a function `foo` but never calls or otherwise invokes it.
All the code in the test:
[code]
File:
test/language/expressions/await/await-throws-rejections.js
https://github.com/tc39/test262/blob/main/test/language/expressions/await/await-throws-rejections.js

[2021-10-04 03:32] leobalter commented on #3229
Thanks for reporting this, @davidot, false positives are the worst for a test suite!

Would you like to open a PR for this one?

[2021-10-05 18:28] jugglinmike commented on #3229
Agreed with @leobalter! This concerned me enough to do a larger survey of the test suite, and that uncovered a few other instances of the same problem. gh-3241 fixes them all.

[2021-10-05 20:22] #3229 closed

[2021-10-06 07:43] schuay opened #3244 "Pull in additional coverage for String.localeCompare"
The current coverage seems fairly basic and is missing many relevant special cases. I'd suggest to pull in at JSC's https://github.com/WebKit/WebKit/blob/main/JSTests/stress/string-localeCompare.js.

Besides that, it may make sense to add further coverage.

cc @mathiasbynens @FrankYFTang

[2021-10-06 07:51] mathiasbynens commented on #3244
cc @jugglinmike @anba

[2021-10-06 11:00] marjakh opened #3245 "Missing coverage: calling Array.prototype funcs with a TypedArray with a resizable / growable backing"
Example:

[code]

-> if we pass in a TA with resizable backing, weird things might happen. Especially, there are two different kinds of lengths going around, one from the length getter and one from the backing store, and the latter might change in surprising places.

Getting this right is also essential for security, so would be great if test262 had tests for this.

cc @jugglinmike

[2021-10-06 11:08] marjakh opened #3246 "Missing coverage: Resizable / GrowableSharedArrayBuffers: parameter conversion resizes the underlying buffer"
In most TypedArray.prototype funcs, it's possible that the underlying ArrayBuffer gets resized when we're converting the parameters.

E.g., for TypedArray.prototype.fill:

1. Let O be the this value.
2. Perform ? ValidateTypedArray(O).
3. Let len be O.[[ArrayLength]]. <<< Reading length here
4. If O.[[ContentType]] is BigInt, set value to ? ToBigInt(value).
5. Otherwise, set value to ? ToNumber(va

[2021-10-07 07:54] FrankYFTang opened #3249 "problem in built-ins/Temporal/PlainDate/prototype/since/largestunit-higher-units.js"
https://github.com/tc39/test262/blob/main/test/built-ins/Temporal/PlainDate/prototype/since/largestunit-higher-units.js

I have hard time to understand about the current expectaiton

const lastFeb20 = Temporal.PlainDate.from("2020-02-29");
const lastFeb21 = Temporal.PlainDate.from("2021-02-28");

lastFeb21.since(lastFeb20, { largestUnit: "years" }) => my implementation give me "P1Y"
lastFeb21.sinc

[2021-10-07 22:41] FrankYFTang opened #3252 "rejct in built-ins/Temporal/PlainMonthDay/prototype/toPlainDate/basic.js"
I have some issue with built-ins/Temporal/PlainMonthDay/prototype/toPlainDate/basic.js

const leapDay = Temporal.PlainMonthDay.from('02-29');

leapDay.toPlainDate({ year: 2019 })

I think this should throw by DateFromFields() right?

[code]

mergedFields should be {year: 2019, monthCode: "M02", day: 29}
and DateFromFields > Calendar.prototype.dateFromFields > ISODateFromFields  > RegulateISODate

[2021-10-08 02:56] FrankYFTang opened #3253 "Please move Temporal tests with IANA timezone other than UTC under intl402"
Temporal tests which depends on IANA TimeZone other than UTC should be moved from builtin-ins to intl402 directory

 find Temporal/|xargs egrep -s "Asia|America|Europe|Africa"|cut -d':' -f1|sort -u

Temporal/Duration/compare/timezone-string-datetime.js
Temporal/Duration/prototype/add/relativeto-string-datetime.js
Temporal/Duration/prototype/add/timezone-string-datetime.js
Temporal/Duration/prototy

[2021-10-08 06:48] FrankYFTang opened #3256 "Calendar is not part of TemporalTimeString"
The followin test has problem test/built-ins/Temporal/PlainTime/from/argument-string-with-calendar.js

https://github.com/tc39/test262/blob/main/test/built-ins/Temporal/PlainTime/from/argument-string-with-calendar.js

const plainTime = Temporal.PlainTime.from("2004-03-21T10:00:00[u-ca=iso8601]");
should throw because Calendar production is NOT part of TemporalTimeString

https://tc39.es/proposal-t

[2021-10-08 07:49] FrankYFTang opened #3258 "should when no complete records in built-ins/Temporal/PlainDate/prototype/toPlainDateTime/basic.js"
I saw a problem with built-ins/Temporal/PlainDate/prototype/toPlainDateTime/basic.js

The folllowing should thorw:
[code]
because

https://tc39.es/proposal-temporal/#sec-temporal.plaindate.prototype.toplaindatetime
3.3.26 Temporal.PlainDate.prototype.toPlainDateTime ( [ temporalTime ] )
4. Set temporalTime to ? ToTemporalTime(temporalTime).

https://tc39.es/proposal-temporal/#sec-temporal-totempor

[2021-10-08 16:56] FrankYFTang commented on #3258
oh I see. I just cannot tell what is the intend. If that is the intend, then let me just close the test262 PR.

[2021-10-08 23:01] FrankYFTang opened #3260 "no spec text specify "local" must be an invalid calendar name"
In test/built-ins/Temporal/PlainYearMonth/calendar-invalid.js
const args = [
  TemporalHelpers.toPrimitiveObserver(actual, 1970, "year"),
  TemporalHelpers.toPrimitiveObserver(actual, 1, "month"),
  "local",
  TemporalHelpers.toPrimitiveObserver(actual, 1, "day")
];
assert.throws(RangeError, () => new Temporal.PlainYearMonth(...args));

This test is using the calendar name "locale" as an invalid c

[2021-10-09 00:58] FrankYFTang opened #3262 "option of Calendar.dateAdd is not undefined but null"
This test is wrong I think
Temporal/Duration/prototype/add/calendar-dateadd-called-with-options-undefined.js
[code]

The problem is in step6 of 7.3.18 Temporal.Duration.prototype.add ( other [ , options ] )
https://tc39.es/proposal-temporal/#sec-temporal-addzoneddatetime
[code]
it will call AddDuration. then
AddDuration will call AddZonedDateTime in step 7d
https://tc39.es/proposal-temporal/#sec-t

[2021-10-09 00:59] FrankYFTang commented on #3262
@ptomato @Ms2ger @jugglinmike @ryzokuken

[2021-10-12 23:30] #3252 closed

[2021-10-13 05:18] FrankYFTang opened #3265 "problem with built-ins/Temporal/Instant/from/timezone-custom.js"
built-ins/Temporal/Instant/from/timezone-custom.js try to "Time zone annotation is ignored in input ISO string" but I cannot see why is that.

the test case is Temporal.Instant.from("1975-02-02T14:25:36.123456789+01:00[Custom/TimeZone]")

Here is what I see
8.2.2 Temporal.Instant.from ( item )
call
[code]

8.5.3 ToTemporalInstant ( item )
call
[code]

8.5.4 ParseTemporalInstant ( isoString )

call

[2021-10-13 17:11] FrankYFTang commented on #3260
ok, I see. One thing I would like to point out is in UTS35, it only define what is "Unicode Calendar Identifier", but does not define the term "Unicode BCP 47 calendar identifier"
https://unicode.org/reports/tr35/#UnicodeCalendarIdentifier
Should we change the spec text to remove "BCP 47" from that to make it clear?

@sffc

[2021-10-13 17:23] #3260 closed, assigned to nobody

[2021-10-13 20:37] jugglinmike commented on #3244
Improving coverage always sounds good to me!

Here's a few tips for anyone who wants to take up the cause:

- in recognition of the optional nature of ECMA402, Test262 maintains tests for the `String.prototype.localeCompare` method in two different places: `test/intl402/String/prototype/localeCompare/` and `test/built-ins/String/prototype/localeCompare/`. New tests should go in the former director

[2021-10-15 17:35] ptomato commented on #3262
Yes, this was a discrepancy with the spec text. I'm hoping to present that normative change at the December TC39 meeting. I guess it's up to the maintainers whether to remove the tests affected by it in the meantime.

[2021-10-15 19:10] FrankYFTang commented on #3262
I suggest we wait till the conclusion from Decemeber TC39 before changing anything.

[2021-10-19 04:27] justingrant opened #3272 "Revert or remove #3250"
The test changes in #3250 exposed a Temporal spec bug (https://github.com/tc39/proposal-temporal/issues/1878). The old tests before #3250 were validating the correct intended behavior, and they passed previously because the Temporal polyfill matches that behavior too. The spec will be updated to match that behavior.

One problem: we found this bug after the deadline for the Oct TC39 plenary meetin

[2021-10-19 20:41] FrankYFTang commented on #3256
@Ms2ger @jugglinmike @ptomato @ljharb @ryzokuken

[2021-10-22 02:12] jugglinmike commented on #3245
Thanks for the explanation!

Got it--that all matches my understanding. (When I write tests, I try to avoid creating values that aren't strictly necessary, mostly to better highlight the behavior under test. By the same token, it's easy to overlook subtleties in the more particular tests, so I don't attempt simplification lightly.)

I think I understand halfway :) Test262 doesn't currently have an

[2021-10-22 10:38] patrick-soquet opened #3279 "built-ins/DataView/prototype/byteLength/resizable-array-buffer-auto.js and built-ins/DataView/prototype/byteOffset/resizable-array-buffer-auto.js?"
I am implementing resizable ArrayBuffer in XS. Thank you much for the tests. I have a question about these two tests...

The byte length of a data view can be 0:

	var ab = new ArrayBuffer(1);
	var dv = new DataView(ab, 1);
	print(dv.byteOffset, dv.byteLength); // 1 0

So the last part of both tests seems wrong:

	var expectedError;
	try {
		ab.resize(1);
		expectedError = TypeError;
	} catch (_)

[2021-10-23 00:29] Bert66cool commented on #3272
How do i fix this bug?

Sent from Yahoo Mail on Android

  On Fri, Oct 22, 2021 at 5:27 PM, Justin ***@***.***> wrote:

OK, we'll add this issue to our Oct slides (with a note saying that the bug was found after the advancement deadline) so we can fix the spec sooner than Dec. Thanks!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitH

[2021-10-23 00:43] justingrant commented on #3272
You don't need to. It's a spec bug that will be fixed by https://github.com/tc39/proposal-temporal/pull/1881. Once that PR is merged (assuming it gets approved by the TC39 committee) then #3274 should align Test262 with the latest spec. The Temporal polyfill and docs already reflect the desired behavior.

[2021-10-23 00:56] Bert66cool commented on #3272
Ok . which docs ?

Sent from Yahoo Mail on Android

  On Fri, Oct 22, 2021 at 5:43 PM, Justin ***@***.***> wrote:

How do i fix this bug?

You don't need to. It's a spec bug that will be fixed by tc39/proposal-temporal#1881. Once that PR is merged (assuming it gets approved by the TC39 committee) then #3274 should align Test262 with the latest spec. The Temporal polyfill and docs already reflect t

[2021-10-23 01:22] Bert66cool commented on #3272
?

[2021-10-26 18:38] gibson042 opened #3282 "Missing tests for the syntax refinement of PrimaryExpression : CoverParenthesizedExpressionAndArrowParameterList"
[_CoverParenthesizedExpressionAndArrowParameterList_](https://tc39.es/ecma262/#prod-CoverParenthesizedExpressionAndArrowParameterList) includes a refinement for _PrimaryExpression_ to reject the otherwise-permissible <strong><code>(</code> <i>Expression</i> <code>,</code> <code>)</code></strong> :

This refinement invalidates what would otherwise be valid expressions such as `void (Date,)` and `(D

[2021-10-28 08:30] marjakh opened #3284 "Missing coverage: Resizable / GrowableSharedArrayBuffers: testing that the TypedArray.prototype functions do the right thing"
The existing tests (e.g., built-ins/TypedArray/prototype/<something>/return-abrupt-from-this-out-of-bounds.js ) only test whether an error is or isn't thrown.

We should also test:
- That the return value is correct
- That the expected side effect happened (e.g., with `fill`)
- That the callback was called the correct amount of times with the correct parameters (for functions which take a callback

[2021-10-28 18:44] #3256 closed, assigned to nobody

[2021-10-28 23:07] FrankYFTang opened #3288 "built-ins/Temporal/Duration/prototype/round/calendar-dateuntil-called-with-singular-largestunit.js is too complicated"
Some of the Temporal test such as

https://github.com/tc39/test262/blob/main/test/built-ins/Temporal/Duration/prototype/round/calendar-dateuntil-called-with-singular-largestunit.js

are way too complicated to show why the expectation is correct and track down issue if not.

First the first set of tests
[code]
I got different results but the description in the test file is too hard to fiure out why

[2021-11-01 16:51] #3272 closed

[2021-11-04 20:24] gibson042 opened #3298 "Missing tests for ECMA-402 Array.prototype.toLocaleString"
The algorithm at https://tc39.es/ecma402/#sup-array.prototype.tolocalestring requires looking up a "toLocaleString" property on each non-undefined non-null element of the receiver array, invoking it as a method, and (absent an exception) passing the result through ToString. However, behavior when that lookup does not return a method or when the method call returns `undefined` or `null` appears to

[2021-11-05 19:37] jugglinmike commented on #3245
Thanks again for your help. I've submitted some tests via gh-3299.

[2021-11-05 23:20] jugglinmike commented on #3132
Here's a progress update:

feature                        | status
-------------------------------|-------
formatRange                    | [in progress](https://github.com/tc39/test262/pull/3283)
Grouping Enum                  | [under review](https://github.com/tc39/test262/pull/3301)
New Rounding/Precision Options | (awaiting a volunteer)
Interpret Strings as Decimals  | (awaiting a volunteer)

[2021-11-09 18:27] #3245 closed

[2021-11-09 23:19] ptomato commented on #3288
I tried to describe where these calls come from in the comment before that block: https://github.com/tc39/test262/blob/main/test/built-ins/Temporal/Duration/prototype/round/calendar-dateuntil-called-with-singular-largestunit.js#L79-L86, and in the info block it shows which algorithm paths to consider.

So, for example, I think in the case of
[code]
I believe the three calls are through these paths

[2021-11-10 08:22] marjakh opened #3303 "Resizable / growable (Shared)ArrayBuffers: Tests added by https://github.com/tc39/test262/pull/3299 are incorrect"
The problem is in the follow functions: every, filter, forEach, map, reduce, reduceRight, some. They operate on the cached length; especially the number of times the callback will be called won't change when the buffer is resized mid-iteration.

E.g., %TypedArray%.prototype.every:

...
3. Let len be O.[[ArrayLength]]. <<<< Get the length here and cache it
...
5. Let k be 0.
6. Repeat, while k < le

[2021-11-10 08:27] marjakh commented on #3303
To be more specific, the part I think is wrong is e.g., this:
[code]

[2021-11-10 08:48] marjakh commented on #3303
Oops, I was holding this wrong. We don't compare `elements` against `expectedElements`, but against

`assert.compareArray(elements, [0, 0, finalElement], 'elements (shrink)');`

-> The test is correct and I was confused. Sorry for the noise!

[2021-11-10 08:48] #3303 closed

[2021-11-11 12:57] romulocintra opened #3305 "Tests for Intl DurationFormat API"
Hi, opening this issue as a placeholder/reminder for the Intl.DurationFormat tests that advanced to Stage 3 in TC39 2021 October meeting.

https://github.com/tc39/proposal-intl-duration-format

Checklist

- [x] Basic checks (name, length, prop-desc, slot)
- [x] Intl.DurationFormat.prototype.constructor
- [x]  Intl.DurationFormat.prototype [ @@toStringTag ]
- [x]  Intl.DurationFormat.prototype.form

[2021-11-11 18:24] jugglinmike commented on #3305
Thanks, Romulo! If anyone is interested in writing these tests, please comment here. That will help us avoid duplicating effort.

[2021-11-12 19:03] jugglinmike commented on #3015
Thanks, @jmdyck! I'm on the case

[2021-11-12 21:53] jugglinmike commented on #3132
I'll take "Interpret Strings as Decimals", next

[2021-11-12 23:53] jmdyck commented on #3015
I later discovered that both items are documented in INTERPRETING.md, because [its Metadata section](https://github.com/tc39/test262/blob/main/INTERPRETING.md#metadata) mostly overlaps [CONTRIBUTING.md's Frontmatter section](https://github.com/tc39/test262/blob/main/CONTRIBUTING.md#frontmatter). Maybe we could eliminate one of them.

[2021-11-15 23:32] arai-a opened #3310 "Conflict between "Test Environment" helper function and a testcase"
test262 requires "Test Environment" to have helper functions:
https://github.com/tc39/test262/blob/main/CONTRIBUTING.md#test-environment
https://github.com/tc39/test262/blob/26f1f4567ee7e33163d961c867d689173cbb9065/CONTRIBUTING.md#L232-L240

there `assert` function is listed, and the following test redefines `assert` on the global.
https://github.com/tc39/test262/blob/26f1f4567ee7e33163d961c867d68

[2021-11-16 08:05] Ms2ger commented on #3002
I don't think anyone has reviewed the coverage we gained by landing the polyfill tests - I'll see if someone on our side can do it

[2021-11-16 08:12] Bert66cool commented on #3002
Yes

Sent from Yahoo Mail on Android

  On Tue, Nov 16, 2021 at 12:05 AM, ***@***.***> wrote:

I don't think anyone has reviewed the coverage we gained by landing the polyfill tests - I'll see if someone on our side can do it

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-11-16 11:59] Bert66cool commented on #3002
Taken care of 

Sent from Yahoo Mail on Android

  On Tue, Nov 16, 2021 at 12:11 AM, Brett ***@***.***> wrote:   Yes

Sent from Yahoo Mail on Android

  On Tue, Nov 16, 2021 at 12:05 AM, ***@***.***> wrote:

I don't think anyone has reviewed the coverage we gained by landing the polyfill tests - I'll see if someone on our side can do it

—
You are receiving this because you are subscribed to this

[2021-11-16 22:05] #3015 closed

[2021-11-18 04:44] arai-a commented on #3310
the `assert` definition is copied from test262 file here:
https://github.com/tc39/test262/blob/61bd4e9453ce7fc3a2127399cd972b46f721ab1c/harness/assert.js#L10-L19

[2021-11-19 03:42] jugglinmike commented on #3310
Thanks for the report! [That test declares the "raw" frontmatter flag](https://github.com/tc39/test262/blob/26f1f4567ee7e33163d961c867d689173cbb9065/test/language/module-code/eval-gtbndng-indirect-faux-assertion.js#L27), so the global object should not have an `assert` function defined initially. [Here's the description of the flag from the contribution guidelines](https://github.com/tc39/test262/

[2021-11-19 04:31] arai-a commented on #3310
Thank you for pointing that out :)

Indeed, SpiderMonkey's harness loads scripts for helper functions before running the test,
so that part needs to be fixed in SpiderMonkey's harness.

How do you think about adding a note to "Test Environment" section that mentions the `raw` flag, so that it's clear that the helper functions aren't always defined?

[2021-11-19 04:40] arai-a commented on #3310
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1742035 for SpiderMonkey test harness

[2021-11-19 11:01] anba commented on #3310
I don't think `raw` excludes using the [test environment](https://github.com/tc39/test262/blob/main/CONTRIBUTING.md#test-environment), because
1. `raw` defines that "no helpers" are available, but "helpers" in this context refers to the use of "helpers" as defined in the [description for `includes`](https://github.com/tc39/test262/blob/main/CONTRIBUTING.md#includes). That means only the files expl

[2021-11-19 18:30] FrankYFTang opened #3319 "undefined TimeZoneIANAName should not throw RangeError in *relativeto-sub-minute-offset tests."
The following newly added tests by
https://github.com/tc39/proposal-temporal/pull/1871/files

are not according to the current Temporal proposal:

 'built-ins/Temporal/Duration/compare/relativeto-sub-minute-offset'
  'built-ins/Temporal/Duration/prototype/add/relativeto-sub-minute-offset'
  'built-ins/Temporal/Duration/prototype/round/relativeto-sub-minute-offset'
  'built-ins/Temporal/Duration/pr

[2021-11-19 19:12] jugglinmike commented on #3310
Thank you, @arai-a, and thank you, @anba! I'm going to merge gh-3317 and then take on André's additional feedback. I'll do my best to make this information as consistent and concise as possible (as a start, I think the term "helpers" is a major source of ambiguity).

[2021-11-19 19:12] #3310 closed

[2021-11-19 19:19] FrankYFTang opened #3320 "intl402/Temporal/Plain(Date|MonthDay)/from/basic are Invalid tests"
These two tests coded with values not stated/specified in any specification / proposal

https://github.com/tc39/test262/blob/main/test/intl402/Temporal/PlainDate/from/basic.js
the value "ce" and "bce" is not specified in any where in the temporal proposal nor in UTS35 or CLDR.

https://github.com/tc39/test262/blob/main/test/intl402/Temporal/PlainMonthDay/from/basic.js

Same issue

The exact value

[2021-11-19 19:29] ptomato commented on #3320
I don't think I agree with this, though my opinion would depend on what exactly the status of the tests in the `intl402/` directory is regarding implementation-definedness.

[2021-11-19 19:31] ptomato commented on #3319
I think this is an issue with the Temporal proposal, not with the tests: https://github.com/tc39/proposal-temporal/issues/1924

[2021-11-19 19:36] FrankYFTang opened #3322 "Wrong test in intl402/Temporal/TimeZone/from/argument-invalid.js"
Wrong test in
https://github.com/tc39/test262/blob/main/test/intl402/Temporal/TimeZone/from/argument-invalid.js

None of the strings there are invalid according to the spec
The description said "bad offsets in ISO strings" but no where in the proposal will check the offset as long as it is valid accoring to the syntax.

@ptomato @justingrant @sffc @ryzokuken

[2021-11-19 19:39] ptomato commented on #3322
I already submitted a PR for this: https://github.com/tc39/test262/pull/3316

[2021-11-19 20:17] jugglinmike commented on #3310
Here's my attempt: https://github.com/tc39/test262/pull/3324

[2021-11-20 01:39] jugglinmike commented on #3132
I'll take "New Rounding/Precision Options", now

[2021-11-20 02:14] FrankYFTang commented on #3320
so, where in the spec mention "ce" and "bce" now?

[2021-11-20 02:16] FrankYFTang commented on #3319
oh, I see. I cannot tell which one is the intend. Do you have a PR for the spec change?

[2021-11-20 03:06] sffc commented on #3320
These are valid tests; the spec work for era/month codes is pending.  CC @ryzokuken

[2021-11-20 04:14] FrankYFTang commented on #3320
Again, could you tell me where in the spec text stated "ce" and "bce" for era code? why is not "CE" and "BCE" or "AD" and "BC" or "ad" and "bc" ? Have it been discussed and agree within the champion and/or TC39? If not, they are NOT YET valid, right?

[2021-11-20 04:23] sffc commented on #3320
This is in the polyfill and is aligned with what I recall discussing with the champions, but you are correct that I do not see this behavior actually documented anywhere yet.

Previous discussions include, e.g., https://github.com/tc39/proposal-temporal/issues/901

I do think this is still a case of the polyfill and the tests being ahead of the spec.

[2021-11-20 06:07] FrankYFTang commented on #3320
Even in the discussion [tc39/proposal-temporal#901 I ](https://github.com/tc39/proposal-temporal/issues/901) there are no mention of the exact era code lower case "ce" and "bce" there. So even if there is a spec text (which does not exit yet) already documented what you stated in that discussion, this test is STILL invalid because no body ever mention lowercase "ce" and "bce" anywhere. (not even i

[2021-11-20 06:17] sffc commented on #3320
Is the precedence in the polyfill sufficient?

@justingrant may also know if there is another source for the "ce" and "bce" era codes.

[2021-11-20 06:27] FrankYFTang commented on #3320
Of course NOT . These two tests should be removed until a spec text got agree upon at least. There are no document about using lower "ce" and "bce" anywhere. No standard use it, not part of the proposal (yet), not even in any prior discussion thread. We should remove them for now until they are officially part of the proposal.

[2021-11-20 06:32] sffc commented on #3320
It's standard practice for Test262 for ECMA-402 that we have ILD behavior in the test suite.  The era codes are implementation-dependent behavior, at least until we have the spec from ryzokuken.

[2021-11-20 07:29] FrankYFTang commented on #3320
what is "ILD behavior" ?

[2021-11-20 07:33] FrankYFTang commented on #3320
All the locale depend tests in current test262 intl402 are based on at least some external sources: for example, IANA timezone db, or CLDR data. But  lowercase code"ce" and "bce" are nowhere in ANY external reference standard, not in CLDR nor in UTS35 or any standards any implementation could based on. CLDR does has data file mention the UPPERCASE "CE" and "BCE" but nowhere in CLDR use lowercase "

[2021-11-20 07:41] FrankYFTang commented on #3320
UTS35 use "0" for BC and "1" for AD as era code in the https://unicode.org/reports/tr35/tr35-dates.html#months_days_quarters_eras
so if we want to defer the era code to the defintion in UTS35, we should use era: "0" for BC and era: "1" for AD . Notice the "BC" and "BCE" in this part are Localized value, not code for the era. The code for the era in CLDR is "0" and "1" for the case of gregorian cal

[2021-11-21 01:56] justingrant commented on #3320
As @FrankYFTang implies above, I could not find a 3rd-party source for enumerated identifiers for eras. If such a thing existed, I would have used it in the polyfill.  For Gregorian, I implemented `'ce'` and `'bce'` in the polyfill based on @sffc's request in https://github.com/unicode-org/icu4x/issues/470.

I don't however think the right answer is to use numeric indexes like "0" or "1" (which is

[2021-11-22 12:20] marjakh opened #3327 "Missing coverage: Resizable / Growable [Shared]ArrayBuffers: Checks in DataView ctor"
This spec PR https://github.com/tc39/proposal-resizablearraybuffer/pull/81 adds more checks to DataView ctor. Afaics there are currently no test262 tests which would verify that an implementation has these in place.

cc @jugglinmike

[2021-11-22 17:20] FrankYFTang commented on #3320
Just want to be clear, this is issue is NOT about ear code should be, but the request to remove the test UNTIL Temporal spec clearly spec out what it is. We should MOVE the discussion of how should Temporal spec out the era code in Temporal. The only question we need to answer is very simple -
"AS Nov 22, 2021 , does Temporal spec text include a definition of using lowercase "ce" and "bce" as era

[2021-11-22 17:24] Manishearth commented on #3320
@justingrant so given the complexities of Japanese era naming my hope was that we would define era codes as a per-calendar deal and in the spec (or somewhere) define how the mapping worked. Of course Japanese will need a bit of an algorithm for the mapping (though it can also be displayed as a table that gets extended every now and then), and for the other calendars we can just show a small 1-3 el

[2021-11-22 17:29] FrankYFTang commented on #3320
Can we agree the fact that currently in the Temporal spec the word "ce" and "bce" are not mentioned, nor in any defined value for KEY in UTS35 or CLDR?

[2021-11-22 17:31] FrankYFTang commented on #3320
If the spec work is "PENDING" as you said, then the validaity of the test is also "PENDING", and therefore not valid YET.

[2021-11-22 17:36] FrankYFTang commented on #3320
What I am asking here is we follow a right procedure-
1. agree upon what the spec is
2. add the tests to test262 based on the agreed spec
We should NOT reverse the order here. If we do not have 1 we should not have 2. If we have tests but not 1, we should remove these tests because the end result of 1 MAY or MAY NOT be the same as currently got put into the tests prematurely.

[2021-11-22 17:40] Manishearth commented on #3320
Yeah, I agree with Frank about the order of the tests: we should spec first and then write tests, otherwise the current ambiguity is hard on implementors.

[2021-11-22 21:26] EarthyOrange commented on #3305
@jugglinmike I can help out with this.

- Is this feature already implemented (partially?) in any engine available under esvu which I can use to write tests?
- If so then is there a flag under which it is being hidden?
- If not then should I just add (failing) tests based on the proposal?

[2021-11-22 21:34] ux-8 commented on #912
^^^^^^

[2021-11-23 00:26] justingrant commented on #3320
I have no objection to removing tests until the table that @Manishearth describes (excepted below) is complete and added to the spec. I assume that would be an editorial change because the current spec is not implementable without it?  FYI @ptomato @gibson042

Agreed. @ryzokuken are you the lucky person who's going to build this table as part of your existing calendar-focused refactoring of the 40

[2021-11-23 00:27] justingrant commented on #3320
BTW, the only outcome that I *wouldn't* support is changing tests to some arbitrary value like "0" or "1".  Either we should have tests for the values we know are gonna be in the spec, or we should have no tests.

[2021-11-23 09:20] FrankYFTang commented on #3320
I am glad you agree we should remove these tests now until the issue got resolved and spec out. We need to add some tests back later, but we have to have a agree upon spec text first.

[2021-11-23 11:38] ryzokuken commented on #3320
Sorry for being late to the party, but I agree with Frank here, I have WIP work that will specify these values and we can keep the tests on hold until it's done.

Yes, this is the current plan.

I agree completely. We should temporarily disable or remove the tests and re-add them once the spec is finished.

[2021-11-23 16:50] Manishearth commented on #3320
Mind sharing the WIP with me? I'm facing a similar problem in ICU4X and they're initially internal data model values so it doesn't matter as much but it's worth trying to pick values in rough alignment with Temporal.

[2021-11-23 17:18] ryzokuken commented on #3320
@Manishearth you meant for era codes and such?

[2021-11-23 17:19] Manishearth commented on #3320
@ryzokuken yeah

[2021-11-23 19:58] ptomato commented on #3320
I would still rather not remove these tests, because in the end it'll come down to being my responsibility to keep track that they exist and were deleted, and to resubmit them when the corresponding ECMA-402 parts are added. I've already got plenty of things on my plate in service of the larger goal of complete test coverage for Temporal, without keeping track of tests that need to be reverted and

[2021-11-23 20:29] srl295 commented on #3320
thanks @ryzokuken for the ping.

summary: I'd recommend using arbitrary values such as 0 or 1.

just as a comment… i fail to see the utility in stabilizing such identifiers. i think they should come from users (UI input) and/or be queried based on metadata. (iterate over all eras with a rich metadata api that tells you what they are for.) Otherwise you'll be reinventing parse-without-parse of era

[2021-11-23 20:31] ryzokuken commented on #3320
Thanks @srl295!

For context, I'd been talking to @srl295 about eras and the task of coming up with identifiers for each era (CLDR already supports indices as Frank pointed out but no identifiers).

[2021-11-23 22:17] FrankYFTang commented on #3320
You are ASSUMING the final spec would be exactly as what you currently put into the test.

I am ASSUMING the final spec MAY NOT be exactly as what you currently put into the test.

If the final spec text is changed to use "CE" and "BCE" (uppercase not lowercase) or any other values, you still need to change all these tests anyway and therefore you still need to track it, simply because the fact th

[2021-11-23 22:49] FrankYFTang commented on #3319
so... even if I change the implementation to define name as TimeZoneBracketedName instead of TimeZoneIANAName these test still fail because of the throw at step 7a of  ParseTemporalTimeZoneString by IsValidTimeZoneName
The IsValidTimeZoneName will return false for
[code]
or
[code]
so the test will fail

[2021-11-23 23:50] justingrant commented on #3320
You're doing a lot of work here, so my opinion is whatever will make your job easier. What about using expected-failures.txt to ignore those tests until we can get identifiers into the spec?

[2021-11-24 00:32] justingrant commented on #3320
I think it'd be helpful to clarify the use cases where eras will be used:
1. Era entry in UI
2. Era display in UI
3. Era initialization in code, e.g. when setting a default era for UI display, or for initializing a date with an `era`/`eraYear` pair.
4. Debugging, e.g. viewing era identifiers in an IDE debugger, in logs, or in persisted JSON.

For use cases (1) and (2), it doesn't matter what era i

[2021-11-24 07:29] sffc commented on #3320
This was my preference originally, but @Manishearth and others convinced me otherwise.

You are talking about eras as something that is returned from a UI input or an iterator.  This implies that you agree that eras are *entities*.  Since they are entities, programs need a way to talk about them during interchange, such as from a date picker UI to a Temporal program.  The identifiers serve that pu

[2021-11-24 15:56] ptomato commented on #3320
It seems like this discussion should take place on an issue such as https://github.com/tc39/ecma402/issues/541

[2021-11-24 20:42] phoddie opened #3328 "Unnecessary memory use in some tests causes false failures on constrained hardware"
The XS JavaScript engine is designed to run on resource constrained embedded hardware. It runs EcmaScript 2021 on devices with as little as 16 KB of RAM.

We have typically run Test262 against XS running on a computer where there is no practical limit on the memory available to the tests. We have slowly been working on running Test2652 on embedded devices as well. Our current focus is the ESP32 wh

[2021-11-29 23:02] FrankYFTang commented on #3320
This is a test262 issue. I think we should only discuss are these two tests valid AS TODAY with the CURRENT Temporal proposal. It is clear that there will be some discussion and debate in tc39/ecma402#541 to resolve that and the final spec may or may not be the same as what expect in these two tests. So I think we should just remove these two invalid test and discuss that somewhere else, and once

[2021-11-29 23:26] ptomato commented on #3320
I agree, I meant that this is the place to discuss the test262 issue and https://github.com/tc39/ecma402/issues/541 is the place to discuss whether to use "0" or "bce" or "BC" for the era identifiers.

[2021-11-30 19:49] #3320 closed

[2021-11-30 19:49] #3322 closed

[2021-11-30 22:23] EarthyOrange commented on #3305
@jugglinmike Can you please take a look at the PR?

[2021-12-01 16:19] phoddie opened #3333 "possible error in callbackfn-resize-arraybuffer.js tests"
The Array tests for resizable TypedArray include shrinking the underlying ArrayBuffer in the middle of an iterator. The test below starts with a 3 element array and reduces it to 2 elements. The test appears to expect that all 3 of the original TypedArray elements are still visited.

https://github.com/tc39/test262/blob/4b7f8b49cc07a89c093475f284ef112f26a8529f/test/built-ins/Array/prototype/every/

[2021-12-03 20:23] jugglinmike commented on #3328
Thanks for the report!

For tail-call optimization, [Test262 maintains a special value called `$MAX_ITERATIONS`](https://github.com/tc39/test262/blob/46f165ae490de7f1343165ab8d228db81eaa02c5/harness/tcoHelper.js) which authors can use to set an abstract upper boundary on the number of stack frames necessary to prove TCO is taking place.

Test262 could take a similar approach here by offering a val

[2021-12-04 00:10] rwaldron commented on #3328
@jugglinmike I like this solution.

[2021-12-04 00:16] jugglinmike commented on #3328
@rwaldron Thanks! Do you mean introducing `$LARGE_ARRAY_LENGTH` or removing code intended to place stress on resource limitations?

[2021-12-05 15:55] tuchida opened #3336 "Add more Array.from tests for array-like"
Rhino has the following issue.
https://github.com/mozilla/rhino/issues/1112

This violates the following specification.
https://262.ecma-international.org/12.0/#sec-array.from

I checked and could not find a test for this specification in test262. Could you add the following test to this [file](https://github.com/tc39/test262/blob/1f16a6ad0edd10e774e336d8b331471b0c3bb360/test/built-ins/Array/from/

[2021-12-06 14:50] rwaldron commented on #3328
Oh, I thought it was two parts of a whole, but I see now that I misinterpreted that. I think we should introduce `$LARGE_ARRAY_LENGTH` for cases where that is actually being tests (I'm thinking of Array tests that exercise `ToIndex()`, maybe?); and we should adjust any existing tests where size is not actually relevant to use the smallest size possible to effectively exercise the semantics under t

[2021-12-06 16:58] phoddie commented on #3328
@jugglinmike - thank you for your detailed response like the idea of parameterizing the array length so the relevant tests can easily be tuned as needed. I'll work on generating a list of tests where would help with XS.

[2021-12-07 14:34] carlosame opened #3338 "Add test about BigInt-Map/Set interaction"
I could not find any test covering `BigInt`-`Map`/`Set` interaction, which was the subject of mozilla/rhino#1023. I'd suggest adding a test with a subset of Rhino's [bigint-mapset.js](https://github.com/mozilla/rhino/blob/Rhino1_7_14_RC1_Release/testsrc/jstests/es2020/bigint-mapset.js), something along the lines of:

[code]

[2021-12-07 14:40] #3336 closed

[2021-12-07 14:50] tuchida commented on #3336
Thanks!

[2021-12-07 21:07] #3338 closed

[2021-12-10 22:33] jugglinmike commented on #3284
Thanks for the report! As the names of those tests suggest, they are intentionally limited to verifying the abrupt completion introduced by the Resizable Arraybuffer proposal. I believe the other semantics you've mentioned are already covered by other tests since they are observable from ECMAScript code today (but I'd be glad to learn about any cases where that's not true).

I can appreciate how i

[2021-12-11 01:14] jugglinmike commented on #3327
Verified, thanks for reporting! I'll write these tests

[2021-12-13 12:23] marjakh commented on #3284
Thanks for looking into this!

Strictly speaking, the other semantics aren't covered by other tests, afaics, since they never pass TypedArrays with resizable / growable backing to the function under test.

A VM might reasonably implement resizable-backing-TypedArrays with a completely separate object type (so that there are TypedArrays and resizable-backing-TypedArrays and those are fully separate

[2021-12-13 14:14] nicolo-ribaudo opened #3348 "Missing test: Array.prototype[Symbol.unscopables].at"
I couldn't find a test for it neither in https://github.com/tc39/test262/blob/main/test/built-ins/Array/prototype/Symbol.unscopables nor in https://github.com/tc39/test262/tree/main/test/built-ins/Array/prototype/at.

I can open a PR, but should I add it to https://github.com/tc39/test262/blob/main/test/built-ins/Array/prototype/Symbol.unscopables/value.js or to a new file (since it needs a new fe

[2021-12-14 16:25] marjakh opened #3349 "Missing coverage: Resizable / Growable (Shared)ArrayBuffers: Missing tests for some Array.prototype functions"
There are tests like built-ins/Array/prototype/every/callbackfn-resize-arraybuffer , which invoke an Array.prototype.function with a TypedArray with resizable backing. But looks like we don't have tests for all funcs in Array.prototype. E.g., Array.prototype.join etc.

E.g., V8 currently has a "bug" or rather a missing implementation, that we don't use the correct length when you do Array.prototyp

[2021-12-14 16:29] marjakh opened #3350 "Missing coverage: Resizable / Growable (Shared)ArrayBuffers: (Typed)Array.prototype.toLocaleString + (Number|BigInt).prototype.toLocaleString resizes"
Like the various "callbackfn-resize-arraybuffer" tests, e.g., built-ins/Array/prototype/every/callbackfn-resize-arraybuffer, but the resizing happens in Number.prototype.toLocaleString or BigInt.prototype.toLocaleString (which will be invoked repeatedly by toLocaleString when converting the elements to strings.

cc @jugglinmike @syg

[2021-12-14 18:46] 12wrigja opened #3352 "Test262 harness methods mutate test state"
Reading over [INTERPRETING](https://github.com/tc39/test262/blob/main/INTERPRETING.md), that document calls out that tests are always run in a fresh JavaScript environment.

I'm attempting to run a subset of the Test262 tests, specifically those for [Temporal](https://github.com/tc39/proposal-temporal), in an environment where this is not the case, and have found that some of the Test262 Harness h

[2021-12-15 22:41] jridgewell opened #3356 "Test Promise thenable's onResolve realm"
Re: https://github.com/tc39/test262/pull/2910, I'm not able to find a similar test that checks the realm of the `onResolve`/`onReject` when using a cross realm thenable:

[code]

I believe this was part of https://github.com/tc39/ecma262/pull/1597?

[2021-12-15 23:59] mhofman commented on #3356
This is not equivalent to the test proposed in #2910, right?

This test seem to use the realm of the `then` function of the thenable to create the `onResolve` / `onReject` callbacks, not the realm of the `finally` argument.

The equivalent would be:

[code]

Which is highlighting what I don't understand. I believe it wouldn't be a concern to use the realm of the `then` of thenable to construct the

[2021-12-16 00:18] jridgewell commented on #3356
Yes, but not quite. `then` can't accept a thenable as the `this`, it must be a Promise instance. And assimilation doesn't respect the current instance's `.then` value. The `thenFinally` in #2910 is checking a synthetic function's realm, which is easily visible in `finally` because it attempts to call the instance's current `.then` with the synthetic functions.

The only way to access the synthetic

[2021-12-16 00:28] mhofman commented on #3356
So one thing I still don't understand is why isn't the realm of `Promise.prototype.then` or of `Promise.resolve` used to create the callback? In which cases is it unavailable such that we have to fallback onto something else?

[2021-12-16 00:57] jridgewell commented on #3356
There's a lot of history in:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1663090
- https://bugzilla.mozilla.org/show_bug.cgi?id=1674505
- https://github.com/whatwg/html/issues/2621
- https://github.com/whatwg/html/issues/1989

Essentially, if we used `Promise.prototype.then`, HTML will have a bad time if the thenable's `.then`'s  realm is dying. AMP actually gets bitten by this a lot in our tes

[2021-12-16 01:15] mhofman commented on #3356
Thanks for the links, still going through them.

From a quick read, this sound like an HTML specific decision to not process enqueued promise jobs under some circumstances, which ends up affecting the specified scoping of JavaScript promises. Feels weird to me to have dynamic scoping wart in JS for this. Afaik there are other issues with detached iframes, like [`debugger` not working anymore](http

[2021-12-16 02:16] jridgewell commented on #3356
It's a security invariant, too. Imagine you were able to grab the global `postMessage` or `fetch` because `finally` invoked you with the wrong context. In this case, using the realm of the thenable's `.then` ensures that `.then` can't get access to another realm though the synthetic callbacks passed to it.

Easing the integration for our most important consumer is important.

See https://github.co

[2021-12-16 02:56] mhofman commented on #3356
Right, dynamic scoping is a security issue, and I don't see how the current approach satisfies that invariant.

I wrote the following test: https://gist.github.com/mhofman/df7047ee89942038cbc4629c41b8c7e0

First, implementations seem inconsistent, so I don't think we should claim the current behavior is beyond repair.

The way I see it, the truly sane value for any of those is `yellow`, as that's

[2021-12-16 05:33] jridgewell commented on #3356
I don't see how the `blue` results (which you consider least bad) and a `purple` result are materially different. They're both using a realm that isn't the currently-invoked function's. If we didn't have `finally`, I'd be calling the thenable's `.then` directly with my purple `onFinally`, so it didn't really expose a new realm to the thenable.

Consider instead https://output.jsbin.com/hidozel/qui

[2021-12-16 06:45] mhofman commented on #3356
`blue` is the realm of the invoked function, hence why it's acceptable.

Sure, but neither example calls `blue`'s `then` directly with the `purple` function. In both cases the thenable gets adopted into a native promise first, and the function given to the thenable's `then` is a spec created function to perform the adoption. Which is why I argue that this spec created function should have the real

[2021-12-16 10:24] codehag commented on #3356
I think we do have a web compatibility issue though I would have to look more deeply about which browser has it right. It looks like we are missing a test for this on promise.then as justin pointed out. I think we are in agreement that we likely need to align on this.

[2021-12-16 10:27] codehag commented on #3356
Also thank you mhofman for the test, that was interesting to read.

[2021-12-16 20:36] mhofman commented on #3356
From a conceptual point of view, I think JSC is closer to being correct, as it's the creator of the adopting promise which creates the callback function in its own realm and gives them to the thenable. However what the implication is on dying realms and existing code, I'm not sure. It's likely some Chrome/Firefox specific programs would be impacted if the realm of the adopting promise was used ins

[2021-12-16 23:51] codehag commented on #3356
At present, I disagree, both regarding that the answer here should be red or yellow. I believe chrome and firefox have the intended behaviour, having looked at this for some time. The binding is explicit to the blue realm, that it should change to the red or yellow realm seems odd and exposes multiple realms when there should only be one. However, I am on break starting today. I will pick this thr

[2021-12-17 00:14] mhofman commented on #3356
My opinion derives from what a userland library implementing `Promise` would likely do if the only operation available was "EnqueueJob". The library in the adopting realm (`yellow`) would likely just create a function using syntax, and pass it to `then`. In effect having a `blue` result here is the equivalent of the library doing `new (then.constructor)` to create that function instead.

While I f

[2021-12-17 17:49] rwaldron commented on #3352
Thanks for the report, however these are all well known and well understood. The key to the correct use of these functions, is to not do _other_ things in a test, ie. use the function once, then do nothing after.

[2021-12-17 17:49] #3352 closed

[2021-12-18 00:17] jugglinmike commented on #3279
Resolved via gh-3280. Thanks again!

[2021-12-18 00:17] #3279 closed

[2021-12-18 03:34] jugglinmike commented on #3333
Thanks for the report, @phoddie; I believe you are correct! In addition to the four tests you've identified, it appears as though I repeated the same mistake in the equivalent tests for `Array.prototype.reduce`, `Array.prototype.reduceRight`, and `Array.prototype.some` (they all implement the same semantics concerning deleted elements). I've submitted a patch to correct those tests here: gh-3358.

[2021-12-18 09:07] leobalter commented on #3352
This fits well in the concept of tests being atomic and autonomous. Restoring a state that existed before a unit test is not ideal as it creates a dependent, non-natural scenario for new tests. It's unfortunate engines doesn't have any optimized option to fully reset their environment other than reloading them and getting a new test file.

Some minimum quality is being prioritized over execution s

[2021-12-18 16:50] #3327 closed

[2021-12-21 00:50] phoddie commented on #3333
Thanks, @jugglinmike! XS now passes all revised tests. The changes to the tests look reasonable (with the usual caveat that my experience reviewing tests is limited).

[2021-12-21 00:50] #3333 closed

[2021-12-29 19:49] phoddie opened #3361 "possible error in built-ins/TypedArray/prototype/map/callbackfn-resize.js"
In reviewing the patch for #3358, I overlooked a difference in `map` between `Array` and `TypedArray` behaviors.

For `Array`, `map` is [defined to call](https://tc39.es/ecma262/multipage/indexed-collections.html#sec-array.prototype.map) `HasProperty` for each element. It only only calls before `Get` and the callback if the property exists. For `TypedArray`, `map` is [defined differently](https://

[2022-01-04 14:32] #2922 closed

[2022-01-04 14:34] rwaldron opened #3364 "Intl NumberFormat v3: Add tests for roundingPriority when all 4 settings are used at the same time (min+max fraction+significant)"
Suggestion: Add tests for roundingPriority when all 4 settings are used at the same time (min+max fraction+significant)

_Originally posted by @sffc in https://github.com/tc39/test262/pull/3334#discussion_r774638051_

[2022-01-04 14:34] rwaldron opened #3365 "Intl NumberFormat v3: add a test for `'1.01': '1'` (soon to be `1.0`) since trailing zero behavior is important."
Nit: Here and elsewhere: add a test for `'1.01': '1'` (soon to be `1.0`) since trailing zero behavior is important.

_Originally posted by @sffc in https://github.com/tc39/test262/pull/3334#discussion_r774629784_

[2022-01-20 21:06] ptomato commented on #3262
I didn't get a chance to finish this for December and I'm hoping to present it at the March TC39 meeting.

[2022-01-20 21:08] ptomato commented on #3258
I think this can be closed, since the change was incorporated and the test is correct now.

[2022-01-20 21:09] ptomato commented on #3253
I think this was resolved by #3377.

[2022-01-21 11:19] marjakh opened #3380 "built-ins/TypedArray/prototype/map/callbackfn-resize.js seems wrong"
In this part:

[code]

The callback function which we pass as a parameter to map() always returns `index`, however, we expect the result to be:

[code]

This doesn't seem right. Shouldn't we do:
[code]
instead?

cc @syg

[2022-01-21 16:52] syg commented on #3380
My reading of that test agrees with @marjakh's reading.

Since `result` is the result of calling `TypedArray.prototype.map`, it's a new TA backed by a different buffer. The comparison to `[0, 1, finalResult]` makes me think the test writer maybe was trying to test `sample` after it shrunk? But that doesn't really make sense either since I don't know where `1` and `2` would come from...

[2022-01-23 18:36] IdanHo opened #3381 "test/intl402/Locale/constructor-options-canonicalized.js is possibly incorrect"
This test verifies that the `calendar` option is canonicalized in the Intl constructor, but the specification (https://tc39.es/ecma402/#sec-Intl.Locale) mentions no such step, the calendar property of the options object is queried, then stored into the `opt` record, which is passed into ApplyUnicodeExtensionToTag, which then just copies it over (unmodified) into the result object in the `relevantE

[2022-01-24 12:31] marjakh commented on #3380
cc @sarahghp

[2022-01-24 12:34] marjakh commented on #3246
This also applies to things like SpeciesCreate resizing the buffer (in TypedArray.prototype functions which use it), or the "array-like" getter resizing the buffer in SetTypedArrayFromArrayLike.

Also cc @sarahghp

[2022-01-24 17:45] marjakh opened #3384 "Missing coverage: Resizable / Growable (Shared)ArrayBuffers: Bounds checking in TypedArray.prototype.set"
We don't seem to have test for the more complicated cases, e.g:

create resizable array buffer size 4, max 8
create length-tracking TypedArray (assuming 1-byte elements for this pseudo code)
resize buffer to 3
myTa.set([... ]) << too big array

I noticed this since I got my V8 implementation to a state where all TypedArray.prototype.set-related tests are passing, but I still didn't have RAB / GSAB

[2022-01-24 18:55] rwaldron commented on #3381
cc @Ms2ger @romulocintra @sarahghp

[2022-01-24 18:56] rwaldron commented on #3380
@marjakh lets also add @Ms2ger @romulocintra @ryzokuken

[2022-01-30 04:09] mhofman opened #3387 "Tests for Async-from-Sync Iterator changes"
https://github.com/tc39/ecma262/pull/2600 reached consensus at the last plenary. It updates  Async-from-Sync Iterator objects to close the wrapped iterator in cases where the async wrapper is considered to be done, but the sync iterator isn't.

I included some examples in the presentation of where this behavior shows up, and there were a few relevant cases in the linked issue. I plan to adapt thos

[2022-02-02 09:47] marjakh opened #3391 "Missing coverage: Resizable / Growable (Shared)ArrayBuffers: More combinations for TypedArray.prototype.set"
There are some tests which pass RAB/GSAB to TypedArray.prototype.set, but those don't seem to cover enough cases. Proof: I now have v8 in a state where all TA.p.set -related test262 tests pass, but there are bugs in the uncovered code paths. :)

At least these seem uncovered:
1) target is a RAB/GSAB-TA and source is a non-RAB/GSAB TA *and* the source is not OOB

There is built-ins/TypedArray/proto

[2022-02-07 13:35] Ms2ger opened #3401 "GraalJS fails to install in CI"
[code]

CC @sarahghp

[2022-02-10 00:58] ptomato commented on #2940
I'd like to start working on this.

[2022-02-10 10:01] marjakh opened #3404 "Missing coverage: Resizable / Growable (Shared)ArrayBuffers: No coverage for RAB / GSAB in TA.p.subarray tests"
I noticed none of the tests in built-ins/TypedArray/prototype/subarray/ pass the resizable-arraybuffer flag, so looks like there's no test coverage.

cc @syg @sarahghp

[2022-02-10 23:32] bakkot opened #3407 "Incorrect tests after change to evaluation order for member assignment"
https://github.com/tc39/ecma262/pull/2267 changed the sequencing of the `RequireObjectCoercible`-on-base / `ToString`-on-property for member assignments, like `a[b] = c`. Some of the tests for the old behavior were updated, and new tests were added, in https://github.com/tc39/test262/pull/2993. But that PR seems to have only covered plain `=`-style assignment, and there's still some tests which as

[2022-02-13 07:38] HKalbasi commented on #3002
Will there be tests for each different calendar? Calendars are not symmetric like timezones and it's easy to mistake in only one of them.

[2022-02-14 08:52] Ms2ger commented on #3002
We are currently focusing on the ISO calendar, so deep testing of the actual calendar operations is likely a while off. I imagine we would take tests if someone else had time to write them, though.

[2022-02-14 18:34] ptomato commented on #3002
I'm wondering what the policy on these should be, as well. Tests for time zones can be difficult because time zones can be adjusted by civil authorities. If that happened, tests could start failing whereas that would not indicate any standards noncompliance, just outdated time zone data.

Calendars are somewhat less subject to change, but still, I do know of a few cases that could cause tests to b

[2022-02-14 22:14] HKalbasi commented on #3002
I feel lacking tests for time zones is fine since time zones are pure data, and implementation can be auto generated from IANA database. but calendars need some code as well, so at least there should be some tests for different classes of calendars. But with this logic, something like era doesn't need test since it is data-ish. Anyway this is not `Temporal` specific and `DateTimeFormat.formatToPar

[2022-02-16 14:57] #2940 closed

[2022-02-16 23:56] davidot opened #3413 "Incorrect new private reference methods and accessors with logical assignment"
In 1b1097dbf6e93fb17b5a8156736563370ad4700e some tests for compound assignment of private fields and methods were added.

However I believe there are a couple of incorrect tests:
For example: `test/language/expressions/compound-assignment/left-hand-side-private-reference-method-nullish.js`
[code]

Looking at: https://tc39.es/ecma262/#sec-assignment-operators-runtime-semantics-evaluation
`||=`, `&&

[2022-02-16 23:59] davidot commented on #3413
These tests might also need to be moved as these are the only tests with `||=`, `&&=` and `??=` in the `compound-assignment` folder instead of the rest of those tests in `logical-assignment`.

[2022-02-17 00:10] linusg commented on #3413
cc @ptomato

[2022-02-17 21:15] ptomato commented on #3413
Thanks for the feedback. Here's what I propose to do:
- the read-only accessor property tests for `||=` and `??=` can be fixed by returning a falsey or nullish value, respectively, from the getter
- the private method tests for `||=` and `??=` are invalid and should be removed
- I'll move the `||=`, `??=`, and `&&=` tests to `test/language/expressions/logical-assigment` (thanks! I didn't spot that

[2022-02-17 21:28] davidot commented on #3413
Yeah that seems great, only thing is perhaps it would be good to also have tests for `||=` and `??=` to make sure they don't throw this error? (Maybe this is already covered I don't know)

This was more that it is the third in the set, the tests are correct.
I guess the only thing wrong is the spec they mention in the test comment but I don't think that's a huge deal.

[2022-02-17 22:29] ptomato commented on #3413
Testing the short-circuit behaviour seems like a good idea, I've added these tests in #3414 as well.