[2018-02-23 03:14] michaelficarra commented on #1453
This was an intentional change in response to https://github.com/tc39/Function-prototype-toString-revision/issues/3. I recall talking about it in committee, but I think it was only in side conversations.

[2018-02-27 19:54] leobalter opened #1461 "Clean up BigInt TypedArrays tests per feedback"
@anba is giving an amazing feedback for the recently added tests for BigInt TypedArrays, here is a ctrl-c ctrl-v from https://github.com/tc39/test262/pull/1448#issuecomment-368989914

---

There are no longer any test failures when this PR is applied, but some of the BigInt-TypedArray tests still need to be updated to work correctly for BigInts:

harness/testBigIntTypedArray.js
- [x] `@param {Arra

[2018-02-27 21:14] rwaldron commented on #1461
I'll clean these up.

[2018-03-01 20:30] leobalter commented on #1406
This is already fixed. Thanks @spectranaut

[2018-03-01 20:30] #1406 closed

[2018-03-01 20:59] nomadtechie opened #1466 "Test Coverage Audit and Tracking for Atomics.wait"
Below is a checklist for the observable items in the `Atomics.wait` spec: https://tc39.github.io/ecma262/#sec-atomics.wait.

I've mapped and noted the coverage of the current *13 tests* and will be adding coverage for the remaining observables. I'll also be refactoring a few of the current tests because they cover too many spec observables in one test file.

Some of the observables I've listed bel

[2018-03-02 01:44] jakobkummerow opened #1467 "Minor bugs in BigInt tests"
CC @rwaldron @leobalter @gsathya

I've found two minor issues with BigInt tests:

**built-ins/BigInt/prototype/Symbol.toStringTag.js:**
"verifyProperty" is destructive unless {restore: true} is passed. This makes the subsequent assert fail.
Fix:

[code]

**built-ins/TypedArrays/ctors-bigint/typedarray-arg/typedarray-arg-other-ctor-returns-new-typedarray.js:**
The inputs must have length 7 in order

[2018-03-02 12:51] littledan commented on #1467
cc @cxielarko

[2018-03-05 10:34] anba opened #1470 "Test failures at 52f70e2f637731aae92a9c9a2d831310c3ab2e1e"
Test failures at 52f70e2f637731aae92a9c9a2d831310c3ab2e1e

test/built-ins/AsyncFromSyncIteratorPrototype/next/return-promise.js
- Test has `async` flag but doesn't call `$DONE`.

test/built-ins/AsyncFromSyncIteratorPrototype/return/iterator-result-unwrap-promise.js
test/built-ins/AsyncFromSyncIteratorPrototype/throw/iterator-result-unwrap-promise.js
- `$DONE` function is called multiple times. (Ca

[2018-03-05 11:40] littledan commented on #1470
cc @cxielarko

[2018-03-05 11:58] psmarshall opened #1471 "Typed array constructor test invalid for Int8/Uint8"
https://github.com/tc39/test262/blob/master/test/built-ins/TypedArrays/ctors/buffer-arg/bufferbyteoffset-throws-from-modulo-element-size.js isn't correct for Int8Arrays and Uint8Arrays, which have an elementSize == 1, and can be validly constructed from an ArrayBuffer with length == 1.

Not sure what the best way to fix the test is, hence filing an issue rather than a PR.

[2018-03-05 12:06] anba commented on #1471
Also see #1470 for other issues in TypedArray tests.

[2018-03-05 18:22] nomadtechie opened #1472 "Test Coverage Audit & Tracking for Atomics.wake"
Below is a checklist for the observable items in the Atomics.wake spec: https://tc39.github.io/ecma262/#sec-atomics.wake.

I've mapped and noted the coverage of the current 17 test files and will be adding coverage for the remaining observables. I'll also be refactoring a few of the current tests because they cover too many spec observables in one test file, or partially cover the spec.

Some of t

[2018-03-06 18:00] cxielarko commented on #1467
These changes LGTM! (the second test fails in spidermonkey too; the first passes but probably shouldn't)

[2018-03-06 20:14] #1467 closed

[2018-03-06 23:37] littledan opened #1476 "Weaken tests about NaN canonicalization"
TC39 reached consensus on https://github.com/tc39/ecma262/pull/758 , which permits certain kinds of flexibility with NaN canonicalization. test262 includes tests that are invalid with that patch, some of which you can find listed in https://github.com/v8/v8/blob/master/test/test262/test262.status#L226 . If someone is interested in volunteering, it'd be great if we had a test PR to match the spec P

[2018-03-07 17:47] rwaldron commented on #1476
cc @leobalter @spectranaut @nomadtechie

[2018-03-07 18:34] DavidBruant commented on #832
hey @rwaldron, I see https://github.com/littledan/test262/commit/d10e980278ef4e9135b4deffddaa6c01a51d9b1a suggesting this is covered. Are there other tests missing?

[2018-03-07 18:55] rwaldron commented on #1476
@littledan @ajklein

(noting the relevant change here)

IIUC, Test262 could satisfy the desired flexibility by just checking if the NaN bit pattern is in range? (Between 7FF0000000000000 and 7FFFFFFFFFFFFFFF, or FFF0000000000000 and FFFFFFFFFFFFFFFF)

[2018-03-07 19:10] leobalter commented on #832
@DavidBruant that commit is actually referring to tc39/ecma262#832.

[2018-03-07 22:31] leobalter commented on #1471
@psmarshall can you file a PR to fix this, please? I'd be happy to review.

[2018-03-07 22:44] littledan commented on #1476
@rwaldron Well, if the NaN bit pattern is in range, it would be spec-compliant. The specification implies something a little more specific, but something which is pretty hard to write a test for as it's a hard to get at the particular shared implementation-dependent pattern.

Between the complexity of writing more specific tests, and @jfbastien's explanation that real implementations that don't do

[2018-03-08 00:49] cxielarko commented on #1470
The last failure is fixed in ce9419779fc61d5cdfa37a5cda7b6828c67221da (from #1467)

[2018-03-08 16:33] leobalter commented on #1476
being in range doesn't mean we would observe canonicalization. The spec might become more relaxed but still requires some minimal matching for each production form of `NaN`. e.g.: `0/0` will always match the same bit pattern in Float arrays, canonicalized or not with other productions, like `Infinity/Infinity`.

[2018-03-08 17:35] rwaldron commented on #1476
My interpretation is that since there are "options", that we can't depend on one or the other and must not explicitly test for matching NaN encodings, instead we'll just check that a NaN is a valid NaN and that's it.

[2018-03-08 19:24] rwaldron commented on #1470
@spectranaut set me as a reviewer in a PR when ready—thanks!!

[2018-03-08 20:55] littledan commented on #1476
I agree with Leo that it would be possible to construct a test which is a little more specific--you could run several different scenarios and check that, each time, you rather get the same value out or a single canonical one shared between them. It could be tricky to get at the cases that might trip up a real implementation, though--to have full test coverage would require knowledge of details of

[2018-03-09 15:45] rwaldron commented on #1476
This matches my understanding. For now, I'm going to relax the tests so that they simply assert that _any_ valid NaN encoding is acceptable. We can iterate on these over time (if necessary), but I believe that will correct the issue of implementations failing the tests listed in https://github.com/v8/v8/blob/master/test/test262/test262.status#L226

[2018-03-09 15:47] leobalter commented on #1470
these should be fixed by #1481, thank you @anba

[2018-03-09 15:47] #1470 closed

[2018-03-09 20:17] rwaldron commented on #1476
I've added a commit on the V8 issue, but anyone that comes this way and can verify: https://bugs.chromium.org/p/v8/issues/detail?id=5116#c11

[2018-03-09 23:05] spectranaut commented on #1461
@anba, you wrote:

This seems pretty weird. Do you think it would be better if the spec had the function error at this point, for BigInt TypedArrays, or, that they comparison is allowed? That really might throw of a user, as "==" otherwise works as expected/returns a value between a BigInt and a Number.

[2018-03-09 23:22] spectranaut commented on #1461
hey @anba I'm also a bit confused about your comment here:

Is this concern covered in the tests I added here?
https://github.com/tc39/test262/pull/1478/files#diff-d5d8cd2db8668d4bf2a8f51f1ab434e3
https://github.com/tc39/test262/pull/1478/files#diff-f6257383bf55bc5fff97f4e6fc3e8ee7

[2018-03-12 15:11] ediosyncratic opened #1486 "Too few 9s in number of days backwards from 1970 to produce RangeError"
https://github.com/tc39/test262/blob/7da91bceb9ce7613f87db47ddd1292a2dda58b42/test/suite/ch15/15.9/15.9.5/15.9.5.43/15.9.5.43-0-8.js#L19

The test specifies a date 99999999 days before 1970; 99999999 days is 273790 years and most of another, putting this in year 1970 -273791 = -271821; this *is* representable in the extended year format (only six digits plus a sign) and *is* within the range that

[2018-03-13 02:02] bakkot opened #1490 "Coverage: Promise.all with non-iterable"
A value can fail to be iterable in all kinds of exciting ways, including:

- Being `null` or `undefined`
- Missing a`Symbol.iterator` field or otherwise having it be non-callable
- Having a getter for `Symbol.iterator` which throws
- Having an `Symbol.iterator` method which returns non-objects

When provided any of these as its first argument, `Promise.all` is meant to return a rejected promise, r

[2018-03-13 02:27] ljharb commented on #1490
https://tc39.github.io/ecma262/#sec-promise.all says that a nullish argument should definitely throw and not return a rejected promise. GetIterator can also throw synchronously, as can the IsConstructor check.

[2018-03-13 02:37] bakkot commented on #1490
@ljharb, that's not my reading. Remember that abstract operations can't "throw" per se; they just return completion records, which may be abrupt completion records representing thrown exceptions. None of the steps past `NewPromiseCapability` are using [`ReturnIfAbrupt`](https://tc39.github.io/ecma262/#sec-returnifabrupt) or the `?` or `!` macros to unwrap a completion record; they instead use [`If

[2018-03-13 02:58] ljharb commented on #1490
Step 2 explicitly says to throw a TypeError if it’s a primitive, at least.

On a reread, you’re correct about GetIterator check, but the IsConstructor check and Construct and IsCallable calls inside NewPromiseCapability have a ?, meaning they unpack an abrupt completion using ReturnIfAbrupt.

[2018-03-13 03:19] bakkot commented on #1490
Step 2 says to throw a TypeError if the *receiver* is primitive.

Errors in NewPromiseCapability do cause synchronous throws, yes. This issue is just about the argument, though, not the receiver. Though I guess it would also be good to assert the synchronous behavior if that's not covered.

[2018-03-13 04:49] ljharb commented on #1490
aha, thanks, that clarifies my misunderstanding :-) I now completely agree with your original issue, and apologies for the confusion.

My copy of Chrome seems to return a resolved promise for `Promise.all([{ [Symbol.iterator]() {return null} }])`, but it seems like it should return a rejected one?

Either way, we should definitely have tests that cover all of this behavior!

[2018-03-13 05:31] bakkot commented on #1490
No worries, this stuff is inherently confusing.

Because you wrapped in it an array, it's doing the right thing - you're getting a promise for an array containing the object, just like you'd get a promise for an array containing 0 from `Promise.all([0])`; it's never even reading `[Symbol.iterator]`.

The [bug in Chrome](https://bugs.chromium.org/p/v8/issues/detail?id=7553) is from `Promise.all({ [

[2018-03-13 16:54] #1476 closed

[2018-03-13 19:44] spectranaut commented on #1471
This has been fixed in: https://github.com/tc39/test262/pull/1481

Also the file path as been renamed, see it here: https://github.com/tc39/test262/blob/master/test/built-ins/TypedArrayConstructors/ctors/buffer-arg/bufferbyteoffset-throws-from-modulo-element-size-sab.js

[2018-03-13 19:44] #1471 closed

[2018-03-13 19:57] spectranaut commented on #1447
Fix by this and other recent PRs:
https://github.com/tc39/test262/pull/1448

[2018-03-13 19:57] #1447 closed

[2018-03-13 20:04] spectranaut commented on #1405
Covered changes in constructor `TypedArray ( TypedArray )`:

https://github.com/tc39/test262/blob/master/test/built-ins/TypedArrayConstructors/ctors/typedarray-arg/src-typedarray-big-throws.js
https://github.com/tc39/test262/blob/master/test/built-ins/TypedArrayConstructors/ctors-bigint/typedarray-arg/src-typedarray-not-big-throws.js

And changes in `%TypedArray%.prototype.set( typedArray [ , offs

[2018-03-13 20:50] spectranaut commented on #1405
@littledan -- can you think of a way to test this change?
https://github.com/tc39/proposal-bigint/commit/b1ce1fcbfa6ff63714db91340cb658602aeae82b

[2018-03-13 20:51] #1403 closed

[2018-03-15 15:50] anba commented on #1486
The test looks correct to me, it's now located at https://github.com/tc39/test262/blob/master/test/built-ins/Date/prototype/toISOString/15.9.5.43-0-8.js.

From https://tc39.github.io/ecma262/#sec-time-values-and-time-range

And `new Date(1970, 0, -99999999, 0, 0 + timeZoneMinutes - 60, 0, -1)` is outside of that range.

[2018-03-15 16:36] anba opened #1492 "Test failures at b07c546b8aa9ae6ded0599673e9e643a5ee4e7ea"
4 test files with errors at b07c546b8aa9ae6ded0599673e9e643a5ee4e7ea

https://github.com/tc39/test262/blob/b07c546b8aa9ae6ded0599673e9e643a5ee4e7ea/test/built-ins/AsyncFromSyncIteratorPrototype/throw/iterator-result-unwrap-promise.js#L49
- `yield* obj;` needs to be `return yield* obj;`, otherwise the return value of the `throw()` handler will be ignored.

https://github.com/tc39/test262/blob/b07c5

[2018-03-15 18:13] nomadtechie commented on #1492
@anba thanks for the feedback -- I'm the owner for `test262/test/built-ins/Atomics/wait/negative-index-throws.js` and I'll update the input values.

[2018-03-16 21:01] rwaldron commented on #1490
This is totally awesome

[2018-03-19 18:01] #1490 closed

[2018-03-21 18:46] anba commented on #1492
Additional failures at 5d6899522ad913003f83e1127f84f5d068112460

test/built-ins/Promise/race/iter-arg-is-string-resolve.js
- Invalid: Promise.race doesn't resolve anything if the iterable is empty.

test/built-ins/Promise/all/iter-arg-is-string-resolve.js
- Calles $DONE multiple times which makes it easy to hide errors.

test/built-ins/Promise/all/iter-step-err-no-close.js
- Contains call to $DONE

[2018-03-22 20:36] #1492 closed

[2018-04-09 13:52] rwaldron commented on #1486
Thanks for triaging this @anba

[2018-04-09 13:52] #1486 closed

[2018-04-09 19:46] woess opened #1508 "Wrong section/description in destructuring assignment tests"
Many tests in [language/expressions/assignment](https://github.com/tc39/test262/blob/master/test/language/expressions/assignment/) seem to have wrong sections and/or descriptions.

See e.g. [dstr-obj-rest-val-null.js](https://github.com/tc39/test262/blob/master/test/language/expressions/assignment/dstr-obj-rest-val-null.js) and [dstr-obj-rest-val-undefined.js](https://github.com/tc39/test262/blob/

[2018-04-10 02:12] rwaldron commented on #1508
@leobalter ping

[2018-04-10 02:39] rwaldron commented on #1364
https://github.com/tc39/test262/blob/master/test/language/function-code/switch-dflt-decl-strict.js isn't generated from source.

I'm going to look at the rest of these.

[2018-04-10 18:17] #1408 closed

[2018-04-10 18:18] rwaldron commented on #1461
Completed

[2018-04-10 18:18] #1461 closed

[2018-04-12 13:20] anba opened #1512 "Remove "early" phase from negative?"
The "early" phase is currently only used for the numeric separator tests, all other tests use "parse" to mark SyntaxError tests. Does it make sense to completely remove "early" and only use "parse"?

[2018-04-16 15:24] littledan opened #1515 "Feature flag for more Intl tests using particular data?"
It's currently difficult to write many completely "correct" tests against ECMA-402 (Intl). ECMA-402 defines the shape of internationalization data in general, but it doesn't define what the data is. And it shouldn't define what the data is--over time, conventions change, data quality improves, and the same code outputs different results, without either of the two results being "wrong".

However: T

[2018-04-18 08:29] ediosyncratic commented on #1486
hmm ... in that case, surely there's a problem with the part of the spec I quoted above, as [0] ?
1e8 days is approximately 273791 years, so claiming it's approximately "approximately 285,426 years" is clearly wrong.

[2018-04-18 10:02] ediosyncratic commented on #1486
Duly filed: https://github.com/tc39/ecma262/issues/1176

[2018-04-18 20:54] #1364 closed

[2018-04-18 21:03] leobalter opened #1519 "Exaust strings for conversions to numeric values in BigInt Abs. Relational Comparisons"
Ref https://github.com/tc39/test262/pull/1513#discussion_r182534861

We need to add checks for strings with binary, octal, and hex literals and whitespaces including line terminators.

[2018-04-19 16:12] ediosyncratic commented on #1486
OK, closer examination reveals:
* timeZoneMinutes is evaluated *now* so uses the currently-applicable time-zone data for the zone; it's -8 hours in the zone in which the tests are run (PST8PDT), when that zone is in DST; the test passes for me when the zone *isn't* in DST, so the offset is -7 hours, but fails in DST.
* the Date() constructor first builds a local time that's long before the inventi

[2018-04-19 20:44] #1453 closed

[2018-04-23 19:28] #1368 closed

[2018-04-23 19:42] rwaldron commented on #1515
@littledan I don't think this is a valid use of "feature" flags. "feature" flags are tagging a test file to indicate that a specific language feature is being used or tested in that file. It's also not clear to me how a "feature" flag would do anything special to change some observable aspect of a test. Could you write an example test that includes the sort of "en-US data" you're thinking of?

[2018-04-24 06:50] littledan commented on #1515
As an example, we could test, "if NumberFormat has the en-US locale, then 2.3 is formatted as "2.3"'.

Without some kind of assumptions on what data looks like, it's hard to write many tests about Intl. These tests are useful even if they are technically assuming more than what the spec says.

We discussed this kind of testing in the April 2018 Intl call and a bunch of browser vendors and specific

[2018-04-24 14:00] littledan commented on #1515
cc @jackhorton

[2018-04-24 15:38] jackhorton commented on #1515
One thing I would mention is that now that formatToParts is available, I think it would be great if these tests were based entirely on calling formatToParts and ensuring that some subset of the parts are present and the types are accurate, but not necessarily in some pre-determined order with pre-determined spelling. For instance, if I wanted to test formatting todays date (April 24th, 2018), I wo

[2018-04-25 13:36] leobalter opened #1527 "split Atomics tests using BigInt"
BigInt tests should go in separate files in the Atomics tests.

Things like this following code are good enough for a new separate test file:

[code]

One important thing to solve here is to allow a correct filtering of tests by features. A support for Atomics without BigInt should be allowed without losing test coverage.

[2018-04-25 14:58] rwaldron commented on #1527
I had this on my hand-written to-ask-Leo-about list ;)

[2018-04-25 17:04] anba opened #1529 "Atomics/wake/undefined-index-defaults-to-zero.js fails intermittently"
https://github.com/tc39/test262/blob/master/test/built-ins/Atomics/wake/undefined-index-defaults-to-zero.js fails intermittently when the test system is under pressure, for example I can reliably reproduce the failure when I run the test in 16 tmux panes simultaneously.

[2018-04-25 17:04] anba opened #1530 "Atomics/wait/waiterlist-order-of-operations-is-fifo.js fails intermittently"
Let's assume the scheduler preempts execution between these two lines, then the test case will fail.

https://github.com/tc39/test262/blob/42ca7bbf9353194105120c2f3863478f1b9a4b14/test/built-ins/Atomics/wait/waiterlist-order-of-operations-is-fifo.js#L35-L36

To make it more likely to trigger a context switch for local testing, you could add `for (var i = 0; i < 10000; ++i) {}` between the two line

[2018-04-25 17:12] anba opened #1531 "Atomics/{wait, wake}/bad-range.js incorrectly use BigUint64Arrays"
https://tc39.github.io/proposal-bigint/#sec-validatesharedintegertypedarray

[2018-04-25 17:27] rwaldron commented on #1529
I will start by attempting to simplify this test case and see where it takes me.

[2018-04-25 19:32] littledan commented on #1515
@jackhorton Those seem like good tests to write to check into test262 without this flag. Do you think we could get good coverage of Intl overall using only that? It seems a little difficult to me.

For example, V8 has local tests for PluralRules that exercise Arabic to get at a lot of different pluralization forms. Should tests like these need to be written several times and not shared between ECM

[2018-04-25 20:29] jackhorton commented on #1515
I think "ensuring that the parts are present" might be doable for current test262's datetimeformat coverage, since there are 7 mandatory formats that implementations must have. Checking the values of each part is probably still data-dependent (for instance, ChakraCore's test runner has an issue when using Windows Kit ICU where it thinks the default time zone is GMT rather than, in my case, PST, an

[2018-04-25 21:29] rwaldron commented on #1531
I've fixed this as part of #1527

[2018-04-28 14:30] rwaldron commented on #1530
I'm going to do another pass on the Atomics tests this week, I'm going to also be removing all uses of `Date.now()` in favor of `$262.agent.monotonicNow()`

[2018-04-28 14:55] rwaldron opened #1538 "Intl.Locale: follow up tasks"
These tasks need to be completed as a follow up to #1536

- [ ] Add `Intl.Locale` feature to features.txt
  - [ ] Update frontmatter for all of test/intl402/Locale/*
- [ ] Break up test/intl402/Locale/constructor-options.js by section
- [ ] Break up test/intl402/Locale/constructor-properties.js by aspect:
  - [ ] test/intl402/Locale/prop-desc.js
  - [ ] test/intl402/Locale/name.js
  - [ ] test/int

[2018-04-28 15:55] littledan commented on #1538
Cc @ms2ger

[2018-04-28 15:57] littledan commented on #1538
There is also missing coverage for the various getters, toString, and using a Locale object in another formatter constructor (even if the toString method has been messed with).

[2018-04-30 14:33] rwaldron commented on #1538
@littledan The point of making this a separate follow up issue was to avoid imposing further burden on a new contributor.

[2018-04-30 15:16] littledan commented on #1538
@rwaldron I agree with this goal. I'm documenting missing coverage to help the contributor. Do you have a suggestion for a friendlier manner/place to do this?

[2018-05-03 17:54] leobalter commented on #1538
Some suggestions to follow up with:

- [ ] use the verifyProperty helper to assert the given descriptor matches the expected behavior as well
- [ ] Use `esid: sec-intl.locale` to replace the `pending` parts
- [ ] Prefer the ordinary function format to avoid cross features compatibility issues. e.g.: https://github.com/tc39/test262/pull/1536/files#diff-aacbf8c0e57d2ca04db39550f8d882e8R14
- [ ] Use

[2018-05-03 18:01] leobalter commented on #1538
It also seems to be missing:

- [ ] tests for the get access properties from the Intl.Locale.prototype. e.g. https://tc39.github.io/proposal-intl-locale/#sec-Intl.Locale.prototype.calendar

[2018-05-07 15:02] caiolima opened #1541 "Missing tests for BigInt - boolean comparison"
Currently there is no test comparing BigInt and boolean. We should add them.

[2018-05-07 15:05] caiolima opened #1542 "Missing tests for relational comparison operators among BigInt and Symbol"
I couldn't find tests for BigInt - Symbol comparisons. According to Spec, it throws an exception because ```ToNumber``` will be called to convert symbol to a number.

[2018-05-07 23:15] caiolima opened #1545 "Missing BigInt tests of relational with wrapped values"
I couldn't find tests of relational operators with BigInt wrapped operands.

[2018-05-08 13:20] caiolima opened #1548 "Missing tests of relational comparison evaluation ordering"
The evaluation ordering for comparison are important tests because some implementations (e.g JSC) implements just one operation (for example "<") and implements ">" over it changing the evaluation order of operands.

[2018-05-08 15:19] #1541 closed

[2018-05-09 19:42] #1542 closed

[2018-05-11 21:28] leobalter opened #1555 "Linter: ensure files have a consistent EOLs as LF, avoid CRLF"
the inconsistency is causing me trouble, we could use .gitattributes and some linter to avoid CRLF eol, preferring LF

[2018-05-11 21:41] leobalter commented on #1555
Now I wonder if it affects files that should have CRLF by purpose... this is so annoying.

[2018-05-12 02:10] jugglinmike commented on #1555
We will certainly have a need for CRLF in a few files, so `.gitattributes` may not be a good fit. [Linting infractions can be ignored per-file and per-rule](https://github.com/tc39/test262/blob/8d7dd538f1aa575312922f9ef49353f0c26287f3/tools/lint/lint.py#L40-L42), so we should be able to lint for this.

[2018-05-14 18:28] rwaldron commented on #1555
For ref: https://tc39.github.io/ecma262/#prod-LineTerminator

[2018-05-15 02:00] jugglinmike commented on #1555
Thanks, Rick!

[2018-05-15 11:44] msuperina opened #1557 "Test specific old version"
Is there a test suite targeting specific older versions of the ECMA-262 standard ? If not, is there a way to automatically filter out test cases which would target later versions ?
Specifically, I would like to test if a js engine is compliant to the first version https://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-262,%201st%20edition,%20June%201997.pdf

[2018-05-15 17:37] leobalter commented on #1557
Test262 only aims at the latest working drafts from Ecma262 + Stage 3 proposals.

This is also a way to provide a best cost of maintenance in terms of necessary human hours.

Also, each new edition of Ecma262 deprecates the previous edition in order they are not a standard anymore, and servers only as historical documents.

I don't know of any version of Test262 for anything before ES5.

Today you

[2018-05-17 16:37] caiolima opened #1559 "Big Int comparison with NaN returns undefined"
According the https://tc39.github.io/proposal-bigint/#sec-abstract-relational-comparison, when one of the operands are ```NaN```and the other is BigInt, the result is ```undefined```.

Test [test262/test/language/expressions/less-than/bigint-and-non-finite.js](https://github.com/tc39/test262/blob/master/test/language/expressions/less-than/bigint-and-non-finite.js) is asserting the wrong  outcome.

[2018-05-17 16:49] ljharb commented on #1559
See https://tc39.github.io/ecma262/#sec-relational-operators-runtime-semantics-evaluation - if the abstract relational comparison returns `undefined`, the operation returns `false`.

`>` / `<` / `<=` / `>=` can only ever return booleans.

[2018-05-17 17:45] caiolima commented on #1559
Oh. Thanks!

[2018-05-17 17:45] #1559 closed

[2018-05-18 14:30] rwaldron commented on #1515
This sounds good to me. I'm going to do pass through all of the existing Intl tests to detect and generate tag and subtag for extant occurrences.

[2018-05-20 16:28] caiolima opened #1562 "Missing comparisons between String with Hex, binary and octal prefix and BigInt"
We are missing following test cases:

[code]

[2018-05-21 19:18] anba opened #1566 "Atomics/wake/{count-defaults-to-infinity-missing,wake-all,wake-in-order}.js fail intermittently"
Mozilla recently updated test262 which resulted in intermittent failures for three `Atomics.wake` tests:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1463110
- https://bugzilla.mozilla.org/show_bug.cgi?id=1462950
- https://bugzilla.mozilla.org/show_bug.cgi?id=1462975
- https://bugzilla.mozilla.org/show_bug.cgi?id=1412233#c14

All three test files have relatively short timeout values in common, f

[2018-05-21 19:44] #1562 closed

[2018-05-22 19:00] rwaldron opened #1567 "Dynamic Imports, Stage 4 Entrance Criteria testing"
Dynamic Imports are at Stage 3, with implementations in V8 and JSC (maybe others, but I've only looked at these so far). I plan to first migrate tests from both engines, determine coverage gaps and then fill them.

[2018-05-22 19:02] rwaldron opened #1568 "Symbol.prototype.description, Stage 3 Testing"
[Symbol.prototype.description](https://github.com/tc39/proposal-Symbol-description) is now at Stage 3

[2018-05-23 19:20] rwaldron opened #1570 "Restore Class Private tests, update accordingly."

[2018-05-23 19:29] leobalter commented on #1570
this should also include Static. Are you fine to rename this issue? They are coming from the same proposal.

We should also add a new feature tag for static as well. We had one for private fields anyway.

[2018-05-24 18:53] rwaldron opened #1571 "SuperProperty evaluation order tests"
See: https://github.com/tc39/ecma262/issues/1175

[2018-05-25 08:05] adrianheine commented on #1570
See #1377 for the initial removal. #1161 might also be relevant here.

[2018-06-04 13:56] Imasius opened #1584 "Intl: tests use comparator for sorting but use strict inequaltiy for validating the result"
The tests:
[code]
sort using a comparator but then verify the result using strict inequality. This has the implicit assumption that objects where the comparator returns 0, are always sorted the same. This is not the case for randomized sorting algorithms.

[2018-06-05 18:23] rwaldron commented on #1584
@caridy @littledan

[2018-06-05 18:24] #1527 closed

[2018-06-07 22:42] gsathya opened #1591 "intl402/NumberFormat/length.js is incorrect"
In `intl402/NumberFormat/length.js`,

`verifyConfigurable`  calls `isConfigurable` which deletes the `Intl.NumberFormat.length` property.

`verifyProperty` tries to lookup this now deleted `length` property, using `Object.prototype.hasOwnProperty` which fails and throws.

This needs to be fixed.

Also, can we rename `verifyConfigurable` to `verifyConfigurableAndDelete` or something that shows that

[2018-06-08 02:09] #1568 closed

[2018-06-08 02:13] rwaldron commented on #1591
The problem isn't that `verifyConfigurable` needs to be renamed, it's simply that `verifyConfigurable` and `verifyProperty` must never be called on the same object for the same property in the same test. I'll fix this asap.

[2018-06-08 02:15] #1591 closed

[2018-06-08 02:33] ljharb commented on #1568
#1590

[2018-06-08 02:43] ljharb commented on #1591
Is there a reason the helpers couldn’t clean up after themselves, so as to avoid this footgun?

[2018-06-08 02:44] #1512 closed

[2018-06-08 03:18] rwaldron commented on #1591
@ljharb they can, you just have to tell it to with the `{restore: true}` arg. In this case, I had meant to remove the old calls when I migrated the test to use `verifyProperty(...)` and it was just missed in review. Clerical error?

[2018-06-08 13:45] leobalter commented on #1591
@ljharb tests should be atomic, for that case, each test case should never produce side effects over other cases. The restore option is a workaround I consider a bad practice. Ideally you should rely on the original version for each test depending on it, and never restoring a thing to what we consider to be original. In the testing philosophy this might cause false positives.

In the case fixed at

[2018-06-08 16:59] gsathya commented on #1591
Thank you for the quick fix, @rwaldron!

I agree with @leobalter and @rwaldron here about tests being atomic and we shouldn't have `verifyProperty` and `verifyConfigurable` testing the same thing twice. That was the bug in this case, not `verifyConfigurable` or `verifyProperty` in itself.

I suggested the renaming to `verifyConfigurableAndDelete` only because this makes it obvious to someone revie

[2018-06-11 15:46] gsathya opened #1593 "test262/built-ins/Atomics/wake/wake-rewake-noop is flaky"
I haven't investigated this in detail but the V8 bots show that this test is flaky:
* https://bugs.chromium.org/p/v8/issues/detail?id=7841

[2018-06-14 09:47] mathiasbynens opened #1595 "Improve assert.throws.early error messages in case of late errors"
Sometimes, engines implement runtime errors that are supposed to be early errors instead. In those cases, when running a `assert.throws.early` test, you currently get an error message like:

[code]

It would be more clear to say:

[code]

Or, even better:

[code]

The latter would require a bit of coding: if `Function(code)` fails, then try `eval(code)` in a `try`-`catch`. If that one does throw t

[2018-06-15 23:59] nomadtechie opened #1597 "Add documentation for `implementation-contributed` directories"
New `implementation-contributed` directory should have documentation which reflects:

- What is this directory, and why was it created?
- How does it fit in with `test262/tests`, and what is the long-term goal?
- How will these tests be managed and curated?
- How should consumers of `test262/tests` treat these tests?

In additonal to the general to documention, it would be great to have sections f

[2018-06-16 00:36] nomadtechie opened #1598 "Create Documentation for Test Curation Guidelines"
See #1597 for the background.

I'll like to suggest that we create a `Test Curation Guide` to capture the intended workflow for moving tests out of `implementation-contributed/**/` directories and into `test262/tests/`.

For instance, a curation process for may involve this workflow:

Identify is a test file is:
- valid and correct
- new coverage or duplicate coverage
- needs rework to be separate

[2018-06-18 16:15] rwaldron commented on #1597
Excellent 👍

[2018-06-18 16:17] rwaldron commented on #1598
Confirmed, but we reserve the authority to disallow "in place file modifications" at any time in the future.

Confirmed, and dare I say: strictly forbidden.

[2018-06-18 16:20] nomadtechie commented on #1598
Sounds good Rick! Thanks for confirming.

[2018-06-19 00:16] leobalter opened #1601 "Travis log is printing out test contents"
Sounds like unintended. I’ll check it again tomorrow.

[2018-06-19 18:31] rwaldron commented on #1601
Looks like you fixed this.

[2018-06-19 18:31] #1601 closed

[2018-06-19 18:32] rwaldron commented on #1601
In the future, please add `Fixes gh-XXXX` to commit messages for specific issues, that will auto-close the issue for you.

[2018-06-19 18:56] #1515 closed

[2018-06-20 21:10] binji commented on #1593
Copied my comment from https://bugs.chromium.org/p/v8/issues/detail?id=7841#c16:

I took a look at test262/built-ins/Atomics/wake/wake-in-order, and it seems to rely on timing for ordering.

The `Atomics.store` call happens in order `0 1 2`, but there's no guarantee that the agents that are spin-looping will be scheduled in that order. I added a print statement:

[code]

And got the following outp

[2018-06-20 21:23] leobalter commented on #1593
thanks for the feedback, @binji! I have time scheduled this week to fix this.

[2018-06-22 16:34] rwaldron opened #1607 "Rename all Atomics.wake to Atomics.notify (when appropriate)"
I'll take care of this as progress is made on https://github.com/tc39/ecma262/pull/1220

[2018-06-22 16:35] #147 closed

[2018-06-22 16:36] #169 closed

[2018-06-25 15:11] patrick-soquet opened #1609 "Atomics.wait CanBlockIsFalse"
The following test has the `CanBlockIsFalse` flag:

- Atomics/wait/cannot-suspend-throws.js

which seems correct since it is testing if Atomics.wait throws an exception in the main thread.

But the following tests have also the `CanBlockIsFalse` flag:

- Atomics/wait/false-for-timeout.js
- Atomics/wait/negative-timeout.js
- Atomics/wait/null-for-timeout.js
- Atomics/wait/object-for-timeout.js
- At

[2018-06-25 16:41] littledan commented on #1343
I'm working on a test plan with @mkubilayk @Neuroboy23 @jbhoosreddy @tim-mc @cameron-mcateer @molisani @rricard from Bloomberg ; we plan to collaborate on the private methods/accessors tests.

[2018-06-25 17:58] rwaldron commented on #1609
Eventually, when we figure out how hosts can "signal" that they are running a test in "main thread, blocking is disallowed", this test will make sense. For now, it will fail on all runtimes that don't need to make that distinction. For those runtimes, it's safe to skip or ignore this test.

Right, because for the time being, `CanBlockIsFalse` is meaningless. It's just there for Test262 maintainers

[2018-06-25 18:00] rwaldron opened #1610 "Atomics: verify waiter counts when there are a very large number being notified"

[2018-06-25 18:14] rwaldron commented on #1593
@binji it's likely that this issue doesn't exist anymore, but the necessary changes may be pending in #1533 .

I'm curious about your description above: does this implementation conform to the explicit "first in first out" semantics defined in the spec? Is it that they are awoken in the correct order, but have no guarantee of which waiter proceeds with execution first?

[2018-06-25 18:28] binji commented on #1593
Yes, they will be woken in the order that they started waiting, but the test will sometimes have them wait in the wrong (i.e. unexpected) order.

[2018-06-25 20:34] rwaldron commented on #1593
Ok, this is where the issue lies in the test. Thanks for the additional clarification. I'll update the pending test in #1533 to caAlso, pture the order that the agents went to sleep and then compare it to the order in which they wake. Also, I'm going to nest the test code in a loop so that it's run several times.

[2018-06-28 19:46] leobalter commented on #1593
@binji @gsathya #1533 is finally merged, can you retry running Test262 with the latest changes? Please let me know if you find anything else missing to be covered there.

[2018-06-28 20:05] leobalter commented on #1387
This is  cool, @Izhido! I'm sorry it took me so long to answer you here.

I wonder if you wanna add your test harness to this list here: https://github.com/tc39/test262#test262-runners--harnesses

If positive, just send a PR.

[2018-06-28 20:06] #1466 closed

[2018-06-28 20:06] #1472 closed

[2018-06-28 20:06] leobalter commented on #1530
@anba can you confirm if the problem persists? I believe it's fixed by #1533

[2018-06-28 20:07] leobalter commented on #1529
@anba can you confirm if the problem persists? I believe it's fixed by #1533

[2018-06-28 20:08] #1555 closed

[2018-06-28 20:37] leobalter commented on #1607
See #1614. I think the tests should already support implementations on the renaming.

[2018-06-29 18:18] Izhido commented on #1387
Will do. Thanks!

[2018-06-29 18:20] anba commented on #1530
Yes, it still persists &rarr; https://treeherder.mozilla.org/#/jobs?repo=try&revision=8c0d9506ca4c9b697f1a3048c6e12644c3242b36&selectedJob=185592613

We're currently marking the following tests as having intermittent failures in SpiderMonkey:
- built-ins/Atomics/wait/waiterlist-block-indexedposition-wake.js
- built-ins/Atomics/wait/waiterlist-order-of-operations-is-fifo.js
- built-ins/Atomics/wake

[2018-06-29 18:23] anba commented on #1529
Yes, it's still an issue.

FWIW I'd probably rewrite the test as follows to be more resistant against spurious failures:

[code]

[2018-06-29 18:33] leobalter commented on #1530
Thanks @anba! This info is valuable!

I need to get some updates after 56091a0c5fc0bbc172d039056685bc6992a6528b, I'll see how to check it from here.

[2018-07-03 16:34] #1529 closed

[2018-07-03 19:41] leobalter commented on #1566
this should be fixed by #1617

[2018-07-03 19:41] #1566 closed

[2018-07-03 19:41] leobalter commented on #1530
this should be fixed by #1617

[2018-07-03 19:41] #1530 closed

[2018-07-03 20:20] leobalter commented on #1595
I'm not sure this could unwrap problems from how eval is implemented.

I also don't want to recommend using this method anywhere in Test262. Ideally the best format for testing early errors is through flags with the negative tags.

I understand this would require a change for the tests on RegExp property escapes. So here are some options:

1. Split `RegExp/property-escapes` tests into several nega

[2018-07-03 20:21] leobalter commented on #1609
This should be fixed in #1617. Please let me know if you find anything else missing.

Thanks!

[2018-07-03 20:21] #1609 closed

[2018-07-04 07:26] mathiasbynens opened #1621 "Negative tests for parsing phase don't seem to actually detect parsing phase"
[Negative tests](https://github.com/tc39/test262/blob/master/CONTRIBUTING.md#negative) are supposed to check for the error to be thrown during the specified `phase`. For early errors, the `phase` would be `parse`, e.g.:

[code]

`/?/` is supposed to throw an early error. But, [V8 has a long-standing bug](https://bugs.chromium.org/p/v8/issues/detail?id=896) that causes it throw an error at runtime

[2018-07-04 07:42] mathiasbynens commented on #1595
AFAICT, 1 doesn't solve the problem.

[Negative tests](https://github.com/tc39/test262/blob/master/CONTRIBUTING.md#negative) check for the exception to be thrown during the specified `phase` (modulo bugs like #1621).

I'm saying that, if an engine throws the correct exception, but just during the wrong phase, that should be communicated in the error message, or even be configured to count as "pass

[2018-07-04 15:09] littledan commented on #1343
A test plan--if you have other ideas, please post them further down on the thread:

* Early errors
   * Grammar
       * No space permitted between # and name (either in definition or usage)
       * Space permitted between receiver and private method access
       * "shorthand" not permitted -- a receiver is required
       * Private methods not permitted in object literals
       * Super private

[2018-07-04 17:06] jugglinmike commented on #1621
Hey @mathiasbynens! We tried to address this in gh-1073 (and actually, the bug in
V8 was one of the motivations). By throwing a string literal in negative syntax
tests, we allow consumers a means to differentiate between runtime and parsing
errors. As part of that patch, we implemented a linting rule so that future
contributions would consistently include a `throw` statement (which we found
prefer

[2018-07-04 17:21] littledan commented on #1621
Thanks for the response, @jugglinmike . For V8, this needs work on V8's harness to put things together. I was hoping to do this myself, but haven't had the time. @mathiasbynens If you'd like to fix this issue in V8's test setup, I'd be happy to walk you through how to do it.

[2018-07-05 07:01] mathiasbynens commented on #1621
Thanks for the background that I was missing, @jugglinmike, and for linking to an example. I now realize that this `throw` requirement is also documented here: https://github.com/tc39/test262/blob/master/CONTRIBUTING.md#handling-errors-and-negative-test-cases My bad!

@littledan I would like to fix this indeed. Please let me know what you had in mind.

[2018-07-05 07:17] mathiasbynens commented on #1621
Looks like https://github.com/tc39/test262/blob/e9a5a7f918c0f9c4a9f1224d25a6d55147953225/tools/lint/lib/checks/negative.py#L5 enforces this exact source string to be part of negative tests:

[code]

That's great! A hacky workaround for V8's test runner wcould be to remove these lines before running the test.

[2018-07-05 07:59] mathiasbynens commented on #1595
**Update:** #1621 is working as intended, and negative tests for the parse phase specifically need to have the following line as enforced by https://github.com/tc39/test262/blob/e9a5a7f918c0f9c4a9f1224d25a6d55147953225/tools/lint/lib/checks/negative.py#L5:

[code]

That means my above example would be:

[code]

For V8, because we throw the `/?/` error too late, this results in:

[code]

However, a

[2018-07-05 08:19] mathiasbynens commented on #1595
Either way, this is a V8 issue, and not a Test262 issue, so I'm gonna close this. Thanks, everyone!

[2018-07-05 08:19] #1595 closed

[2018-07-05 08:19] mathiasbynens commented on #1621
Closing as this is working as intended.

[2018-07-05 08:19] #1621 closed

[2018-07-05 12:00] mathiasbynens opened #1622 "Remove assert.throws.early in favor of negative tests?"
`assert.throws.early` was added here: https://github.com/tc39/test262/pull/1002

@leobalter [says](https://github.com/tc39/test262/issues/1595#issuecomment-402638285):

**Can we make this recommendation official by deprecating and removing `assert.throws.early`?**

`assert.throws.early` only seems to be [used](https://github.com/tc39/test262/search?q=%22assert.throws.early%22) in some Unicode prop

[2018-07-05 13:07] littledan commented on #1622
I like this idea. If an engine's test harness handles early errors well, it can get better accuracy that way than with `assert.throws.early`, as I [explained here](https://github.com/tc39/test262/pull/1002#issuecomment-297662366).

[2018-07-05 20:07] leobalter commented on #1622
sure!

@mathiasbynens I think it would be easier if you first update the tests using it. If you prefer, I can add a deprecation message in the documentation, just let me know.

[2018-07-06 02:06] jugglinmike commented on #1621
Happy to help!

[2018-07-09 13:08] jbhoosreddy commented on #1343
Thanks @littledan for the test plan. I'll start of with Early Errors > Grammar to familiarize myself with working on test262.

[2018-07-09 13:16] mkubilayk commented on #1343
I'll also give it a try this week. Taking Early errors > Duplicate private names.

[2018-07-09 15:46] mathiasbynens commented on #1622
https://github.com/mathiasbynens/unicode-property-escapes-tests/pull/9

[2018-07-09 15:52] mathiasbynens commented on #1622
https://github.com/tc39/test262/pull/1633

[2018-07-09 15:58] mathiasbynens opened #1634 "Move throw "..." for negative parsing errors to a helper function"
Re: #1073: @schuay had the idea of moving the `throw '...'` to a helper function like `failfNoEarlyErrorThrown()` or just `failIfCodeGetsExecuted()`. Has that been considered? It would make it possible for runners to override the function. For example, in V8 we'd want to make it a no-op for certain tests marked with a special flag like `FAIL_PHASE_ONLY`.

[2018-07-09 15:59] mathiasbynens commented on #1634
To clarify, I'm asking if we could turn the following:

[code]

...into something like:

[code]

[2018-07-10 08:56] mathiasbynens commented on #1622
Now that #1633 is merged, the only remaining usage of `assert.throws.early` is in `test/harness/*` itself. I guess it can be removed now?

[2018-07-10 14:49] jugglinmike commented on #1634
I never considered that. If `failfNoEarlyErrorThrown` was implemented as a no-op, wouldn't that mean V8 would pass the test without actually following the specification?

[2018-07-10 17:18] mathiasbynens commented on #1634
These tests verify three things:

A. an exception is thrown
B. the exception is of the expected type
C. the exception is thrown at the correct phase

V8 has known bugs where it throws errors at runtime instead of early. In such cases, I’d like to mark the Test262 test with a special (new) flag in our status file e.g. `FAIL_PHASE_ONLY`, which would then make `failfNoEarlyErrorThrown` a no-op. That

[2018-07-10 17:44] smigniot opened #1635 "Wrong github profile announcement"
Dear user tc39,

The github profile for tc39, namely https://github.com/tc39
Does contain a "user site/link URL", namely http://ecma-international.org/memento/TC39.htm

As of 2018-07-10T18:40:00, this url does *not* resolve - but to 404

1. You may want to change the URL of the tc39 user
2. In case this URL resolves differently in different countries, the 404 was obtained from France, using Firefo

[2018-07-10 18:03] leobalter commented on #1635
Confirmed the 404, but the link is correct. The website needs to be fixed and the page restored. In any case, I changed the link to https://www.ecma-international.org/memento/tc39-rf-tg.htm

cc @littledan @bterlson @ljharb @bmeck

This is not the proper repo for this report but that's fine. Thanks for reporting!

[2018-07-10 18:03] #1635 closed

[2018-07-10 18:24] jmdyck commented on #1635
I don't think it is. "TC" should be "tc", i.e.:
http://ecma-international.org/memento/tc39.htm
(which is 200 OK).

[2018-07-10 18:52] leobalter commented on #1635
@jmdyck the TC39 org was using the uppercase TC, that's something new on Ecma's website.

As we have ecma262, 402, test262, etc I think it's ok to point to the rf-tg link. I needed something to fix the 404, now we can bikeshed over which link we want to use.

[2018-07-12 07:06] littledan commented on #1635
@jmdyck TC39 does all of its work within its RFTG. We are working on better documentation to describe the situation, but it is not yet complete.

[2018-07-14 09:32] mathiasbynens commented on #1622
@leobalter?

[2018-07-14 11:20] FrankYFTang opened #1639 "incorrect options in test262/test/intl402/Locale/constructor-options-numeric-valid.js"
@Ms2ger
I think the options in test262/test/intl402/Locale/constructor-options-numeric-valid.js is set incorrectly

"
for (const [numeric, expected] of validNumericOptions) {
  const options = { numeric };
"
this make all the options be
{undefined},
{false},
{true},
{null},
{0},
{0.5},
{ false},
which does not make sense.
I believe it should be
"
for (const [numeric, expected] of validNumericOptio

[2018-07-14 14:06] ljharb commented on #1639
`{ numeric }` is a shorthand introduced in ES2015 for `{ numeric: numeric }`. This is working as intended.

[2018-07-14 14:06] #1639 closed

[2018-07-16 14:55] iamstolis opened #1640 "built-ins/Atomics/wait/value-not-equal.js invokes $262.agent.report() with number argument"
`built-ins/Atomics/wait/value-not-equal.js` tests invokes `$262.agent.report()` with a `number` argument. This function is supposed to be called with `string` argument only:
[code]
according to `INTERPRETING.md`.

The test should be updated to convert the `number` to `string` explicitly (i.e. `$262.agent.report(String(Atomics.store(i32a, 0, ${value})))`) or the description of `report` should be up

[2018-07-16 15:50] jugglinmike commented on #1634
In spec terms, I don't think an exception is thrown. The text for these errors read, "It is a Syntax Error if [...]" and "It is an early Reference Error if [...]". That suggests that the expected behavior can't be described as two distinctly observable conditions, "A" and "C".

From a developer's perspective, it doesn't seem useful to award "partial credit" for behavior like V8's. The distinction

[2018-07-16 16:33] mathiasbynens commented on #1634
The difference between early errors vs. runtime errors is most definitely observable. I don't understand what you're saying here. Could you elaborate?

The goal is not to award "partial credit", but rather to improve V8's test coverage based on existing tests that we currently have to skip or mark as `FAIL` completely. (There are ways to achieve this without something like `failfNoEarlyErrorThrown

[2018-07-16 16:46] mathiasbynens commented on #1634
The difference between early errors vs. runtime errors is most definitely observable. I don't understand what you're saying here. Could you elaborate?

The goal is not to award "partial credit", but rather to improve V8's test coverage based on existing tests that we currently have to skip or mark as `FAIL` completely. (There are ways to achieve this without something like `failfNoEarlyErrorThrown

[2018-07-16 17:55] leobalter commented on #1634
If find these steps (A to C) confusing from a perspective of writing the tests and consuming the results. It's seems like we would be leveraging the results to relax some tests.

In terms of unit tests, we need to observe the unit is an error (SyntaxError, ReferenceError, ...) in the spec'ed phase. It's weird to tell anything else is less of a failure if it do something else specific. It fails to

[2018-07-16 17:56] leobalter commented on #1622
@mathiasbynens I can do it this week. Thanks

[2018-07-16 18:05] ljharb commented on #1634
Any failure that has ever occurred could occur in the future for new implementations - regression tests have value forever even if all current implementations pass them.

[2018-07-17 07:04] mathiasbynens commented on #1634
That’s the thing though — these V8 bugs are unlikely to get fixed any time soon, if ever. That’s why I’m working on this.

Also, I wouldn’t consider this request a “feature”. We’d still be doing what the Test262 team decided to do in #1073, except in a different way that happens to be more flexible. I only see benefits to this change, and no downsides. You OTOH seem to be saying there won’t be any

[2018-07-18 15:41] gsnedders opened #1641 "Check EnumerableOwnPropertyNames matches EnumerateObjectProperties order"
From EnumerableOwnPropertyNames:

As far as I can tell, we don't have any tests for this having searched for a bunch of things.

EnumerableOwnPropertyNames callees:

 * Object.entries
 * Object.keys
 * Object.values
 * JSON.parse
 * JSON.stringify

EnumerateObjectProperties is only used by for…in.

Note we have tests for observing the order EnumerableOwnPropertyNames iterates in (e.g., in test/bui

[2018-07-18 16:02] gsnedders commented on #1372
https://github.com/web-platform-tests/wpt/blob/master/html/obsolete/requirements-for-implementations/other-elements-attributes-and-apis/document-all.html already has tests in WPT for this (and has since 2015), predating TC39 specifying [[IsHTMLDDA]].

[2018-07-24 19:03] #1607 closed

[2018-07-26 23:30] rwaldron commented on #1640
@iamstolis

Curious: which runner/engine is this for?

---------------------------------------

Looking at the cases that report the returned value of `Atomics.store()`, I think I'd rather go with:

That's sort of been implicit all along, but we should settle on it and document.

[2018-07-30 13:00] iamstolis commented on #1640
[JavaScript engine](https://github.com/graalvm/graaljs) of [GraalVM](https://www.graalvm.org/)

[2018-07-30 15:50] #1640 closed

[2018-07-31 17:59] nomadtechie opened #1661 "Add Git Hook to Support in Travis-CI for Verifying Commits in Implementation-Contributed Directories"
Per the curation guidelines, specified in #1598, we should extend the Travis-CI to run the following check when pull requests are made to master:

- If the pull request contains changes in the [implementation-contributed](https://github.com/tc39/test262/tree/master/implementation-contributed) directory,

    - verify that any files which have been *added* or *renamed* were only done so by the `tes

[2018-07-31 18:06] leobalter commented on #1661
Thanks!

[2018-08-04 20:37] rhuanjl opened #1666 "Possible test bug in Array.prototype.flatMap"
I believe that there is an error in the tests for the use of the thisArg in Array.prototype.flatMap

https://github.com/tc39/test262/blob/48d95ac3c4ac56018748c0d243c831f4c0bfb103/test/built-ins/Array/prototype/flatMap/thisArg-argument.js#L15-L32

Testing with eshost these appear to fail with SpiderMonkey, JSC and v8 AND with the draft implementation of flatMap I'm working on for Chakracore.

The b

[2018-08-04 20:40] ljharb commented on #1666
In strict mode, it would remain a primitive.  Perhaps that file is merely missing the pragma?

[2018-08-04 20:58] rhuanjl commented on #1666
Ah it has an onlyStrict flag at the top of the file - I'm probably just doing something wrongly, I will re-check and confirm back later.

[2018-08-04 21:36] rhuanjl commented on #1666
Sorry - not an error I was just the test incorrectly.

Thanks for the quick reply @ljharb .

[2018-08-04 21:36] #1666 closed

[2018-08-05 13:48] pvdz opened #1667 "Await binding in global is not allowed in strict mode"
The test in [`test262 / test / language / expressions / await / await-BindingIdentifier-in-global.js`](https://github.com/tc39/test262/blob/master/test/language/expressions/await/await-BindingIdentifier-in-global.js) should throw when parsing it in strict mode. I suspect there'll be more tests in this line that have the same problem.

I think the fix is to add `flags: [noStrict]`. The test case(s)

[2018-08-05 16:53] jugglinmike commented on #1667
This test seems valid to me.

The first early error disallows `await` as an IdentifierReference in module code.  The second concerns strict mode code, but it doesn't mention `await`.

Since Test262 tests are intended to be interpreted as scripts unless they specify the `module` flag, this test describes both a strict and non-strict script. In both cases, `await` is a valid IdentifierReference.

[2018-08-05 17:28] pvdz commented on #1667
Ah. That explains it. Thanks :)

Turns out most tests actually run fine in module mode as well. Guess it's no big surprise that it's mostly these kinds of cases where it makes the difference.

[2018-08-05 17:28] #1667 closed

[2018-08-10 19:26] #1622 closed

[2018-08-24 17:55] chicoxyzzy opened #1691 "Python set up questions"
I am trying to follow [these instructions](
https://github.com/tc39/test262/blob/master/CONTRIBUTING.md#procedurally-generated-tests) to run generator for tests which I need [for my PR](
https://github.com/tc39/test262/pull/1483). When I run `pip install --requirement tools/generation/requirements.txt`, I'm getting various errors (on macOS Mojave beta) on different Python versions. Which version o

[2018-08-24 18:15] leobalter commented on #1691
@chicoxyzzy I use the latest Python 2 available.

[code]

I'd be game to have a Docker image but I have 0 experience with it. I also wonder how it would work with Travis CI.

@jugglinmike WDYT about using a Docker image here?

[2018-08-24 18:17] leobalter commented on #1691
btw, I use python from Homebrew but I had to hack the version I'm using because Homebrew is really trying to force Python3 as default.

[2018-08-24 18:25] chicoxyzzy commented on #1691
I was able to install PyYAML with pip. Now when I run `python make.py` I got an error
[code]

[2018-08-24 18:37] ljharb commented on #1691
What’s done in python that couldn’t be done in node?

[2018-08-24 18:42] leobalter commented on #1691
Somehow it's not yet finding the PyYAML module you installed. I'm not sure if you're using the same related pip, and I'm not experienced enough with Python to tell what is exactly missing from this point. :(

[2018-08-24 18:44] leobalter commented on #1691
@ljharb We historically use python to not give a preference for any implementation of JS, plus as guarantee every implementor will use a dependency that is common to everyone, not requiring anyone to install "node".

[2018-08-24 18:48] ljharb commented on #1691
makes sense but now i have to install python, as a JS dev

[2018-08-24 18:52] chicoxyzzy commented on #1691
I was able to run `make.py` under virtualenv

[2018-08-24 18:56] chicoxyzzy commented on #1691
We have different versions of Node like Node with v8, Node ChakraCore, SpiderNode

[2018-08-24 19:06] leobalter commented on #1691
you usually have Python installed by default in your dev env. That was a thing we have for years, dating before I started working with Test262. I wouldn't choose Python if that was up to my own decision. If we want something neutral and available to everyone's dev environments, I would choose Perl. :)

There is a lot of politics involved with the technical decisions we make for this project and te

[2018-08-24 19:12] chicoxyzzy commented on #1691
Now I'm happy with Python 😅

[2018-08-24 19:12] tkellen commented on #1691
@chicoxyzzy Mind giving this a shot?

https://github.com/tc39/test262/pull/1692

[2018-08-27 21:46] gsathya opened #1696 "Add test for collator search usage option"
From https://github.com/tc39/ecma402/issues/256#issuecomment-411397653:

[code]

Not sure if this test exists already, but figured it'd be good to file an issue at least.

[2018-08-28 00:07] gsathya opened #1697 "Missing frontmatter in class fields tests"
* language/expressions/class/fields-computed-name-toprimitive
* language/expressions/class/fields-computed-name-toprimitive-symbol
* language/expressions/class/fields-ctor-called-after-fields-init
* language/expressions/class/fields-evaluation-error-computed-name-referenceerror
* language/expressions/class/fields-evaluation-error-computed-name-toprimitive-err
* language/expressions/class/fields-ev

[2018-08-31 19:30] leobalter commented on #1696
cc @Ms2ger @littledan while you're working on several tests for the Intl specs, are you interesting in this one?

[2018-09-04 15:16] chicoxyzzy commented on #1691
Since #1703 was merged, I'll try to set up everything from scratch to find out if there are any unobvious steps now. I'll provide feedback here later.

[2018-09-04 16:27] #1697 closed

[2018-09-04 17:10] gsathya opened #1705 "ListFormat, RelativeTimeFormat missing subclassing tests"
Similar to https://github.com/tc39/test262/blob/master/test/intl402/NumberFormat/subclassing.js

Probably Locale is missing this too

cc @Ms2ger

[2018-09-04 18:12] jbhoosreddy commented on #1343
private method async generators, generators, async function, tests landed

[2018-09-12 17:51] leobalter opened #1725 "Evaluation order in addition operations"
This is feedback after reviewing the following contributed test: [javascriptcore/stress/addition-order-evaluation.js](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/addition-order-evaluation.js)

`language/expressions/addition/order-of-evalution.js` needs some revamp.

https://tc39.github.io/ecma262/#sec-addition-operator-plus

- [ ] add coverage for o

[2018-09-12 17:55] leobalter opened #1726 "Expressions with Addictive operators with toprimitive operations returning nested objects"
This is feedback after reviewing the following contributed test: [javascriptcore/stress/allow-math-ic-b3-code-duplication.js](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/allow-math-ic-b3-code-duplication.js)

https://tc39.github.io/ecma262/#sec-additive-operators

- [ ] add cases for expressions using addictive operators with toprimitive operations

[2018-09-12 17:58] leobalter opened #1727 "Function#apply: second argument is not an array-like value."
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/apply-second-argument-must-be-array-like.js)

- [ ] Cover cases where the second argument is not an array like value.

[2018-09-12 18:00] leobalter opened #1728 "length property of arguments after defineProperty operation"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/arguments-bizarre-behavior.js)

This is partially covered in a different way:

- [ ] needs to check length of arguments after defineProperty
- [ ] check the value after the function scope, as a returned result.
- [ ] Enumerability might be a point to

[2018-09-12 18:02] leobalter opened #1729 "Missing coverage for Math methods with type coercions on the given arguments"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/arith-abs-on-various-types.js) (and other similar test files `arith-*-on-varios-types.js`)

- [ ] Missing coverage for Math methods with type coercions on the given arguments

[2018-09-12 18:05] leobalter opened #1730 "Array methods on top of proxies objects with array targets"
This is feedback after reviewing this [contributed test](https://github.com/WebKit/webkit/blob/master/JSTests/stress/array-concat-spread-proxy.js)

- [ ] add cases of Array methods on top of proxies objects with array targets

[2018-09-12 18:09] leobalter opened #1731 "Collections manipulation, including dynamic changes during iteration."
This is feedback after reviewing this [contributed folder](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/)

- [ ] Test static return values for before and after adding an item in an Set/Map/WeakMap/WeakSet.
- [ ] Add and remove values during possible iteration of list objects.

[2018-09-12 18:12] leobalter opened #1732 "Cover Number#toString on top of literal numbers"
This is feedback after reviewing this [contributed test folder](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/)

- [ ] Cover Number#toString on top of literal numbers but number objects only.

examples: `0..toString(2); 0..toString(4); 0..toString(8); 0..toString(16); 0..toString(32);`

[2018-09-12 18:14] leobalter opened #1733 "Add coverage for fn_name.arguments going to inner scopes."
This is feedback after reviewing this [contributed test](https://github.com/WebKit/webkit/blob/master/JSTests/stress/assign-argument-in-inlined-call.js)

- [ ] Add coverage for fn_name.arguments going to inner scopes.

[2018-09-12 18:38] leobalter opened #1734 "Add coverage for obj computed property names containing expressions that evaluates to null"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/assignment-in-function-call-bracket-node.js)

- [ ] Tests obj computed property names containing expressions that evaluates to null.

[2018-09-12 19:22] leobalter opened #1736 "Test class heritage failing with arrow functions (no constructor)"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/async-arrow-function-in-class-heritage.js)

- [ ] Test class heritage failing with arrow functions (no constructor).

This might have coverage, but I have not found any yet.

[2018-09-12 19:24] leobalter opened #1737 "Cover lexical arguments/new.target/etc in async arrow functions"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/async-arrow-functions-lexical-binding-in-class.js) (async-arrow-functions-*.js)

- [ ] tests checking for lexical arguments/new.target/etc in async arrow functions
- [ ] Async arrow functions needs some refactoring

[2018-09-12 19:25] leobalter opened #1738 "Verify the .name property is properly set in multiple anonymous fn forms"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/inferred-names.js)

- [ ] Add tests for multiple anonymous fn forms, verify the .name property is properly set
- [ ] Web Compat fix: https://github.com/Microsoft/ChakraCore/issues/3407

[2018-09-12 19:30] leobalter opened #1739 "Built-in function objects that are not identified as constructors do not implement the [[Construct]]"
This is feedback after reviewing this [contributed test](https://github.com/WebKit/webkit/blob/master/JSTests/stress/builtin-function-is-construct-type-none.js)

- [ ] Add a forEach test with a new.target call `new Array.prototype.forEach(function () { });`
- [ ] Extend it to other methods

[code]

[2018-09-12 19:31] leobalter opened #1740 "Add length property check for function forms in the language folder"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/builtin-function-length.js)

- [ ] Add length property check for function forms in the language folder

[2018-09-12 19:33] leobalter opened #1741 "Review the coverage of test/language/computed-property-names"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/computed-accessor.js) and this other [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/computed-accessor-parsing.js)

- [x] Review the coverage of test/language/computed-property-names
- [

[2018-09-12 19:34] leobalter opened #1742 "Add tests for completion value resolution in try/catch/finally blocks"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/completion-value.js)

- [ ] v8: add tests for completion value resolution in try/catch/finally blocks (anything returning -2)

[code]

expected: 42
actual: -2

[2018-09-12 19:36] leobalter opened #1743 "Add test appending small value in a very long array"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/concat-append-one-with-sparse-array.js)

- [ ] Append a small value in a very long array test is slow but maybe worth considering?

This is not connect to any specific part of the specs and creates a slow test. Should weight the value before addition

[2018-09-12 19:38] leobalter opened #1744 "Verify subclass structure that may throw when getting prototype"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/create-subclass-structure-may-throw-exception-when-getting-prototype.js)

- [ ] test results are inconsistent in different engines
- [ ] verify this with the usage for Reflect.construct

CH is behaving differently than other engines.

[2018-09-12 19:40] leobalter opened #1745 "Expand coverage in @@iterator usage in loops w/ custom iterators."
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/custom-iterators.js)

- [ ] it would be interesting to create templates and cases for iteration over objects.
- [ ] Using Symbol.iterator (and Symbol.asyncIterator) in for-of loops, for-of-await loops, Array.from, etc etc etc
- [ ] The examples in th

[2018-09-12 19:41] leobalter opened #1746 "Reflect.constructor can use a custom prototype with the same reference for the original one"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/custom-prototype-may-be-same-to-original-one.js)

- [ ] Reflect.constructor can use a custom prototype with the same reference for the original one

[2018-09-12 19:42] leobalter opened #1747 "Verify correct errors calling Symbol values"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/error-description-on-symbols-should-not-crash.js)

- [ ] Symbols are not callable... `Symbol(1)()`

[2018-09-12 19:43] leobalter opened #1748 "Review coverage for Object#hasOwnProperty, add coercions for the this value"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/exception-in-to-property-key-should-be-handled-early-in-object-methods.js)

- [ ] Review coverage for Object#hasOwnProperty, add coercions for the this value

[2018-09-12 19:45] leobalter opened #1749 "Verify .caller behavior for nested functions, retrieving the function body."
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/function-caller-async-function-body.js) and others `function-caller-*.js`

- [ ] Verify `.caller` behavior for nested functions, retrieving the function body.

Results are diverging from JSC (abrupt completion) to other engines (no error).

[2018-09-12 19:47] leobalter opened #1750 "assert binding block of the global in inner scopes, deferring references to the local scope."
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/global-environment-does-not-trap-unscopables.js)

- [ ] duplicate language/with/binding-blocked-by-unscopables.js to assert binding block of the global in inner scopes, deferring references to the local scope.

[2018-09-12 19:48] leobalter opened #1751 "Needs coverage for Promise.all and racing handling of a local @@species"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/ignore-promise-species.js)

- [ ] add coverage for Promise.all and racing handling of a local @@species

[2018-09-12 19:50] leobalter opened #1752 "Review name property for the executor functions in Promise.resolve calls"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/private-name-as-anonymous-builtin.js)

- [ ] Review name property for the executor functions in Promise.resolve calls

[2018-09-12 19:51] leobalter opened #1753 "Do we have coverage for regexp match setting array values?"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/regress-187006.js)

- [ ] check if we have coverage for regexp match setting array values.

[2018-09-12 19:52] leobalter opened #1754 "review coverage for Object.defineProperties"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/regress-179634.js)

- [ ] review coverage for Object.defineProperties

[2018-09-12 19:52] leobalter opened #1755 "Review coverage for valid and invalid await expressions"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/regress-170732.js)

- [ ] Review coverage for valid and invalid await expressions

[2018-09-12 19:53] leobalter opened #1756 "review common forms for invalid dates"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/regress-159883.js)

- [ ] review common forms for invalid dates

[2018-09-12 19:53] leobalter opened #1757 "AnnexB defineGetter/Setter being used with built-in functions"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/regress-189317.js)

- [ ] AnnexB defineGetter/Setter being used with built-in functions

Found cross engine errors

[2018-09-12 19:54] leobalter opened #1758 "Needs coverage for the this value in String#toString and String#valueOf"
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/string-to-string-error.js) and this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/string-value-of-error.js)

- [ ] Needs coverage for the this value in String#toString and String#value

[2018-09-12 19:55] leobalter opened #1759 "Add coverage for checking reserved names as global variables, using escape sequences."
This is feedback after reviewing this [contributed test](https://github.com/tc39/test262/blob/master/implementation-contributed/javascriptcore/stress/reserved-word-with-escape.js)

- [ ] Add coverage for checking reserved names - mostly var - as global variables, using escape sequences.

[2018-09-15 04:26] ryzokuken commented on #1275
@leobalter please close this.

[2018-09-25 18:16] leobalter opened #1791 "Support changes on indices in OrdinaryOwnPropertyKeys"
cc @mathiasbynens this issue should match any outcome of tc39/ecma262#1242 or related.

[2018-09-26 13:16] rwaldron opened #1793 "Per-iteration bindings in for-loop (from webkit)"
See: https://bugs.webkit.org/show_bug.cgi?id=189799

- [x] Determine if this is covered
- [x] If not covered, write coverage

[2018-09-26 14:38] rwaldron opened #1794 "Follow-ups for #1788"
See: https://github.com/tc39/test262/pull/1788#discussion_r220247358

[2018-09-26 15:37] #1794 closed

[2018-09-26 23:57] mathiasbynens commented on #1634
I’ve prepared a PR just to clarify what I had in mind: https://github.com/tc39/test262/pull/1801 To me this seems like a nice simplification on the Test262 side of things.

The V8-specific issue that was discussed above is orthogonal to this change.

[2018-09-27 18:56] rwaldron opened #1804 "Verify implementation-contributed/v8/test262/local-tests/ and migrate to test/*"
These tests are created by V8 implementers and can likely be migrated with little or no changes.

[2018-10-03 18:37] FrankYFTang commented on #1584
ping

[2018-10-03 20:49] mathiasbynens opened #1817 "Correct `features` syntax in frontmatter"
I was doing a Test262 roll for V8 and had lots of new failing tests because of this issue.

https://github.com/tc39/test262/blob/7e65999731cb6cd6fab10a92e8b7bd39a6b0793c/test/language/expressions/class/dstr-private-gen-meth-dflt-ary-init-iter-no-close.js#L7-L8

This `features` value is spread across multiple lines, which https://github.com/tc39/test262/blame/master/tools/packaging/parseTestRecord.

[2018-10-03 21:04] mathiasbynens commented on #1817
These tests are affected:

[code]

[2018-10-03 21:07] leobalter commented on #1817
We are pretty familiar with this syntax but also the fact that some different runners are not fully compatible with the complete Yaml syntax and this might cause trouble I prefer to avoid for now.

It sounds like item 2 is the best candidate, IMO. It's also unfortunate this error is happening. Thanks for showing it.

Mind breaking them in multiple lines? :)

[2018-10-03 21:29] rwaldron commented on #1817
@mathiasbynens who/what is using the file you mention here?

[2018-10-03 21:35] mathiasbynens commented on #1817
V8’s test runner. See https://chromium-review.googlesource.com/c/v8/v8/+/1259865.

[2018-10-03 21:47] rwaldron commented on #1817
@mathiasbynens when following that link, I don't see where https://github.com/tc39/test262/blame/master/tools/packaging/parseTestRecord.py is being used

[2018-10-03 21:54] mathiasbynens commented on #1817
Right, the CL shows the failing tests because of this. It’s used in `testcfg.py`: https://cs.chromium.org/chromium/src/v8/test/test262/testcfg.py?l=117&rcl=573561bf18181e6a08b8db00576dcb8adc969800

Without that CL, you’ll see those tests failing when running `gm x64.release test262` in a V8 checkout.

Note that our [`SKIPPED_FEATURES`](https://cs.chromium.org/chromium/src/v8/test/test262/testcfg.p

[2018-10-03 22:02] rwaldron commented on #1817
I've determined that the culprit is:

[code]

Here: https://github.com/tc39/test262/blob/master/tools/generation/lib/template.py#L156-L157

And working on fixing

[2018-10-03 22:07] mathiasbynens commented on #1817
@rwaldron Cool! Sounds like that would option 1 then? (I’m fine with either of the three.)

[2018-10-04 05:06] mathiasbynens commented on #1817
Patch: https://github.com/tc39/test262/pull/1821

[2018-10-04 20:07] leobalter commented on #1567
duplicate of #1164

[2018-10-04 20:07] #1567 closed

[2018-10-04 20:38] jdalton opened #1826 "Leftover bugs in dynamic-import tests"
From the recent merge (https://github.com/tc39/test262/pull/1588) there was still a leftover issue that came in just as the merge hit, [here](https://github.com/tc39/test262/pull/1588#discussion_r222814051).

[2018-10-04 20:42] mathiasbynens opened #1827 "Prevent invalid YAML frontmatter in more cases"
https://github.com/tc39/test262/pull/1821/files#r222811633

We should apply the same fix as in #1821 to all the other frontmatter properties that output `foo: [bar, baz]`, i.e. `flags` and `includes` and possibly others.

Ref. #1817.

[2018-10-04 20:48] jdalton commented on #1826
Closing, resolved in the PR.

[2018-10-04 20:48] #1826 closed

[2018-10-05 00:44] jdalton opened #1829 "Several dynamic-import tests flagged as async don't call $DONE"
Via https://github.com/tc39/test262/pull/1588#discussion_r222833499:

Based on [INTERPRETING](https://github.com/tc39/test262/blob/377f07f502890284d1e89ecb6b66343464fe14c0/INTERPRETING.md) async flagged tests should print `'Test262:AsyncTestComplete'` or `'Test262:AsyncTestFailure: ' + reason` by way of [`doneprintHandle`](https://github.com/tc39/test262/blob/master/harness/doneprintHandle.js). Wi

[2018-10-05 14:03] rwaldron commented on #1829
Excellent! Thanks for the report

[2018-10-05 16:41] #1829 closed

[2018-10-08 22:57] gsathya opened #1846 "Missing tests for CanonicalizeLocaleList"
.. in Intl.RelativeTimeFormat and Intl.ListFormat constructors

cc @Ms2ger @FrankYFTang

[2018-10-09 01:24] FrankYFTang opened #1847 "buggy intl402/Locale/constructor-tag-tostring.js"
I think intl402/Locale/constructor-tag-tostring.js is buggy
At least one error here
for (const input of errors) {
  assert.throws(CustomError, function() {
    new Intl.Locale(input);
  }),
  `new Intl.Locale(${input}) throws CustomError`);
}

the ) between the } and , should be removed.
I think there are other problem in that test.

@rwaldron @Ms2ger

[2018-10-09 03:38] FrankYFTang commented on #1847
this is fixed by https://github.com/tc39/test262/pull/1841

[2018-10-09 08:47] Ms2ger commented on #1847
Broken in #1798.

CC @littledan @gsathya

[2018-10-10 21:25] #1847 closed, assigned to nobody

[2018-10-15 17:41] #1846 closed

[2018-10-19 21:14] bakkot opened #1882 "regex named groups tests using eval"
The tests in the following files are checking for syntax errors in regex literals using `eval`:
- [non-unicode-malformed.js](https://github.com/tc39/test262/blob/3936950114fcdf49ece33bbbc52b71ac4ebbb32c/test/built-ins/RegExp/named-groups/non-unicode-malformed.js)
- [non-unicode-property-names.js](https://github.com/tc39/test262/blob/3936950114fcdf49ece33bbbc52b71ac4ebbb32c/test/built-ins/RegExp/na

[2018-10-22 15:40] leobalter commented on #1882
@bakkot sure thing! This would require lots of test files (one per each case) but I'd welcome a PR.

[2018-10-22 17:25] jdalton opened #1883 "early-dup-export-as-star-as.js path incorrect."
The path here is a bare import and needs the relative "./" path prefix:

* https://github.com/tc39/test262/blob/d1ad8e8fbc75132bacef6712e6b792d15275a3fb/test/language/module-code/early-dup-export-as-star-as.js

* https://github.com/tc39/test262/blob/d1ad8e8fbc75132bacef6712e6b792d15275a3fb/test/language/module-code/early-dup-export-star-as-dflt.js

[2018-10-22 17:54] rwaldron commented on #1883
Thanks!

[2018-10-23 19:23] #1342 closed

[2018-10-24 16:18] #1883 closed

[2018-10-24 22:31] leobalter opened #1898 "missing coverage: `new await ...` and `new (await ...)`"

[2018-10-25 13:23] mathiasbynens opened #1901 "Update `Reflect.ownKeys` tests"
https://github.com/tc39/ecma262/pull/1242 was merged. The tests added in #1580 need to be updated accordingly.

[2018-10-25 14:07] mathiasbynens commented on #1901
Note that the impacted API surface is not limited to just `Reflect.ownKeys`: https://github.com/tc39/ecma262/pull/1242#issuecomment-433064936

[2018-10-25 14:20] mathiasbynens commented on #1901
https://github.com/tc39/ecma262/pull/1243 was merged as well, so we may want to test the same things for String exotic objects.

[2018-10-25 17:08] #1696 closed

[2018-10-26 16:53] FrankYFTang opened #1904 "assertFalse in test/intl402/Segmenter/prototype/segment/segment-*-iterable.js"
The following fail because there are no definition of assertFalse

test/intl402/Segmenter/prototype/segment/segment-word-iterable.js
test/intl402/Segmenter/prototype/segment/segment-grapheme-iterable.js
test/intl402/Segmenter/prototype/segment/segment-line-iterable.js
test/intl402/Segmenter/prototype/segment/segment-sentence-iterable.js

assertFalse(iter.following());

should be
assert.sameValue(f

[2018-10-26 18:09] leobalter commented on #1904
for consistency please use the first argument for the actual value and the second for the expected one.

[code]

[2018-10-26 18:16] leobalter commented on #1904
@FrankYFTang: I just sent a new PR with a quick fix on #1905

[2018-10-26 18:34] #1904 closed

[2018-10-29 20:04] FrankYFTang opened #1910 "wrong expectations of formatToParts in intl402/RelativeTimeFormat/prototype/formatToParts/*"
I believe we have a lot of wrong expectations on formatToParts  in intl402/RelativeTimeFormat/prototype/formatToParts/*

formatToParts should output the number format to parts of number which has fraction and > 999

so
formatToParts(123456.78, "day")
should NOT generate
{type: "literal", value: "in "},
{type: "integer", value:"123,456.78", unit: "day"}
{type: "literal", value: "days"},

but
{type:

[2018-10-29 20:08] FrankYFTang commented on #1910
Currently, we have wrong expectations in the following tests

=== test262/intl402/RelativeTimeFormat/prototype/formatToParts/en-us-numeric-auto ===
=== test262/intl402/RelativeTimeFormat/prototype/formatToParts/en-us-numeric-always ===
=== test262/intl402/RelativeTimeFormat/prototype/formatToParts/en-us-style-short ===
=== test262/intl402/RelativeTimeFormat/prototype/formatToParts/pl-pl-style-shor

[2018-10-29 20:08] littledan commented on #1910
Agreed. It sounds like this test was written against an earlier version of the specification, which did not break down the number parts, and no one got around to updating it. Happy to have your fix!

[2018-10-29 20:13] FrankYFTang commented on #1910
there is a spec change? no wonder I did it wrong :) I probably was just implementing the old spec.

[2018-10-29 21:07] littledan commented on #1910
The spec change was, it used to be the semantics that you describe in the tests, and changes to the more broken-out semantics that you say your implementation has.

[2018-10-29 22:13] FrankYFTang commented on #1910
PR in https://github.com/tc39/test262/pull/1911

[2018-10-29 22:18] FrankYFTang commented on #1910
v8 is broken. I just realize that and ask for code review in https://chromium-review.googlesource.com/c/v8/v8/+/1305936

[2018-10-31 16:38] #1910 closed

[2018-11-08 14:18] #1882 closed

[2018-11-08 23:10] leobalter commented on #1343
I updated the top comment with a Checklist I'm still working on - it's being pretty tricky to verify everything covered.

That list follows parts identified directly in the specs texts (also considering the private fields spec text).

I haven't had the time to cross match with items from the other list.

[2018-11-13 13:58] Ms2ger commented on #1904
Thanks for fixing; it shouldn't happen again.

[2018-11-15 18:05] #1570 closed

[2018-11-21 22:05] DavidBruant opened #1964 "Add a test for "undeclared = (this.undeclared = 5);" in global scope"
[code]

Found here: https://bugzilla.mozilla.org/show_bug.cgi?id=605515
Apparently, Firefox still fails this part of the spec

I tried to look for an existing test, but it was too hard and i failed
I'm happy to contribute the test if directed to the right direction

[2018-12-04 07:03] FrankYFTang opened #1984 "built-ins/Date/S15.9.3.1_A5_* tests fail in some TZ, including TZ='Asia/Hong_Kong'"
I got the following tests failure while I test test262 on v8 under a Linux machine in TZ='Asia/Hong_Kong' . I believe these tests were written under certain assumption that will failed under some timezone.

=== test262/built-ins/Date/S15.9.3.1_A5_T4 ===
/usr/local/google/home/ftang/v8/v8/test/test262/data/harness/sta.js:22: Test262Error: Expected Sun Dec 31 1899 23:59:00 GMT+0736 (Hong Kong Standa

[2018-12-04 07:11] FrankYFTang commented on #1984
Also the following TZ
TZ='Asia/Shanghai'; export TZ
TZ='Asia/Macau'; export TZ
TZ='Asia/Seoul'; export TZ
  TZ='Asia/Kathmandu'; export TZ

and maybe more

[2018-12-04 07:13] FrankYFTang commented on #1984
I believe the date values prior 1969 are not working for these TimeZone and cause problems.

[2018-12-04 07:16] FrankYFTang commented on #1984
@jugglinmike @deathbearbrown @rwaldron - FYI

[2018-12-04 13:55] littledan commented on #1056
I am not aware of testing gaps for BigInt, so closing this issue.

[2018-12-04 13:55] #1056 closed

[2018-12-08 00:23] FrankYFTang opened #1989 "We should keep "kn-true" and "kf-true" in "u-""
In https://github.com/tc39/test262/commit/faed4fb08990e461e605f579ec1cf8e1d2bd439f
@anba  change the following three tests

test/intl402/Locale/getters.js
test/intl402/Locale/constructor-options-numeric-valid.js
test/intl402/Locale/constructor-options-numeric-undefined.js

from expecting "u-kf-true" to "u-kf" and "u-kn-true" to "u-kn"
I disagree with such change. I propose we rollback that three c

[2018-12-08 00:36] FrankYFTang commented on #1989
After read http://www.unicode.org/reports/tr35/tr35.html#u_Extension carefully. I take back my position.

Type value "true" is removed.

[2018-12-08 00:36] #1989 closed

[2018-12-10 14:00] anba commented on #1984
This is caused by <https://bugs.chromium.org/p/v8/issues/detail?id=7863>.

[2018-12-11 14:39] jbhoosreddy commented on #1343
- [x] Early errors
    - [x] Grammar (@jbhoosreddy)
    - [x] No space permitted between # and name (either in definition or usage)
    - [x] Space permitted between receiver and private method access
    - [x] "shorthand" not permitted -- a receiver is required
    - [x] Private methods not permitted in object literals
    - [x] Super private access (super.#x()) is not permitted
    - [x] Private

[2018-12-11 15:13] littledan commented on #1343
Great progress, @jbhoosreddy

[2018-12-11 19:44] leobalter commented on #1343
I'm trying a good effort to connect these dots to effort text. It would be nice if this could be done in any checklist as well. Otherwise it's complex enough to understand how coverage affects the proposed specs text.

Examples:

This can connected to the abstractions for PrivateFieldSet, etc. There is a list above with this information.

set is undefined, it's also in the PrivateFieldSet

nice on

[2018-12-13 10:33] littledan commented on #1343
(by "effort text", you meant "spec text", right?)

Those associations LGTM. Are there any lines in the test plan that are not clear to you, where the spec text describes their behavior? I'd be happy to clarify.

Where do you suggest that we write this documentation?

FYI I just landed a large editorial change to private methods in https://github.com/tc39/proposal-private-methods/pull/52 .

[2018-12-14 20:36] leobalter commented on #1343
It's impossible we organize our work the same way. I'm trying to share my way to map things to spec text. Without it, everything is really hard for me to connect to spec text without any reference.

The clarification I need - as mentioned in the other message - would be finding a way to map these to the spec. If that's impossible, I'll need extra time to connect everything because I would need to

[2018-12-14 20:37] leobalter commented on #1343
just a quick mapping to the spec (no specific way to map) would do the trick. The spec is the documentation, right?

[2018-12-15 10:50] leobalter opened #1997 "YAML formatting restrictions"
We should restrict the YAML format for the test files frontmatter to improve interoperability.

Many test runners depend on quick but limited yaml parsers and it's ok to have style restrictions identified in the importing processes for Test262.

Some of them I can already tell from scratch:

- [ ] no leading or trailing spaces from inline lists. e.g.: `[ leading-space, foo, trailing-space ]`
- [ ]

[2018-12-18 07:08] ajvincent opened #2003 "No tests that a Proxy revoke() actually revokes"
https://github.com/tc39/test262/tree/master/test/built-ins/Proxy/revocable

The tests ensure that revoke returns undefined... but nothing here actually tests that the proxy revocation worked.

[2018-12-19 21:10] FrankYFTang commented on #1584
I remember in Oct TC39 @ Apple it is agree to adopt the stable sorting proposal from @mathiasbynens  . Does that obsoleted this issue?

[2018-12-19 21:14] FrankYFTang commented on #1584
https://github.com/tc39/ecma262/pull/1340

[2018-12-19 22:45] mathiasbynens commented on #1584
IIUC, requiring a stable sort would indeed make this problem go away.

[2018-12-20 05:43] FrankYFTang commented on #1584
@Imasius  - Simon. could you please review v8 changes https://chromium-review.googlesource.com/c/v8/v8/+/1384800 for me too? Thanks

[2018-12-22 05:11] ajvincent commented on #2003
I was wrong:  there are tests for this under https://github.com/tc39/test262/tree/master/test/built-ins/Proxy/*/null-handler.js, where the asterisk represents a proxy trap name.

[2018-12-22 05:11] #2003 closed

[2019-01-02 21:32] gsathya commented on #1997
Looks like JSC's parser is having trouble with the YAML as well: https://bugs.webkit.org/show_bug.cgi?id=193053

[2019-01-05 23:57] ajvincent commented on #1026
Well, I've gone ahead and done a first-draft of integration tests for Membranes.  Even if it gets rejected overall, it gives us a starting point.

[2019-01-07 13:44] leobalter commented on #1997
@gsathya yes, the issues we can list here might affect at least V8, JSC and SpiderMonkey. Turns out it Yaml parsers are more challenging than one can expect.

[2019-01-13 14:37] littledan commented on #1161
There's been a lot of tests added for class fields; I think we can consider this task complete.

[2019-01-17 01:49] gsathya opened #2033 "Private field early errors don't use the negative test pattern"
test262/language/expressions/class/elements/private-derived-cls-direct-eval-err-contains-supercall should be changed:

[code]

The following tests are similarly broken:
[code]

[2019-01-17 02:09] gsathya opened #2034 "Extra new line in YAML frontmatter breaks our parser"
New line after the `info:` block is breaking our YAML parser.

[code]

Off topic but it looks like this was introduced quite recently with https://github.com/tc39/test262/pull/2005, why wasn't the CI run against this? Would it have caught this breakage?

[2019-01-17 02:09] gsathya commented on #1997
Another one: https://github.com/tc39/test262/issues/1997

[2019-01-17 02:10] gsathya commented on #2034
Following tests are affected:
  'language/expressions/postfix-decrement/arguments': [FAIL],
  'language/expressions/postfix-decrement/arguments-nostrict': [FAIL],
  'language/expressions/postfix-decrement/eval': [FAIL],
  'language/expressions/postfix-decrement/eval-nostrict': [FAIL],
  'language/expressions/postfix-increment/arguments': [FAIL],
  'language/expressions/postfix-increment/arguments-

[2019-01-18 19:48] gsathya opened #2039 "Private fields tests are incorrect"
Following tests are wrong:
[code]

See https://github.com/tc39/proposal-class-fields/issues/215

cc @littledan

[2019-01-19 16:47] littledan commented on #2039
I'm not sure if these are incorrect, see clarification at https://github.com/tc39/proposal-class-fields/issues/215#issuecomment-455560825

Cc @mkubilay

[2019-01-19 17:16] mar9000 opened #2042 "How ArrayLiteral can produce [1,2]?"
Hi,

I'm developing an ECMAScript implementation and after, extensive, search on the specification I cannot figure out how the _ArrayLiteral_ can produce a common array literal like `[1,2]`.
As far as I understand it can contain only _AssignmentExpression_ (or spread _AssignmentExpression_).
But I could not find how `1` or `2` can be valid _AssignmentExpression_.
Thx in advance.

[2019-01-19 17:44] mar9000 commented on #2042
AFAIK that describes the index calculation in case of elision.

Let me explain it again with different words:
  1. because ArrayLiteral can contain (after applying some productions) only _AssignmentExpression_,
  2. because of this the literal `1` should be a valid _AssignmentExpression_.
  3. because the literal `[1,2]` is a valid array literal.
  4. after reading the whole definition of _Assignm

[2019-01-19 17:51] ljharb commented on #2042
`1, 2` is perhaps a valid assignment expression, because of the comma operator?

[2019-01-19 18:14] mar9000 commented on #2042
I don't think so.
_Expression_ is used for example in _ExpressionStatement_ such that the following is valid:
[code]
IFAIK _Expression_  just states that an expression is a sequence of _AssignmentExpression_ separated by comma. Even if _AssignmentExpression_ would refer to _Expression_ this would not make `1`valid as far as I understand.

For `1` to be valid _AssignmentExpression_ should reach _Nu

[2019-01-19 21:54] ajvincent commented on #1026
See tc39/test262-integration .

[2019-01-19 21:54] #1026 closed

[2019-01-20 09:19] littledan commented on #2039
Oops, right, I agree that some of these are invalid. Looks like the first one came from https://github.com/tc39/test262/commit/8b2b4c35ca4c0a07dbd9ef603b63afcee8c3bcf1 , a patch that introduced a number of tests that check that nested access to private is disallowed, when it should be allowed. Cc @leobalter, @xanplz

[2019-01-24 22:59] littledan commented on #1997
Thanks for working on this important issue, @leobalter.

[2019-01-25 09:11] maiermic opened #2049 "Assertion is not reached"
In the test files [S12.6.1_A4_T5.js](https://github.com/tc39/test262/blob/116c95d97ce3982c45d955ab596c7b55efd51a8f/test/language/statements/do-while/S12.6.1_A4_T5.js#L22) and [S12.6.2_A4_T5.js](https://github.com/tc39/test262/blob/116c95d97ce3982c45d955ab596c7b55efd51a8f/test/language/statements/while/S12.6.2_A4_T5.js#L22) the assertion call is not reached since `break woohoo;` jumps behind the bl

[2019-01-28 23:00] littledan commented on #2033
I agree with @gsathya 's analysis here.

[2019-01-29 10:05] adrianheine commented on #2033
`PerformEval` is runtime behavior, so if this `SyntaxError` is emitted by `PerformEval`, it cannot be an early error on script parsing, right?

[2019-01-29 11:34] littledan commented on #2033
Oh, you are right. Actually the old test looks good on a second look--it is checking that there will be the right kind of runtime error.

[2019-01-30 15:20] #2039 closed

[2019-02-02 00:16] mathiasbynens commented on #1964
It seems https://github.com/tc39/test262/tree/master/test/language/identifier-resolution might be a reasonable location for a new test. @leobalter @rwaldron WDYT?

[2019-02-06 14:43] caiolima opened #2066 "Missing test case for private fields storing functions"
Some VM's, such as JSC, treats ```o.member()``` as a special AST node. In such case, it would be valuable having a test case for private fields covering ```o.#member()``` case, where ```#member = () => 'test252';``` for example.

[2019-02-06 16:32] littledan commented on #2066
Sounds like a great idea to test the combination here, analogously to how many template tests get at other combinations.

[2019-02-07 03:04] leobalter commented on #2066
#2067 should have fixed this.

[2019-02-07 03:04] #2066 closed

[2019-02-07 04:41] jdalton opened #2068 "default class export test."
Just giving a heads up, one of our users [noticed that there's a gap](https://github.com/standard-things/esm/issues/725) in test coverage for:
[code]

[2019-02-07 05:01] leobalter commented on #2068
Thanks for reporting this! I'll take a look.

[2019-02-08 11:31] caiolima opened #2071 "Private access from `super` is invalid syntax"
Test `src/class-elements/private-field-super-access-throws.case` is verifying private fields super access. However this is invalid syntax and should throw SyntaxError instead.

Looking private fields proposal, we have changes on [`MemberExpression`](https://tc39.github.io/proposal-class-fields/#prod-MemberExpression), however this rule doesn't include `super.PrivateIdentifier` as valid. Check [htt

[2019-02-08 11:33] caiolima opened #2072 "Missing private field access on object destructuring"
It needs to throw a SyntaxError:

[code]

[2019-02-08 14:09] leobalter commented on #2072
This is as invalid as there is no grammar for `#name` alone beyond the class elements list. We just have to be careful to avoid all the other places this doesn’t apply to.

The test should also tell clearly the production is a syntax error not because a direct syntactical parsing directive, but the lack of any production from the specs.

If you’re interested to add this, I believe it’s best to avo

[2019-02-11 11:20] caiolima commented on #2072
Ok. BTW, the motivation to add such test is because of the following issue: https://bugs.chromium.org/p/v8/issues/detail?id=8808

[2019-02-13 20:34] gsathya commented on #2033
Ah I just realized V8 is failing these tests because the features frontmatter doesn't include `class-fields-private` :disappointed:

[2019-02-14 14:46] mathiasbynens opened #2078 "get and set in MethodDefinition must not be escaped"
@verwaest found this gem. Only SpiderMonkey and xs get this one right:

[code]

https://tc39.github.io/ecma262/#sec-method-definitions

[2019-02-14 20:12] #2071 closed

[2019-02-14 20:14] #2072 closed

[2019-02-19 19:06] leobalter opened #2080 "Fix parseTestRecord.py"
Ref #2065

[2019-02-22 21:33] leobalter commented on #2078
https://test262.report/browse/language/expressions/object/method-definition/escaped-get.js
https://test262.report/browse/language/expressions/object/method-definition/escaped-set.js

V8 is passing for these tests. I'll identify what makes it fail and accept the escaped version.

[2019-02-22 21:51] leobalter commented on #2078
running locally, V8 is not passing as you reported...

[2019-02-22 21:56] leobalter commented on #2078
and it was a human error, I updated V8 locally and it's not capturing the syntax error as test262.report shows.

@mathiasbynens do you think we need more tests than those files I listed above? I'll close this issue but feel free to reopen it if necessary.

[2019-02-22 22:38] leobalter commented on #2034
I've been working on these and I experimented with some of the RegExp in the parseTestRecord fix. This is helping me with the linter. I should have a PR for the linter on Monday.

[2019-02-23 07:19] mathiasbynens commented on #2078
It was [fixed](https://github.com/v8/v8/commit/a94c91ca4825c90c2015c5f800aaebcc0b345625) in V8 after I posted this issue. The commit includes a bunch of other similar cases (where escaped keywords previously got accepted incorrectly). It would be good to make sure these are all covered in Test262.

Thanks!

[2019-02-24 19:52] adrianheine commented on #2068
Just wanted to report the same. There's also the inverse case of `class Test {}; export default class Test {};` that's not covered.

[2019-02-25 20:23] #2080 closed

[2019-02-26 16:01] #2034 closed

[2019-03-03 16:45] adrianheine opened #2089 "Missing coverage for interaction of rest properties with number literal keys and numeric computed keys"
Examples:
[code]
[code]
[code]

[2019-03-03 20:44] devsnek opened #2090 "missing coverage for static methods in classes"
for the following class: `class X { static y() {} }`

my engine was returning `'static y() {}'` for `X.y.toString()`. the correct behaviour would be to not include the `static` part, and just return `'y() {}'`.

Unfortunately this was not caught by test262, and from searching through the tests i was unable to find anything testing this specific case.

[2019-03-06 17:11] patrick-soquet opened #2092 "built-ins/Function/prototype/toString/method-computed-property-name.js"
Sorry if it has already been reported, but in this test case
`let g = { [ { a(){} }.a ](){ } }["a(){}"];`
requires that
`{ a(){} }.a.toString()`
returns
`"a(){}"`
while it should be OK to return something like
`"function a (){[native code]}"`
Thank you !

[2019-03-06 17:16] ljharb commented on #2092
This is already correct; see the recently merged stage 4 proposal for improving Function.prototype.toString.

[2019-03-07 08:27] littledan commented on #2090
Cc @michaelficarra

[2019-03-10 18:34] iamstolis opened #2095 "Incorrect tests: createdynfn-html-close-comment-(body|params).js"
[test/annexB/built-ins/Function/createdynfn-html-close-comment-body.js](https://github.com/tc39/test262/blob/master/test/annexB/built-ins/Function/createdynfn-html-close-comment-body.js) and [test/annexB/built-ins/Function/createdynfn-html-close-comment-params.js](https://github.com/tc39/test262/blob/master/test/annexB/built-ins/Function/createdynfn-html-close-comment-params.js) i.e. `Function("--

[2019-03-11 20:22] caiolima opened #2098 "Missing coverage of private fields on Proxy Objects"
We should have tests to verify that we are properly adding private fields and methods to Proxy objects.

The following is a valid program:

[code]

[2019-03-12 15:57] michaelficarra commented on #2090
This is already being tested both in https://github.com/tc39/test262/blob/9339f8a5ce1faab7ec823e479e19f2334553bdba/test/built-ins/Function/prototype/toString/method-class-expression-static.js#L11-L17 and https://github.com/tc39/test262/blob/9339f8a5ce1faab7ec823e479e19f2334553bdba/test/built-ins/Function/prototype/toString/method-class-statement-static.js#L11-L21

[2019-03-12 16:13] devsnek commented on #2090
ok so it appears the test runner was skipping tests that use `nativeFunctionMatcher.js` lol sorry about the wild goose chase.

[2019-03-12 16:13] #2090 closed

[2019-03-12 16:42] michaelficarra commented on #2090
Yeah I was pretty surprised to see this issue; the `Function.prototype.toString` tests are pretty thorough.

[2019-03-13 19:21] leobalter commented on #2095
Pinging @anba and @jugglinmike for help.

[2019-03-13 19:27] #2049 closed

[2019-03-13 19:37] #2092 closed

[2019-03-13 19:41] leobalter commented on #2089
Thanks for reporting this. It's an interested part to be covered.

cc @caiolima

[2019-03-13 20:15] rwaldron commented on #2095
I think this one: https://github.com/tc39/test262/blob/master/test/annexB/built-ins/Function/createdynfn-html-close-comment-params.js might've been intended to be written as:

[code]

----------------

Specifically...

That's correct, they do add an artificial line terminator, but that's because the spec says they must:

Step 41 of [19.2.1.1.1Runtime Semantics: CreateDynamicFunction](https://tc39.

[2019-03-13 20:33] iamstolis commented on #2095
Step 41 defines the value of `[[SourceText]]` internal slot only. It has nothing to do with parsing.

Parsing is handled by steps 7-29 (with steps 7, 17 and 18 being the most relevant for this issue).

[2019-03-13 20:37] anba commented on #2095
It seems to me both tests simply need a leading line-terminator before `-->` to be compliant to the current spec.

I no longer remember why I didn't add a line terminator, maybe I forgot it / misread the spec or I was working based on what most engines implement for html-comments, namely that no leading line-terminator is needed: `eval("-->")` works in JSC/V8/SM; it doesn't work in Chakra, but may

[2019-03-13 20:45] iamstolis commented on #2095
Yes, the replacement of `"-->"` by `"\n-->"` sounds like a good fix to me.

[2019-03-13 20:59] leobalter commented on #2095
I was still trying to make sense of all of this w/ @rwaldron and we have some guess over ASI... see https://github.com/tc39/test262/issues/2095#issuecomment-472587671

For the current test purposes the `"\n-->"` should also be fine.

[2019-03-13 21:07] iamstolis commented on #2095
Could you, please, elaborate on that? I don't see any relation between parsing of `-->` and ASI.

[2019-03-13 21:20] leobalter commented on #2095
It's a guess and I don't have much to offer other than saying that I'm still reading other parts of the specs to understand why this have happened.

Usually @anba's tests are safe from bugs and I challenge myself before I assume a bug is a bug. For that, I reconsider everything.

In any case, I'm pushing a fix with the `"\n-->"` as mentioned above, I'm not holding off this issue anymore.

[2019-03-13 21:35] gnarf commented on #2095
I would think that changing to `\n-->` is smart for the "should pass" intention of this test, but re-reading the [spec](https://tc39.github.io/ecma262/#sec-function-p1-p2-pn-body) specifically:

As far as I can tell, every "goal" for parsing should interpret  `-->` without a newline before it as `SyntaxError: Unexpected token >` right?  Should we add a negative test for this?

Can anyone else thin

[2019-03-13 22:39] leobalter commented on #2095
https://github.com/tc39/ecma262/pull/1479

[2019-03-14 17:33] #2095 closed

[2019-03-14 18:51] #2033 closed

[2019-03-19 01:18] #2098 closed

[2019-03-20 12:35] caiolima commented on #2089
Sorry for delay here! I'll update this later this week.

[2019-03-27 17:26] rpamely opened #2112 "Add coverage for Promise.allSettled proposal"
This issue is to track the progress of the test262 coverage of the stage 3 Promise.allSettled proposal. https://github.com/tc39/proposal-promise-allSettled

Suggestions for tests welcome, and I will update this text. The tests for Promise.all are a good place to start.

@mathiasbynens @jasonwilliams

[2019-03-27 17:27] rpamely commented on #2112
@domenic previously posted when reviewing the spec:

[2019-03-28 08:51] adrianheine opened #2113 "Initializer in for-of statement heads"
In acornjs/acorn#821 it was brought up that there is no test for `for (var x = 42 of list) process(x);` (it should fail).

[2019-03-28 15:12] mathiasbynens commented on #2112
@anba wrote some tests while working on his SpiderMonkey implementation: https://phabricator.services.mozilla.com/D25209#change-qATBO8Ktuxxu

[2019-03-28 15:16] leobalter commented on #1164
This has found a sufficient amount of tests. Test262 is still welcoming to further coverage if any is observed.

[2019-03-28 15:16] #1164 closed

[2019-04-02 19:59] mikesamuel opened #2120 "testing HostEnsureCanCompileStrings"
It's possible to test corner cases around [HostEnsureCanCompileStrings](https://tc39.github.io/ecma262/#sec-hostensurecancompilestrings) from a browser or command line using tricks like those in [tc39/ecma262 issue #1495](https://github.com/tc39/ecma262/issues/1495):

or

Quite a few of these interactions could be tested if there was simply a way to get HostEnsureCanCompileStrings to throw for a p

[2019-04-03 18:09] gibson042 opened #2121 "Document how to report bugs against each ES implementation"
We should make it easy for test authors or other consumers/contributors of test262 to inform engines of bugs when they are discovered.

[2019-04-04 20:21] adrianheine commented on #2071
I don't understand why `SuperProperty` . `PrivateIdentifier` is not valid. `MemberExpression` . `PrivateIdentifier` is valid, and `SuperProperty` is a valid `MemberExpression`.

[2019-04-05 01:41] astlaurent1 commented on #2112
I got myself up and running with one test: https://github.com/astlaurent1/test262/commit/ade44b415ec4743526cca848ebab271ecee382cd. I had copied over a test from the Promise.all directory that I thought would behave the same, but I found slightly different behavior

Note: I'm running against a webpack'd version of the shim: https://github.com/astlaurent1/Promise.allSettled/commit/631acd603fd556ab80

[2019-04-05 02:12] leobalter commented on #2112
@astlaurent1 I'm porting the tests from Promise.all, I had my commits online but didn't open a PR while it's still a WIP. Now you can see it here: https://github.com/tc39/test262/pull/2124

One thing to consider is that a test should not be adapted to a shim, and maybe the shim might need a fix as well.

[2019-04-05 02:13] leobalter commented on #2112
Also, the plan is to review and port tests from SpiderMonkey to Test262, I just need to finish one thing to start another.

[2019-04-05 03:17] astlaurent1 commented on #2112
@leobalter Very cool! Thank you for commenting. My efforts were still a good learning exercise (and uncovered a recent bug in test262-harness), so no wasted time there

Is there a communication channel where people discuss what they're working on? I'd like to contribute in general, and would prefer to know that I'm not duplicating efforts when I pick something up

Oh, absolutely! I highlighted the

[2019-04-05 10:50] caiolima commented on #2071
Hi @adrianheine.
`SuperProperty`.`PrivateIdentifier` is valid. What is not valid is `super`.`PrivateIdentifier`. The identifier `super` alone is not a valid syntax. It needs to be a `SuperCall` (I.e `super()`) or a `super.property`. Does it make sense?

[2019-04-05 18:06] adrianheine commented on #2071
Yeah, thanks, that makes sense :)

[2019-04-08 03:28] jugglinmike commented on #1356
This issue was closed prematurely, but I think I've finished refactoring all the unnecessary uses of `eval`. This gave me an excuse to assign more meaningful names to the test files. That makes browsing the directories a little easier and it also helped identify gaps in coverage.

I may have missed a few, though I definitely skipped some intentionally. Some turned out to be necessary (particularly

[2019-04-08 03:28] #1356 closed

[2019-04-08 14:11] littledan commented on #1343
I believe this is simply getting at, if you have a module with an undefined private name in it (e.g., the module body is simply `#x`), then it's a SyntaxError.

[2019-04-08 15:59] jugglinmike commented on #1356
Also, thanks to @leobalter and @rwaldron for reviewing the patches :)

[2019-04-08 16:19] mikesamuel commented on #2120
Apparently web-platform-tests provides an alternative for JS engines that are used in browsers.

[2019-04-11 18:05] jorendorff opened #2127 "language/expressions/class/elements/derived-cls-direct-eval-err-contains-superproperty-1.js looks incorrect"
https://github.com/tc39/test262/blob/master/test/language/expressions/class/elements/derived-cls-direct-eval-err-contains-superproperty-1.js

The comment correctly says the direct `eval` should hit an Early Error.

But the test code expects the eval to succeed.

[2019-04-26 08:44] littledan opened #2141 "Private fields test coverage: Heritage does not have inner private environment"
See the test case in https://bugs.chromium.org/p/v8/issues/detail?id=9177 . Would anyone be interested in making test262 tests for this case? cc @gsathya @spectranaut @caiolima

[2019-04-30 07:17] littledan opened #2142 "Test coverage for Proxy semantics change ecma262#666"
In https://github.com/tc39/ecma262/pull/666 , a change is proposed to Proxy semantics. This change has had consensus at TC39 for some time (since 2016?), and is blocked on the lack of tests.

[2019-05-01 19:25] leobalter commented on #2142
Removing the label as #2143 is in progress.

[2019-05-01 19:35] leobalter commented on #2112
Coverage is done.

@astlaurent1 Not much other than flagging on the issues/PRs here. There is a #test262 channel on Mozilla IRC but it's not very active.

[2019-05-01 19:35] #2112 closed

[2019-05-03 14:21] #2142 closed

[2019-05-06 22:01] gsathya opened #2148 "Lint checker doesn't cover ranges in LICENSE"
See https://github.com/test262-utils/test262-harness-py/pull/6

cc @mathiasbynens

[2019-05-07 21:04] caiolima opened #2149 "Add cases of nested classes on private methods"
Tests stressing inner class private methods/accessors usage are missing.

[2019-05-08 17:52] caiolima opened #2151 "Add brand check test cases for private methods and accessors"
[PrivateFieldGet](https://tc39.github.io/proposal-private-methods/#sec-privatefieldget) introduces the mechanism of brand check to validate if an access to a private method/accessor is from an instance of its class. We need to add tests to this cover this part of spec.

[2019-05-08 18:46] #2141 closed

[2019-05-08 20:26] #2151 closed

[2019-05-08 21:04] caiolima opened #2153 "Add tests to validate private methods comparison"
According to spec, it is possible to get a private method function object. We need to have tests to verify such behavior.

[2019-05-14 17:45] shvaikalesh commented on #1751
Coverage for `@@species` being ignored is already there:
* [`Promise.all`](https://github.com/tc39/test262/blob/master/test/built-ins/Promise/all/species-get-error.js)
* [`Promise.allSettled`](https://github.com/tc39/test262/blob/master/test/built-ins/Promise/allSettled/species-get-error.js)
* [`Promise.race`](https://github.com/tc39/test262/blob/master/test/built-ins/Promise/race/species-get-erro

[2019-05-15 00:26] chicoxyzzy commented on #1691
Everything works just fine with `pyenv` or `virtualenv` for me now

[2019-05-15 00:26] #1691 closed

[2019-05-15 15:56] leobalter commented on #1237
Tests are covered

[2019-05-15 15:56] #1237 closed

[2019-05-15 16:33] #832 closed

[2019-05-15 18:43] #1727 closed

[2019-05-22 16:22] caiolima opened #2170 "Fix feature flags on src/accessor-names/private/cls-private-decl-static.template"
This is actually using [static class fields](https://tc39.github.io/proposal-static-class-features/#sec-static-semantics-early-errors) feature. Declaration of static private accessors is early error on [Private Methods and Accessors Proposal](https://tc39.github.io/proposal-private-methods/#prod-ClassElement).

[2019-05-22 16:58] #2149 closed

[2019-05-22 21:33] #1744 closed

[2019-05-22 21:47] #1758 closed

[2019-05-22 22:10] #2170 closed

[2019-05-22 22:13] leobalter commented on #2153
Fixed

[2019-05-22 22:13] #2153 closed

[2019-05-22 22:18] leobalter commented on #2148
Interesting, the current lint captures if a single year is valid within a range (2009 to 2030) but it doesn't  capture multiple years properly.

While I need to fix it, I need to figure a new regexp over the current one: `'// Copyright( \([C]\))? (\w+) .+\. {1,2}All rights reserved\.[\r\n]{1,2}'`.

[2019-05-22 22:56] jorendorff commented on #2127
Oh, this bug report is wrong. The SuperProperty syntax should work; the test is right.

[2019-05-27 14:34] #1747 closed

[2019-05-29 19:37] #2113 closed

[2019-05-29 20:05] #2127 closed

[2019-05-30 14:47] caiolima opened #2187 "[[HasOwnProperty]] / [[GetOwnProperty]] does not find private methods/accessors"
Private methods and accessors are not stored directly into Objects (see [here](https://tc39.github.io/proposal-private-methods/#sec-private-names)). This way, they can't be retrieved by `[[HasOwnProperty]]` or `[[GetOwnProperty]]`.

[2019-05-30 14:48] caiolima commented on #2187
For record, I'm working on it.

[2019-06-12 18:14] #1146 closed

[2019-06-20 17:08] jorendorff opened #2205 "en-us-numeric-auto.js seems broken"
Commit 6fd738d added some exceptions in intl402/RelativeTimeFormat/prototype/format/en-us-numeric-auto.js, but the script isn't written to handle an element that doesn't have all three properties `1`, `0`, and `-1`. Consequently, this test now asserts that `rtf.format(1, "minute")` returns **undefined**.

[2019-06-20 18:19] devsnek opened #2206 "invoke-resolve-get-error-close might be wrong"
built-ins/Promise/all/invoke-resolve-get-error-close.js
built-ins/Promise/race/invoke-resolve-get-error-close.js
built-ins/Promise/allSettled/invoke-resolve-get-error-close.js

I believe that: these tests expect that `returnCount` is `0`, but `IteratorClose` calls `return`, which increments `returnCount` to `1`.

If this is correct, I will open a PR to fix it.

[2019-06-21 16:34] devsnek commented on #2206
tentatively cc @leobalter

[2019-06-21 16:44] shvaikalesh commented on #2206
`IteratorClose` is called only if `iteratorRecord.[[Done]] is false`, which won't happen if `Get(constructor, "resolve")` returns abrupt completion, right?

[2019-06-21 18:17] leobalter commented on #2206
nice! yes, and the info is already mentioning this:

[code]

please!

[2019-06-21 18:26] #2206 closed

[2019-06-24 18:37] delta62 commented on #928
It would be very convenient to run these tests from within a browser! Is this on anyone's radar to fix? If not, is there any way I can contribute?

It seems that this would be an interface change for the harness API as well as an update to all tests utilizing `sleep` and `agent.start()`.

[2019-06-26 19:03] #1752 closed

[2019-06-26 19:07] #2187 closed

[2019-06-28 14:24] rwaldron opened #2218 "Top Level Await"
ref: https://tc39.es/proposal-top-level-await/

@leobalter please fill in the following work lists and commence work on new test material:

- [ ]  [AsyncFunctionStart ( promiseCapability, asyncFunctionBody )](https://tc39.es/proposal-top-level-await/#sec-async-functions-abstract-operations-async-function-start)
  - [ ] ...
- [ ]  [AsyncBlockStart ( promiseCapability, asyncBody, asyncContext )](htt

[2019-06-28 16:23] caiolima commented on #1343
https://github.com/tc39/test262/pull/2188 is covering "Private methods don't show up in..."

[2019-07-04 05:19] drsm opened #2226 "do not use compareArray(Object.keys(..."
It doesn't guarantee an order of keys.
see `test262/test$ grep -r 'compareArray(Object.keys(' .`

[2019-07-05 16:46] leobalter commented on #2226
I strongly believe it does. PTAL at the code behind compareArray:

[code]

The same goes for `Object.keys`, which relies in the order of [`[[OwnPropertyKeys]]`](https://tc39.es/ecma262/#sec-ordinary-object-internal-methods-and-internal-slots-ownpropertykeys).

Would you mind clarifying what I'm missing here?

[2019-07-05 17:42] drsm commented on #2226
@leobalter

Hi!

The `Object.keys()` gets [7.3.21 EnumerableOwnPropertyNames](https://tc39.es/ecma262/#sec-enumerableownpropertynames)

And [13.7.5.15 EnumerateObjectProperties ( O )](https://tc39.es/ecma262/#sec-enumerate-object-properties) does not guarantee any order:

For Object.keys() here is a guarantee that the order of `for in` is the same, but is is unspecified.

 So, the proper implement

[2019-07-05 17:53] leobalter commented on #2226
the rules specified for EnumerateObjectProperties requires observation of [[OwnPropertyKeys]] and [[GetOwnProperty]]. Object.keys also won't get any value making it pretty static.

In this case, or at least with the examples pointed in the tests, the `for in` order here is pretty static and predictable as well.

If I'm not wrong, the loose part of EnumerateObjectProperties relates to dynamic modif

[2019-07-05 18:36] drsm commented on #2226
[Here](https://github.com/tc39/test262/blob/master/test/language/computed-property-names/object/method/number.js) is the test that fails for `njs` :
[code]
as it returns property keys in order they are defined (chronological):
[code]
And it is not a bug.

I think, the proper test should be:
[code]

[2019-07-07 14:20] nicolo-ribaudo commented on #2226
`Object.keys` uses [`EnumerableOwnPropertyNames`](https://tc39.es/ecma262/#sec-enumerableownpropertynames), which calls `[[OwnPropertyKeys]]`. For ordinary objects (like yours) it [defers](https://tc39.es/ecma262/#sec-ordinary-object-internal-methods-and-internal-slots-ownpropertykeys) to [`OrdinaryOwnPropertyKeys`](https://tc39.es/ecma262/#sec-ordinaryownpropertykeys), which is specified to first

[2019-07-07 14:45] drsm commented on #2226
@nicolo-ribaudo

But at step 5 of `EnumerableOwnPropertyNames` keys got from `OrdinaryOwnPropertyKeys` are reordered same way as in `for in`.

[2019-07-09 14:34] leobalter opened #2227 "Expand tests for WeakSet and WeakMap using the GC hook and FinalizationGroup"
With the light of the new Garbage Collector (`$262.gc()`) and WeakRefs/FinalizationGroup, we can improve this test suite adding tests for WeakSet and WeakMap.

One idea for this new coverage, but not limited to, is to create a test for FinalizationGroup#cleanupSome calling the callback for an emptied object that was stored in a WeakMap and a WeakSet.

This can also assert the clearance of the same

[2019-07-10 03:35] jugglinmike commented on #2226
In brief: I agree with @drsm that `Object.keys` is not suitable for use in this context.

Repeating the text that's been quoted above:

That seems pretty cut-and-dry to me. You might accuse me of cherry-picking, though, since that statement is immediately followed by a qualifier:

Before we consider "the rules specified below," we should recognize how inconsistent it would be for the spec to make

[2019-07-10 11:41] mathiasbynens commented on #2227
Could you clarify how this could work? As long as you have a reference to a `WeakMap`/`WeakSet` key, it won't be garbage-collected (even when you call `$262.gc()`). If you no longer have a reference to the key, `$262.gc()` collects it. But then how would you assert that the key is gone (seeing as you no longer can have a reference to it)?

[2019-07-10 17:05] leobalter commented on #2226
Thanks for the review, @jugglinmike! I helped me connecting some dots I missed before.

@drsm thanks for reporting this! I'll work on a fix for these tests soon.

[2019-07-11 19:11] jorendorff opened #2230 "Test some RegularExpressionLiteral vs. DivPunctuator hard cases"
[QuickJS](https://bellard.org/quickjs/) claims to pass test262, but its implementation of ASI isn't up to spec. It fails to parse examples like `{} /x/` (should be a regexp) and `of / 2` (should be division). Is it possible we don't have tests for such cases yet?

[2019-07-11 19:20] leobalter commented on #2230
@rwaldron and I are currently working to add QuickJS to eshost and run Test262 using test262-harness, so we could even add them to https://test262.report.

I'd like to see the results from Test262 with it as 100% would be quite impressive. Although, I know it does not support some features like realms and TCO so it's not really 100%, but I hope to see a total percentage even removing the non suppo

[2019-07-11 23:22] sffc opened #2233 "Add additional tests for Unified NumberFormat"
https://github.com/tc39/proposal-unified-intl-numberformat

Some things that should be tested:

1. Compact rounding (also see https://github.com/tc39/proposal-unified-intl-numberformat/issues/47):

[code]

| Input | Expected Compact Output, en-US |
|---|---|
| 0.0123 | 0.012 |
| 0.123 | 0.12 |
| 1.23 | 1.2 |
|12.3 | 12 |
| 123 | 123 |
| 1230 | 1.2K |
| 12300 | 12K |
| 123000 | 123K |
| 1230000 | 1

[2019-07-12 13:32] rwaldron commented on #2230
I started working on an `eshost` runtime and agent yesterday, but ran into an issue where Fabrice has implemented `$262` in a special `run-test262` program, but not in `qjs` and with built in way to enable it. I'm going to email him and ask if he could make that possible.

[2019-07-12 14:20] rwaldron commented on #2230
I've just sent an email explaining the needs we have for Test262 and hopefully my ask isn't too much :D I'll post an update here when I know more.

[2019-07-15 15:43] mathiasbynens commented on #2148
V8 bug: https://bugs.chromium.org/p/v8/issues/detail?id=9490

[2019-07-15 16:01] leobalter commented on #2148
I'm fixing the listed files to unblock the tests but without prejudice of this issue.

[2019-07-15 16:52] leobalter commented on #2148
I'm adding a lookbehind in the linter to prevent comma separated names.

This will catch the similar tests listed in the V8 bug:

[code]

[2019-07-15 18:03] #2148 closed

[2019-07-15 18:38] kmiller68 opened #2237 "Object.create properties parameter can be a non-object"
JSC got a bug report on this. It appears all other engines pass the test but I didn't see a test262 checking correct behavior. I made this test for JSC, perhaps it could be ported to test262?

[code]

[2019-07-15 18:42] leobalter commented on #2237
sure thing! Sounds like something is missing from this for loop:

[code]

Should it be `Object.create({}, primitive);`?

[2019-07-15 18:43] kmiller68 commented on #2237
Ooof! nice catch...

[2019-07-15 18:47] leobalter commented on #2237
I'm currently browsing the existing tests and looking for any match. So far I believe we are missing these cases in Test262.

I'm writing a port test and I'll ping you soon.

[2019-07-15 19:28] kmiller68 commented on #2237
I reran all the test262 tests with my change and I didn't see any tests change behavior, so I doubt this behavior is covered. Anyway I fixed the test on my end and had to make some changes. Here's the never version we have for reference:

[code]

[2019-07-15 19:46] leobalter commented on #2237
Yes, I'm actually making a case for non-empty strings to finish the assertions.

[2019-07-15 20:17] #2237 closed

[2019-07-15 20:26] kmiller68 opened #2239 "gc-cleanup-not-prevented-with-wr-deref.js is invalid"
I was looking through the new WeakRef tests and I noticed gc-cleanup-not-prevented-with-wr-deref.js, which I think has two bugs.

1) I think the WeakRef constructor prevents collection until the next event loop turn: https://tc39.es/proposal-weakrefs/#sec-weak-ref-target step 4.

2) There is no guarantee that as GC collect the target, which means it's still valid to return target at the assertion

[2019-07-15 21:02] leobalter commented on #2230
Browsing the tests I've found this test case only that relates to this issue:

[code]

I'll expand the coverage to include the mentioned cases.

[2019-07-16 18:37] sffc commented on #2233
@Ms2ger

[2019-07-19 18:20] leobalter commented on #2239
This is correct. I'd need to make the test async to fix this.

This part is super tricky.

If we see Execution:

It is not explicit if the steps must be part of a Garbage Collection or if they are optional during the GC.

Taking the facts we have, Execution is not guaranteed even with a GC hook and this invalidates almost all the tests we have relying on it.

cc @mhofman @gsathya @mathiasbynens.

[2019-07-19 18:45] leobalter commented on #2239
one thing that could be done is specifying the `$262.gc` hook should always trigger Execution.

[2019-07-19 18:49] kmiller68 commented on #2239
Even still, the object might not be dead to the VM. Some implementations use a conservative GC, which means if any number on the C stack looks like a pointer to a JS object that object will be kept alive. So even if you require `$262.gc()` trigger Execution, that doesn't mean any WeakRef or FinalizationGroup will be cleared/run, respectively.

[2019-07-19 18:51] kmiller68 commented on #2239
Also, it needs to be more than just async because microtasks don't clear the keepAlive list. You'll probably need a hook into the VM to turn the event loop.

[2019-07-19 18:53] leobalter commented on #2239
@kmiller68 my example could be like this:

[code]

or even shortened to something like:

[code]

It's only possible if we enforce GC to run the Execution steps, in this case, this might be a requirement for the `$262.gc` only. Do you think this is doable?

[2019-07-19 18:55] leobalter commented on #2239
OMG... you're correct. We need more hooks.

In this case, it's only worth investing if we can secure a call to Execution in Test262. Setting it from the specs or requiring it at the `$262.gc` hook. If we can't solve this, we can't rely on many tests here.

[2019-07-19 19:11] mhofman commented on #2239
There are really 3 integration points for the host:
- Execution to clear out slots after an object has been collected
- ClearKeptObjects to clear the WeakRef keep alive list
- HostCleanupFinalizationGroup to schedule execution of the CleanupFinalizationGroup at a later point.

The first 2 are can easily be triggered by direct test hooks.
ClearKeptObjects and CleanupFinalizationGroup should not int

[2019-07-19 19:14] mhofman commented on #2239
Couldn't the `$262.gc()` hook mandate a full GC, aka all non-live objects should be collected. These tests are pretty simple and a collecting VM will collect the test objects.

[2019-07-19 19:44] leobalter commented on #2239
@mhofman are you gonna be at the TC39 meeting next week? I'm planning to discuss with implementors there to figure out a matching API for Test262. So far, it seems pretty hard to find something we could reuse for at least V8, JSC and SpiderMonkey. I hope the personal interaction in the meeting will help developing a solution.

[2019-07-19 19:47] mhofman commented on #2239
Nope, I'm helping with the WeakRefs specs due to interest, but I'm not a TC39 member ;)

[2019-07-19 19:57] leobalter commented on #2239
@mhofman if you don't work for a member org you could definitely come as an invited expert. I can't cover expenses but would be helpful to have you there or in a next meeting for sure.

Saying that there are some stuff to report about the explored options:

1. `$262.gc()` + event loop hook in the `$262` as well: not possible as it enforces determinism from some of the engines
2. Promise based `$26

[2019-07-19 20:28] kmiller68 commented on #2239
Right but live means VM live, not programmer live. Liveness within a VM could mean that an object that doesn't seem live to the programmer is still visible to the VM.

[2019-07-19 20:32] mhofman commented on #2239
I was referring to live according to the discussion in https://github.com/tc39/proposal-weakrefs/issues/105 and the PR https://github.com/tc39/proposal-weakrefs/pull/142

[2019-07-19 21:41] kmiller68 commented on #2239
Ah, sorry, I should be more clear about what I was trying to say in spec language. The key is the [Evaluation section](https://tc39.es/proposal-weakrefs/#sec-weakref-execution) has a "may" at the top of it. That "may" implies that the Evaluation operation run on a non-live object may or may not clear WeakRefs and/or run finalizers. Perhaps there should be a note to make that clearer.

[2019-07-19 21:52] mhofman commented on #2239
Right, that section needs to stay a may to allow non collecting and partial collection to be compliant.
However we can very well require the `gc` test hook to require a "must" for execution.

[2019-07-19 22:02] kmiller68 commented on #2239
Sure, but JSC will never be able to implement such a hook as our GC implementation does not allow us to do so.

[2019-07-20 02:38] devsnek opened #2247 "HostImportModuleDynamically with null referencingScriptOrModule"
There are modules in `language/expressions/dynamic-import` and `language/expressions/dynamic-import/catch` that end up with calls to HostImportModuleDynamically where referencingScriptOrModule is `null`.

As far as I'm aware, there's no way to resolve these imports to the correct file. If null is resolved to `language/expressions/dynamic-import`, the tests in `language/expressions/dynamic-import/c

[2019-07-20 03:31] devsnek commented on #2247
I think I was able to get around this by tracking the name of the last run test and using that as the base in case of `null`. Previously I thought these were importing between the folders but it seems that isn't the case.

[2019-07-20 03:31] #2247 closed

[2019-07-21 02:00] RLlane9 opened #2249 "fix"
All

[2019-07-21 02:00] RLlane9 commented on #2249
True

[2019-07-21 04:47] #2249 closed

[2019-07-22 18:03] mhofman commented on #2239
To extend on @leobalter's suggestion, we may need a `$262.gc(target).then(...)` with a timeout/rejection if the engine cannot collect the specified target.
This is actually how I wrote most of the tests in my shim.

A failure to collect would not be a failure of the test, but a "skip". I don't know if there is precedent in test262 for tests skipped at execution?

[2019-07-23 07:20] leobalter commented on #2230
this should be fixed at #2243 and #2244, thanks for the report!

[2019-07-23 07:20] #2230 closed

[2019-07-23 11:04] gsathya commented on #2239
cc @mathiasbynens

[2019-07-23 12:40] gsathya opened #2255 "harness/compareArray is broken for Symbols when printing the arrays"
compareArray does a `Array.prototype.join` to print the arrays. This breaks when the array contains Symbols

cc @mathiasbynens

[2019-07-23 12:44] gsathya commented on #2255
This breaks the following test:
  `built-ins/FinalizationGroup/prototype/cleanupSome/iterator-holdings-multiple-values`: [FAIL],

[2019-07-23 12:48] gsathya opened #2256 "test/built-ins/FinalizationGroup/prototype/cleanupSome/cleanup-prevented-with-unregister.js is incorect"
Tracking bug for issues mentioned in https://github.com/tc39/test262/pull/2221/files/ec44316bf93321a88a16d856bbbdfbd49363242d#diff-ef8b5506d5837782eee2a357747f7cc5

cc @mathiasbynens

[2019-07-23 16:36] kmiller68 commented on #2239
That might work, you'd have to be careful to do the GC in a different turn and not synchronously.

[2019-07-24 18:31] caiolima opened #2257 "Private methods tests with different realms are getting odd error."
Those tests are returning the following error:

[code]

[2019-07-30 10:08] gsathya opened #2260 "built-ins/FinalizationGroup/prototype/cleanupSome/return-undefined-with-gc.js is incorrect"
[code]

throws because it calls `fg.cleanupSome`, which synchronously calls `fg.cleanupSome` again but with an `undefined` receiver which throws.

cc @mathiasbynens

[2019-07-30 12:34] joeywatts opened #2262 "Add destructuring assignment tests for object literal accessor property targets"
Creating this issue as a result of [this v8 bug](https://bugs.chromium.org/p/v8/issues/detail?id=9560).

Could we add tests for destructuring assignment to object literal accessor properties? Examples:

[code]

[2019-07-30 18:40] DanielRosenwasser opened #2263 "Add tests for optional chaining"
Filing an issue to add tests for https://github.com/tc39/proposal-optional-chaining/

## Statement List

* ### UpdateExpression[Yield, Await]
  * - [ ] OptionalExpression[Yield, Await]
    * - [ ] MemberExpression[Yield, Await] **(member-expression.js)**
      * - [ ] PrimaryExpression[?Yield, ?Await]
        * - [ ] this
        * - [ ] IdentifierReference[?Yield, ?Await]
          * - [ ] Identi

[2019-07-30 18:41] leobalter commented on #2263
We already have an initial PR:

https://github.com/tc39/test262/pull/2212

[2019-07-30 18:42] DanielRosenwasser opened #2264 "Add tests for nullish coalescing"
Filing an issue to add tests for https://github.com/tc39/proposal-nullish-coalescing/

[2019-07-30 18:43] #2257 closed

[2019-07-30 18:58] leobalter commented on #2263
I updated the OT with the checklist contents produced by @bcoe.

[2019-07-30 20:13] leobalter commented on #2262
https://tc39.es/ecma262/#sec-assignment-operators-static-semantics-early-errors

`It is a Syntax Error if LeftHandSideExpression is either an ObjectLiteral or an ArrayLiteral and LeftHandSideExpression is not covering an AssignmentPattern.`

If you also go all the way to evaluating `{ set prop(val) { console.log(val); } }`  you will find `DestructuringAssignmentTarget : LeftHandSideExpression` and

[2019-07-30 20:18] joeywatts commented on #2262
I think `LeftHandSideExpression` would be a `MemberExpression` (`PrimaryExpression . IdentifierName` where `PrimaryExpression` is an `ObjectLiteral`), right?

[2019-07-30 20:31] leobalter commented on #2262
ok, I was considering `{ set prop(val) { console.log(val); } }.prop` without the `.prop`. That sounds right. I'm gonna take a second look.

[2019-07-30 21:17] leobalter commented on #2262
I went through the whole parsing and evaluation (manually) of `[{ set prop(val) { console.log(val); } }.prop = 12 ] = [ 1 ];` and yes, it's correct and it should execute the accessor set method.

The initializer is not even much of a difference there, but all the examples are correct. I'll make sure we have tests for that.

[2019-07-30 21:17] leobalter commented on #2262
Thanks @jugglinmike for helping me with the evaluation run through.

[2019-07-31 17:29] bcoe commented on #2263
@leobalter @DanielRosenwasser if we're happy with this check list as a start, I'll put some open source time in this weekend and work my way through a bunch of the cases; I love this sort of work.

[2019-07-31 23:02] DanielRosenwasser commented on #2263
Only if you don't view it as an inconvenience - otherwise, I think it'd be awesome if you're up for it 😄

Leo will know more about the contribution process - ways that make it more approachable etc.

[2019-08-01 00:28] leobalter commented on #2263
This checklist is pretty comprehensive and I believe it's a great start. We can add interesting edgy cases along the way as we identify them.

BTW: one edgy case that I discussed with my team this week, based on #2262:

[code]

[2019-08-01 00:29] ljharb commented on #2263
Im confused; why would optional chaining be permitted in a destructuring context?

[2019-08-01 00:41] leobalter commented on #2263
Checkout the ref issue. It’s valid to have a LHSExpr inside an
ArrayAssignment literal. Which I believe makes it consistent to have opt
chaining there.

On Wed, Jul 31, 2019 at 8:29 PM Jordan Harband <notifications@github.com>
wrote:

[2019-08-01 00:46] leobalter commented on #2263
Well, https://tc39.es/proposal-optional-chaining/#sec-static-semantics-static-semantics-isvalidsimpleassignmenttarget

There is an explicit exception for this grammar, so `[x.y = 1] = [42]`  remains valid while `[x?.y = 1] = [42]` is a parse error. We still need test for that, this is a documented and expected error.

[2019-08-01 15:27] leobalter commented on #2262
I've found some existing tests:

- [`test/language/expressions/assignment/dstr/array-elem-put-prop-ref-no-get.js`](https://test262.report/browse/language/expressions/assignment/dstr/array-elem-put-prop-ref-no-get.js?date=2019-08-01)
- [`test/language/statements/for-await-of/async-func-decl-dstr-array-elem-put-prop-ref-no-get.js`](https://test262.report/browse/language/statements/for-await-of/async

[2019-08-05 14:56] #2262 closed

[2019-08-05 15:11] leobalter commented on #2262
Thanks for the report, @joeywatts! Please let me know if you find more cases!

[2019-08-09 16:10] Ms2ger opened #2278 "Consider updating PyYAML"
We're on 3.11; current is 5.1.2.

[2019-08-09 16:10] Ms2ger commented on #2278
We'll need to deal with https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

[2019-08-09 16:39] leobalter commented on #2278
Ref #2277

[2019-08-09 16:40] leobalter commented on #2278
cc @jugglinmike.

I don't have any objection to this change. I would just need to check if breaks anything we currently have. Unfortunately, my time is assigned to other projects until Wednesday, so I can't see it immediately.

[2019-08-12 13:49] #2278 closed

[2019-08-12 13:55] caiolima commented on #1343
I'm adding here also current plan to support static public/private fields and static private methods.

- [ ] Declaration:
    - [x] Early error using constructor/prototype.
    - [ ] Simple declaration.
    -  [ ] Declaration with initializer (It seems to be partially covered).
    - [ ] Initializer with direct eval.
    - [ ] Initializer using ‘this’.
    - [x] Initializer with super/arguments.

[2019-08-12 17:04] bcoe commented on #2263
it would be good to add tests for the edge-cases demonstrated here:

https://github.com/v8/v8/commit/ceb7bd59432a340ea3711ef5acb8c148471eee8c#diff-9b0c860cbf7e0482f43ad30124ee9f9bR92

Mainly:

* `super?.foo` calls.
* `new?.bar` calls.

[2019-08-12 17:40] bcoe commented on #2263
CC: @devsnek :wave: saw you've already done some initial implementation work in V8, awesome :smile:

we're gradually fleshing out a thorough set of tests [here](https://github.com/tc39/test262/pull/2272/files) which you can run against, let me know if you bump into any issues.

[2019-08-12 23:46] weswigham opened #2285 "Add test for `const a = {def\u0061ult: 12}`"
Given
[code]

In chrome and safari this issues an error, while in firefox and chakra it does not. Some discussion in IRC seemed to lead to believing this is valid and should not error (as a property name is an [`IdentifierName`](https://tc39.es/ecma262/#prod-IdentifierName) which lacks the "no reserved words" restriction of an identifier and therefore should not be bound by the "no escapes in keyw

[2019-08-12 23:47] bakkot opened #2286 "Coverage: property names which are keywords containing escape sequences are allowed"
From IRC:
[code]
and
[code]
are both legal, since `def\u0061ult` and `def\u{61}ult` are both [`IdentifierName`](https://tc39.es/ecma262/#prod-IdentifierName)s and therefore [`LiteralPropertyName`](https://tc39.es/ecma262/#prod-LiteralPropertyName)s. The restriction on keywords not containing escape sequences - which prevents `export def\u0061ult function (){}` from being legal - is not relevant in

[2019-08-12 23:50] bakkot commented on #2286
Closing as a duplicate of #2285.

[2019-08-12 23:50] #2286 closed

[2019-08-12 23:50] bakkot commented on #2285
Copying from #2286:

[code]
and
[code]
are both legal, since `def\u0061ult` and `def\u{61}ult` are both [`IdentifierName`](https://tc39.es/ecma262/#prod-IdentifierName)s and therefore [`LiteralPropertyName`](https://tc39.es/ecma262/#prod-LiteralPropertyName)s. The restriction on keywords not containing escape sequences - which prevents `export def\u0061ult function (){}` from being legal - is not

[2019-08-13 01:38] bakkot commented on #2285
Though note that `({ def\u0061ult })` is forbidden, and that should probably be tested too, if it isn't.

[2019-08-13 02:07] rkirsling commented on #2285
Also note that of the five, it's only V8 that doesn't allow `foo = {}; foo.def\u{61}ult = 3;`.

[2019-08-13 12:31] gsathya commented on #2239
It sounds like this might be the path forward then. Making the gc() hook run async is fine for us too.

@leobalter @mathiasbynens can we migrate the tests to use an async gc()?

[2019-08-13 12:36] mathiasbynens commented on #2239
Before we go down that road, I’d like to get more formal confirmation from @kmiller68 that this would actually solve the issue. (He previously said “[t]hat might work”, which gives me hope.)

Making `$262.gc()` async wouldn’t require any changes on the V8 or SpiderMonkey side, since synchronous engine-specific `gc()` calls would just continue to work. We’d just have to update the tests.

[2019-08-13 19:07] mhofman commented on #2239
Right, and it's actually pretty awkward to write:
[code]

Maybe some of the target clearing dance can be hidden in the gc test hook / helper?
[code]

The first approach forces the asyncGc implementation to defer gc() execution. However, while the second approach doesn't have that constraint, it does look more awkward in relying on the asyncGc helper to clear "external" references.

Where it also g

[2019-08-13 20:32] leobalter opened #2292 "Add tests for Opt. Chain. inside Opt.Chain. computed property names"
Based on https://bugs.webkit.org/show_bug.cgi?id=200199#c17

[code]

Also, "what happens when `y?.z` fails".

[2019-08-13 20:33] leobalter commented on #2292
cc @bcoe let me know if you're interested in doing this otherwise I'll try to work on this specific part.

[2019-08-14 06:32] bcoe commented on #2292
I was hoping to add tests for the expansions of OptionalChain here:

https://github.com/tc39/test262/blob/master/test/language/expressions/optional-chaining/optional-chain.js

I can add one for `x?.[y?.z];` tomorrow. My expectation would be, when `y?.z` results in undefined, it would be equivalent to:

[code]

which agrees with what I'm seeing in the babel plugin:

[code]

does this sound right @r

[2019-08-14 16:47] #2233 closed

[2019-08-14 17:45] leobalter commented on #2292
By convention we ideally have granular test files to capture units and provide a better map on actual failures. I believe this is good enough to be checked within new files.

I believe it's also pretty important to test the order of evaluation on each of these, like:

[code]

and also:

[code]

[2019-08-14 17:49] rkirsling commented on #2292
Note too, that there are a bunch of similar (in syntax but not semantics) edge cases in this vicinity:
[code]

[2019-08-14 20:52] leobalter commented on #2285
@weswigham @bakkot @rkirsling I believe I got this covered at #2295 and #2294. Would you mind giving a look there? Thanks!

[2019-08-14 21:29] leobalter commented on #2285
I also found this is not only with `default` but almost all the reserved words...

[code]

is printint a lot of failures as well.

[2019-08-15 00:45] #2285 closed

[2019-08-15 18:25] joshualitt opened #2300 "Test await-expr-func-expression may be incorrect"
Test test/language/module-code/top-level-await/await-expr-func-expression tests modules, which require strict parsing. However, the test specifies multiple top level functions with the same identifier, fn. I think this is not allowed?

[2019-08-16 16:20] qmma70 commented on #1343
Would like to look into this.

[2019-08-16 16:23] jbhoosreddy commented on #1343
Should we test?

[2019-08-16 21:20] leobalter opened #2302 "Add tests for Promise#finally with thenable objects"
cc @rkirsling @ljharb

[2019-08-16 21:20] leobalter commented on #2300
You're corrent, I'm gonna fix it.

[2019-08-16 21:27] rkirsling commented on #2302
This is the case that JSC was failing (while passing all existing Test262 cases):
https://github.com/WebKit/webkit/blob/master/JSTests/stress/promise-finally-should-accept-non-promise-objects.js

[2019-08-16 21:34] ljharb commented on #2302
I intended https://github.com/tc39/test262/tree/master/test//built-ins/Promise/prototype/finally/this-value-non-promise.js to ensure this, but I may not have anticipated webkit's `@isPromise` somehow returning true on a Proxy for a Promise.

[2019-08-18 21:51] pvdz opened #2303 "Duplicate function ids in module goal global are illegal?"
My parser tripped over a new top level await test. In particular it tripped over the duplicate function declarations:

https://github.com/tc39/test262/blob/59a1a016b7cf5cf43f66b274c7d1db4ec6066935/test/language/module-code/top-level-await/await-expr-func-expression.js#L45

https://tc39.es/ecma262/#sec-module-semantics-static-semantics-lexicallydeclarednames
Note 2:

cc @leobalter

[2019-08-18 22:02] pvdz commented on #2303
Shucks. Duplicate of #2300

[2019-08-18 22:02] #2303 closed

[2019-08-21 21:44] kmiller68 commented on #2239
@mhofman I'm not sure I understand you examples. It doesn't seem like the various asyncGC functions actually return if the object was collected or not, I'm assuming that was just for simplicity.

I don't think the last example works because there's a non-zero chance that target is on the stack somewhere. Making the GC asynchronous makes it as easy as possible for an engine to collect the object. I

[2019-08-21 22:29] mhofman commented on #2239
Right, it was for the general idea and how the target should be provided to the function. We'd have to decide how a failure to collect is communicated (rejection, return value), and how to differentiate between the collection failure scenarios (object not collectible, still observable, kept alive, or the asyncGc implementation is just unable to track collection of specific target objects).

Btw, I

[2019-08-22 00:32] kmiller68 commented on #2239
I'm not sure I understand. AFAICT, an engine is only allowed to `ClearKeptObjects` when the embedder says so. There's no way to do this in pure JS. I was assuming the `$262.clearKeptObjects()` function would return a promise that simulates this event loop turn. I'm fine with add a restriction to testing harnesses that says `$262.clearKeptObjects()` may be the only place `ClearKeptObjects` occurs.

[2019-08-22 04:37] mhofman commented on #2239
You're right, it's up to the embedder to execute the jobs, the engine itself shouldn't do it on its own.
If the testing environment can guarantee the `ClearKeptObjects` job is only run as part of the harness, then an async GC shouldn't be a problem. Or at the very least, guarantee it won't be performed until the microtask queue is drained.

It looks like 3. might make tests for `WeakRef` easier to

[2019-08-22 19:44] ajklein commented on #2239
@leobalter thoughts on (1) vs (3)?

cc @syg

[2019-08-29 19:16] leobalter commented on #2239
Thanks for the wait and patience while I'm getting up to speed after some vacation + conferences time.

reading the options and the example given [here](https://github.com/tc39/test262/issues/2239#issuecomment-523674289), I believe I can follow on the item 3 (the one with the example), and it sounds like the easier to illustrate as well.

I'll adapt the existing tests to this approach and in the m

[2019-08-29 19:30] leobalter commented on #2300
@joshualitt this should be addressed #2319. Please, let me know if you find anything else.

[2019-08-29 20:20] #2300 closed

[2019-08-29 20:22] leobalter commented on #2226
@drsm please checkout #2320 and let me know if I'm missing anything else.

[2019-08-30 11:23] drsm commented on #2226
@leobalter

Thank you for the patch!
Looks fine.

[2019-08-30 14:49] bcoe commented on #2263
Just a quick update, I have started work on the async tests for optional chaining (have just been fairly busy with a few other tasks).

[2019-08-30 15:15] caiolima commented on #1343
I'm removing `Method Descriptor (can't be observed directly)` item, since it is not part of current spec anymore.

[2019-08-31 09:36] bellard opened #2324 "cross-realm feature missing in some class private field tests"
The cross-realm feature is missing in the following class private field tests:

- test/language/expressions/class/private-getter-brand-check-multiple-evaluations-of-class-realm-function-ctor.js
- test/language/expressions/class/private-getter-brand-check-multiple-evaluations-of-class-realm.js
- test/language/expressions/class/private-method-brand-check-multiple-evaluations-of-class-realm-function-

[2019-08-31 09:41] bellard opened #2325 "built-ins/TypedArray/prototype/sort/sorted-values.js looks incorrect"
I suggest the following patch:

[code]

[2019-09-03 17:29] natashenka opened #2327 "How to contribute security tests?"
We discussed adding some security/robustness test to test262 at TC39 a while ago https://github.com/tc39/security/issues/5 . I have some questions about how contribute them. The contribution guidelines say you need an ESID, which these test won't have, as they are generally testing malformed or unusual JavaScript, and they only fail if they cause a crash. Is there something I can put in instead. A

[2019-09-04 14:38] #2226 closed

[2019-09-04 14:48] leobalter commented on #2325
@devsnek do you think there is anything else missing to close this issue? Ref #2326

[2019-09-04 14:49] leobalter commented on #2325
I'm closing this for now, as it seems to be fixed, please reopen if necessary.

[2019-09-04 14:49] #2325 closed

[2019-09-04 18:14] leobalter commented on #2324
Thanks @bellard! I believe #2328 should address all the fixes, WDYT?

[2019-09-04 19:14] bellard commented on #2324
Yes it is OK !

[2019-09-04 19:27] #2324 closed

[2019-09-05 17:22] leobalter opened #2331 "ECMA-402 PR coverage: Add calendar and numberingSystem options"
Ref: https://github.com/tc39/ecma402/pull/175

I've might already have tests for this, see https://github.com/tc39/ecma402/pull/175#issuecomment-494533901

Close it if coverage is confirmed.

[2019-09-05 17:23] leobalter opened #2332 "ECMA-402 PR coverage: Permit relatedYear and yearName in output"
Ref: https://github.com/tc39/ecma402/pull/351

[2019-09-05 17:23] leobalter opened #2333 "ECMA-402 PR coverage: Allow calendar to determine choice of pattern"
Ref: https://github.com/tc39/ecma402/pull/349

[2019-09-05 18:38] #2239 closed

[2019-09-09 13:11] aBilalMujeeb opened #2338 "Test262 Web Runner stuck at test 1193 while running tests"
Test262 Web Runner stuck at test 1193 while running tests. The tests that I could see running but without any output are

1. annexB -> language -> function_code -> global-switch-dflt-eval-global-existing-non-enumerable-global-init.js
2. annexB -> language -> global_code -> if-decl-no-else-global-skip-early-err-try.js
3. build-ins -> Array -> name.js

**Environment** I am using chrome 76 on Ubuntu

[2019-09-11 15:33] leobalter opened #2339 "WeakRefs and FinalizationGroup tests plan"
After much consideration and lengthy discussion with peers here at Bocoup and across other member orgs, I've decided to restore the tests for WeakRefs and FinalizationGroup with the following plan:

- [x] Revert the commit removing the tests using `$262.gc`.
- [x] Apply the Async GC functionality (#2329)
  - [x] and fix that file name and some other nit picks
- [x] **Default to success** if the ho

[2019-09-11 19:16] leobalter commented on #2338
Please report it to the project's repo: http://github.com/bakkot/test262-web-runner

[2019-09-11 19:16] #2338 closed

[2019-09-11 21:44] joyeecheung opened #2341 "Date tests are not timezone-independent"
In the `test/built-ins/Date/S15.9.3.1_A*.js` tests, e.g.

https://github.com/tc39/test262/blob/ef7fd2bc27e7c10b4a71d2edc632a2934742a13e/test/built-ins/Date/S15.9.3.1_A5_T5.js#L19

On a machine with a timezone different from UTC this will fail.

Can these tests be written in a way that's independent from timezones, or can the timezone be specified in the front matter for test runners to adapt?

[2019-09-11 22:03] joyeecheung commented on #2341
hm, this actually seems to be a false alarm, as I can only reproduce this in one implementation. I'll close it for now.

[2019-09-11 22:03] #2341 closed

[2019-09-13 08:50] littledan commented on #1343
Can this be closed due to complete test coverage?

[2019-09-13 10:01] pvdz opened #2344 "__proto__ duplicate in object in group should not be error"
According to `test262/test/annexB/language/expressions/object/__proto__-duplicate.js` the following is an error:

[code]

However, the spec says:

https://tc39.es/ecma262/#sec-object-initializer-static-semantics-early-errors

Since the object appears in a group which matches the cover grammar, could somebody please explain why this still considered an error?

cc @jugglinmike @mathiasbynens

[2019-09-13 19:52] FrankYFTang opened #2345 "Need proto-from-ctor-realm tests for Intl.{ListFormat,RelativeTimeFormat,Segmenter}"
https://github.com/tc39/test262/pull/2334  added  proto-from-ctor-realm tests for some intl function.
But we also need proto-from-ctor-realm tests for
Intl.{ListFormat,Locale,RelativeTimeFormat,Segmenter}
@Ms2ger @littledan

[2019-09-18 16:24] leobalter opened #2350 "[CI] Fix JSC jobs"
i.e.: https://circleci.com/gh/tc39/test262/4951?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-18 20:02] jugglinmike commented on #2344
Hi there, Peter.

The word "initially" seems important here. That could explain why code like the following is *not* a syntax error:

    ({ __proto__: x, __proto__: y }) => {};

While code like the following is a syntax error:

    ({ __proto__: x, __proto__: y });

I've never gotten the hang of cover grammars, though, so take this interpretation with a grain of salt. @littledan does that sound r

[2019-09-18 21:34] jmdyck commented on #2344
As I understand it, when you're "initially parsing" a CoverFoo, you (theoretically) don't know enough to apply *any* early error rules. That has to wait until you know more of the context.

So, with the original example, the parenthesized stuff does indeed match CoverParenthesizedExpressionAndArrowParameterList, which is not subject to early error rules. But then the context requires that it be 'r

[2019-09-19 17:46] pvdz commented on #2344
Ok, that makes sense.

In my implementation I don't actually reparse anything when applying a cover grammar (or regex u-flag), so "initially" is all I do :p Rather I forward all required information and pick what to keep once a key marker is found (the arrow, for example). So in this case I'll mark the object illegal-unless-pattern or something.

I feel the wording in the spec could be improved on

[2019-09-19 17:46] #2344 closed

[2019-09-20 00:59] sffc opened #2356 "ECMA-402 PR Coverage: Add fractionalSecondDigits option"
Spec PR: https://github.com/tc39/ecma402/pull/347

According to https://github.com/tc39/ecma402/pull/347#issuecomment-500932435 and the meeting minutes, there are partial tests added in #2194.  Please verify if additional tests need to be added.

@FrankYFTang

[2019-09-20 01:02] sffc opened #2357 "ECMA-402 PR Coverage: Add dayPeriod option"
Spec PR: https://github.com/tc39/ecma402/pull/346

According to https://github.com/tc39/ecma402/pull/346#issuecomment-500932203 and the meeting minutes, there are partial tests added in https://github.com/tc39/test262/pull/2194 and https://github.com/tc39/test262/pull/2217. Please verify if additional tests need to be added.

@FrankYFTang

[2019-09-20 01:11] sffc commented on #2356
The following was recorded in the July 2019 ECMA-402 meeting:

[2019-09-20 01:12] sffc opened #2358 "ECMA-402 PR Coverage: Revert tests for quarter option"
Spec PR: https://github.com/tc39/ecma402/pull/345

We decided to pull this PR pending further discussion with CLDR.  However, some tests may have been added in #2194.  Please remove these tests if necessary.

@FrankYFTang

[2019-09-20 18:05] rkirsling opened #2359 "Coverage: Array methods should throw TypeError upon attempting to modify a string"
(Discovered in https://bugs.webkit.org/show_bug.cgi?id=201910.)

JSC and XS are both doing the wrong thing at present, but we lack the tests to show it:
[code]

[2019-09-23 16:26] #2256 closed

[2019-09-23 16:26] #2260 closed

[2019-09-24 17:48] #2350 closed

[2019-09-24 21:24] anba commented on #2341
This is a dup of #1984, which [contains a link](https://github.com/tc39/test262/issues/1984#issuecomment-445824542) to the underlying issue in v8: <https://bugs.chromium.org/p/v8/issues/detail?id=7863>.

[2019-09-24 22:10] FrankYFTang commented on #2358
This is all done in https://github.com/tc39/test262/pull/2232

[2019-09-24 23:44] #2358 closed

[2019-09-25 22:23] FrankYFTang commented on #2358
Somehow I missed one . Here is the PR to remove it
https://github.com/tc39/test262/pull/2368

[2019-09-26 17:29] littledan commented on #2332
The plan is that @ms2ger will work on this test, based on the `locale:` metadata. There's a test in V8 that can be used as the basis.

[2019-09-26 22:33] jugglinmike commented on #1165
@leobalter I think this issue was mistakenly closed--Test262 lacks coverage for most of this proposal.

    $ git show -s '--format=%h %ci %s' HEAD
    32bb36f5e4 2019-09-26 14:28:56 -0400 Tests for TLA module evaluation
    $ git grep lastMatch test
    $ git grep lastParen test
    $ git grep leftContext test
    $ git grep rightContext test

<details>
  <summary>Naive queries for the other prop

[2019-09-27 12:59] bellard opened #2370 "A few QuickJS bugs that are not covered by test262"
Here are a few bugs recently corrected in QuickJS that are not tested in test262:

* `decodeURIComponent("%ED%AF%BF")` should throw a URIError (UTF-8 code corresponding to a surrogate pair).

* `delete "abc"[100]` should return true

* `delete null.a` should throw a TypeError

* `delete super.a` should throw a ReferenceError in a method

* eval() should call the corresponding binding if it is defi

[2019-09-27 14:49] leobalter opened #2371 "Missing coverage for Legacy RegExp features"
_Originally posted by @jugglinmike in https://github.com/tc39/test262/issues/1165#issuecomment-535710934_:
---

@leobalter I think this issue was mistakenly closed--Test262 lacks coverage for most of this proposal.

    $ git show -s '--format=%h %ci %s' HEAD
    32bb36f5e4 2019-09-26 14:28:56 -0400 Tests for TLA module evaluation
    $ git grep lastMatch test
    $ git grep lastParen test
    $ g

[2019-09-27 14:50] leobalter commented on #1165
Thanks for reporting this! I created #2371 to keep track.

[2019-09-27 16:50] jugglinmike commented on #2371
Updating the status in TC39's "proposals" document: https://github.com/tc39/proposals/pull/243

[2019-09-27 17:05] devsnek opened #2372 "assert._formatValue causing test failures"
after updating test262 this week, `Array/prototype/flatMap/array-like-objects-nested.js` has started failing with this stack trace:

[code]

`assert._formatValue` is trying to print out the length getter, and that causes the test to fail.

[2019-09-27 18:46] leobalter commented on #2372
thanks for reporting! I'm gonna get this fixed.

[2019-10-02 19:30] FrankYFTang opened #2386 "Need more tests on StringListFromIterable for ListFormat"
During the review of https://github.com/tc39/test262/pull/2380

@Ms2ger  mentioned
[code]

File this issue to track those.

[2019-10-05 21:35] mhofman opened #2392 "test/built-ins/FinalizationGroup/prototype/cleanupSome/poisoned-callback-throws.js issues"
There 2 problems with [poisoned-callback-throws.js](https://github.com/tc39/test262/blob/08844700fe701dc4ef204ca14e140667ceb32ad4/test/built-ins/FinalizationGroup/prototype/cleanupSome/poisoned-callback-throws.js)
- Line 58 has a typo [`iteraror`](https://github.com/tc39/test262/blob/08844700fe701dc4ef204ca14e140667ceb32ad4/test/built-ins/FinalizationGroup/prototype/cleanupSome/poisoned-callback-t

[2019-10-05 22:00] mhofman commented on #2339
I'm wondering what the strategy should be for testing how an implementation handles the callback when the execution is triggered by the host, i.e. from [`HostCleanupFinalizationGroup`](https://tc39.es/proposal-weakrefs/#sec-host-cleanup-finalization-group).

I realize this invocation is optional for the host, but my concern is the behavior when the host does make the invocation. In particular, how

[2019-10-07 15:27] leobalter commented on #2392
I probably missed committing the typo fix, thanks for reporting that. PTAL #2394

I have to disagree then, as it's far from being superfluous:

For both tests we have a call to `fg.cleanupSome(callback);`, in one of then we have a normal completion, and for the other we have an abrupt completion.

In the specs we have:

[code]

I want to make sure **step 7** always happens, even in an abrupt compl

[2019-10-07 16:26] mhofman commented on #2392
You're right, I didn't think about it this way!

However, I feel this test is still conceptually testing 2 things at once. Because the last step is broken in V8, you have to check the error message to differentiate from a failure of the first step.

Would it make sense to duplicate the test, one with check for the iterator, and one without, and name them accordingly, e.g.
poisoned-callback-throws

[2019-10-07 16:43] #2392 closed

[2019-10-07 16:58] leobalter commented on #2392
I could do that but requires me reusing the same content from the one we would stop at just calling the callback. I'm not sure how the fragmentation would help but I'd be welcome to a PR doing this work.

[2019-10-07 18:21] leobalter commented on #2339
AFAICT, there isn't any way to observe this. I don't think we could write a Test262 valid test without requiring many extra artifacts from the hosts.

Test262 does not describe anything on how these are handled, this depends a lot on each test runner. e.g. Test262-harness will check for anything going to the stderr output.

[2019-10-08 18:39] #2345 closed

[2019-10-08 18:42] #2386 closed

[2019-10-08 19:09] leobalter commented on #2370
while everything is correct, I have one nit:

`null.a` itself should throw a TypeError alone...

[2019-10-08 21:57] mhofman commented on #2339
Isn't this the same as `ClearKeptObjects`? The host could provide a hook `runHostCleanupFinalizationGroupJobs()`, which returns a promise. When resolved, the cleanup callback should have been invoked.
In v8, this currently translates into a `setTimeout`.

I guess something printed to the stderr is an indicator of a failed test, so that makes sense. I assume that would also catch the segfault I exp

[2019-10-08 21:58] mhofman commented on #2339
Btw, there is discussion in https://github.com/tc39/proposal-weakrefs/issues/157 to relax the atomicity of the execution step.

In that case I think we need to make clear the `asyncGc` hook should only complete successfully after all the execution steps have been performed, i.e. clearing all WeakRef targets and FinalizationGroup cells for objects that have been collected is not optional and must b

[2019-10-08 22:06] mhofman commented on #2392
I understand. I'm not sure what's best or how test262 currently handles similar cases.

Basically this is an if/else branch in spec steps, but with no sub step for one of the branch. If there was a separate step for both branches, wouldn't there be 2 tests with duplicate code?

[2019-10-09 00:33] syg opened #2398 "Some String.prototype.matchAll tests are incorrect"
This came up while @joshualitt was [updating test262 for V8](https://bugs.chromium.org/p/v8/issues/detail?id=9800#c9). With the recent `String.prototype.matchAll` and `String.prototype.replaceAll` changes to throw on non-global regexps, not all tests were updated.

The comment linked to above, copied here for convenience:

I believe there @rkirsling ran into similar issues when updating those meth

[2019-10-09 09:11] bellard commented on #2370
I agree that according to the standard the exception happens in the
evaluation of the "dot" property accessor. However in QuickJS the
RequireObjectCoercible() test of section 12.3.2.1 is done in the delete
operator. Hence the test is still interesting for the engines which use
the same implementation trick.

[2019-10-09 14:32] #2398 closed

[2019-10-09 21:57] #2372 closed

[2019-10-10 15:16] leobalter commented on #2339
in our case, the asyncGC hook receives all the references we expect to be cleared before completion, otherwise it says it can't remove the references and ends the test earlier (without a failure as requested).

My suggestion on the more strict GC is blocked for points we already discussed. It's still my preferred option but it's up to me to require it.

I'll close this for now and we should create

[2019-10-10 15:16] #2339 closed

[2019-10-18 18:47] caiolima opened #2407 "Missing test including optional chaining and private identifier"
The spec of both proposals don't allow the syntax for `obj?.#privateID`. We need to add test case to cover this invalid syntax.

[2019-11-01 14:44] #2407 closed

[2019-11-01 14:45] leobalter opened #2409 "Incorrect tests on Optional Chaining"
[test/language/statements/for-of/dstr/obj-prop-elem-target-obj-literal-optchain-prop-ref.js](https://github.com/tc39/test262/blob/master/test/language/statements/for-of/dstr/obj-prop-elem-target-obj-literal-optchain-prop-ref.js)
[test/language/statements/for-of/dstr/array-elem-nested-memberexpr-optchain-prop-ref.js](https://github.com/tc39/test262/blob/master/test/language/statements/for-of/dstr/a

[2019-11-01 14:45] leobalter commented on #2409
@rkirsling would you mind push a patch for this?

[2019-11-01 14:47] rkirsling commented on #2409
Certainly—is it okay to simply remove them though? I wasn't sure how we could salvage them.

[2019-11-01 14:56] leobalter commented on #2409
At this point yes, better than having incorrect cases

[2019-11-01 15:06] chicoxyzzy opened #2410 "Add coverage for Promise.any proposal"
This issue is to track the progress of the test262 coverage of the stage 3 Promise.any proposal. https://github.com/tc39/proposal-promise-any. ~Tests also should cover `AggregateError`.~ (covered by https://github.com/tc39/test262/pull/2406)

I'm starting to work on this.

[2019-11-01 15:25] chicoxyzzy commented on #2410
cc @mathiasbynens @bakkot

[2019-11-01 15:30] chicoxyzzy commented on #2410
Oh, I didn't notice https://github.com/tc39/test262/pull/2406 for AggregateError from @leobalter

[2019-11-01 18:05] #2409 closed

[2019-11-07 20:15] jridgewell opened #2414 "Optional chain call with super and meta properties"
Babel and TypeScript both ran into issues with `super.method?.()` by trying to use `super` as a regular variable. Can we add tests around this, and `new.target`?

[code]

[Babel repl](https://babeljs.io/repl/#?babili=false&browsers=ie%2011&build=&builtIns=usage&spec=false&loose=false&code_lz=MYGwhgzhAEBCkFNoG8BQ0PQLYIC4AsB7AEwAoBKFdTGgJzwFdaA7aAgSwgG5qMBfVANShIMAGKFC0BAA9cCZsRjwISNDRwESFKjRoQGABwS

[2019-11-11 04:46] devsnek commented on #783
So far I found at least these cases aren't tested in test262:

- `-2..`
- `-01`
- `0.e1`
- `2.e-3`
- `2.e+3`
- `2.e3`
- `-012`
- `012`
- `1.`

At this point would it make sense to still work on integrating JSONTestSuite into test262, or just add tests we find manually? (In the latter case, I'm not entirely sure where to put them)

[2019-11-11 15:54] mathiasbynens opened #2417 "Add tests for String.prototype.replaceAll"
Ref. https://github.com/tc39/proposal-string-replaceall/issues/28

[2019-11-11 19:41] bcoe commented on #2263
@DanielRosenwasser @leobalter @rkirsling, it feels like we could still improve coverage for Stage 4 in December. I saw the rollback of #2411, where should we ultimately end up in terms of generated tests vs., hand written tests, is it worth continuing to work down the [check-lists we've written up](https://gist.github.com/bcoe/b0e6ae3f93f8c8b8f8559f4428187f25) ... alternatively, perhaps we're feel

[2019-11-11 19:50] leobalter commented on #2410
Hi @chicoxyzzy, how is the progress on the tests for Promise.any? I have time available this week for it if you haven't started yet. Please, let me know!

[2019-11-11 20:24] chicoxyzzy commented on #2410
Hi Leo! I have asked you the same question on #tc39 IRC channel couple hours before 😀 I will work on adding `Promise.any` to JSC soon, so I will need tests for it. I didn't start yet, so you can do it or leave it to me (I was going to start tomorrow). Either way works for me 🙂

[2019-11-11 21:11] leobalter commented on #2410
It’s very nice if you wanna write the tests. I’ll focus on other features currently on Stage 3. I’m looking forward to review the tests.

[2019-11-12 16:53] leobalter commented on #2263
@bcoe would you be able (time-wise) to update the coverage list or flag parts missing in the coverage?

We can make a work effort after that or as you said, define coverage is reasonable enough. WDYT?

[2019-11-12 16:54] leobalter commented on #2417
Is anyone interesting in picking this up? Otherwise I'll assign it to myself in about an hour.

cc @ljharb

[2019-11-12 16:57] leobalter commented on #2410
Coverage for AggregateError should be done.

[2019-11-12 17:19] mathiasbynens commented on #2417
I imagine we can mostly duplicate the existing `String.prototype.replace` tests, modifying those tests where `searchValue` and `replaceValue` are both strings. At that point, we’d only have to add tests for the exception on a non-global RegExp `searchValue`.

[2019-11-12 17:33] leobalter commented on #2417
Sure thing, I'm just checking as IIRC, @ljharb has expressed intention to write these tests in the last meeting. Otherwise, I'm gonna get this covered this week. (today or tomorrow, optimistically).

[2019-11-12 18:16] ljharb commented on #2417
Feel free to do it before i find time to :-)

[2019-11-12 18:17] chicoxyzzy commented on #2410
@leobalter awesome, thank you! I've started to work on Promise.any tests (using https://github.com/tc39/test262/pull/2124 as a reference)

[2019-11-13 15:53] leobalter commented on #2417
This would be amazing if we didn't have too many legacy tests.

[2019-11-14 00:25] bcoe commented on #2263
@leobalter I'll make an effort to put some work into it this weekend, at least summarizing some of the productions we didn't quite hit yet.

I definitely do think we're getting to the point where we have a healthy number of tests, but I think there are some areas we could flesh out more (as an example for and while statements).

[2019-11-18 05:27] bcoe commented on #2414
@jridgewell with regards to `super.method?.()`, the expected response would be `this` in your example?

Should ` new.target?.()` throw a `TypeError`?

[2019-11-18 05:27] bcoe commented on #2414
@jridgewell with regards to `super.method?.()`, the expected response would be `this` in your example?

Should ` new.target?.()` throw a `TypeError`?

[2019-11-18 06:19] ljharb commented on #2414
No, because if `new.target` is `undefined`, the optional call would avoid it; but it might also be a function as in this example:
[code]

[2019-11-18 15:21] leobalter opened #2426 "Extend coverage for RegExp.prototype[Symbol.replace]"
Based on findings from #2423:

1. Extend tests coverage for `RegExp.prototype[Symbol.replace]`
1. Create a feature flag for `RegExp.prototype[Symbol.replace]` and `String.prototype.replace`. Not new features, but there are too much tangliness here. _Yes, I invented a new word_.
1. Extend tests coverage for `String.prototype.replace`
1. Remove redundant legacy tests for `String#replace` we will eve

[2019-11-18 15:22] #2417 closed

[2019-11-18 15:48] bcoe commented on #2414
I follow @jridgewell example now, will add a test if no one else beats me to it.

[2019-11-18 19:37] jridgewell commented on #2414
Yes.

No, as @ljharb explains.

This is primarily just to test that things that look like member expressions, but really aren't, behave properly when used in a an optional chain.

[2019-11-25 06:04] bcoe commented on #2263
@leobalter @jridgewell @DanielRosenwasser, I'm feeling pretty good about our initial suite of tests (once we land #2429 which addresses some regressions @jridgewell brought up).

[2019-11-26 18:48] rkirsling commented on #2292
Looks like we addressed the case mentioned in the topic here, but we still need the call-related ones I pointed out. I think this is important coverage prior to reaching Stage 4 as it's a plausible yet easily-overlooked path; I can help out with this today.

Basically we should be able to re-use these:
https://github.com/WebKit/webkit/blob/master/JSTests/stress/optional-chaining.js#L112-L116

[2019-12-03 19:21] jridgewell opened #2441 "Optional Call receiver with parentheses"
V8, SpiderMonkey, JSC, Babel, and TypeScript have have/had incorrect receiver propagation when an optional chain is wrapped in parenthesis then called:

[code]

/cc @bcoe

[2019-12-03 19:42] jridgewell commented on #2441
V8: https://bugs.chromium.org/p/v8/issues/detail?id=10024

[2019-12-03 19:48] codehag commented on #2441
Spidermonkey hasn't landed yet, but we are aware of the issue. There is no specific bug for this.

[2019-12-03 19:48] DanielRosenwasser commented on #2441
As we discussed offline, it feels like that sample should give the same behavior as

[code]

The current state of the spec reflects this, so it sounds like this is an easy-to-make implementation bug that needs test262 coverage.

@codehag, @rkirsling, @rbuckton, @devsnek, @avp do you have any objections to this?

[2019-12-03 19:49] jridgewell commented on #2441
Apparently SM already has a patch, and JSC is already fixed

[2019-12-03 19:49] rkirsling commented on #2441
Test case is #2436. :smile:

[2019-12-03 20:06] bmeck opened #2442 "add test for super construct check being after arguments"
refs: https://github.com/tc39/ecma262/pull/1775

seems some tests need updates:
https://github.com/tc39/test262/blob/ee3715ee56744ccc8aeb22a921f442e98090b3c1/test/language/statements/class/subclass/class-definition-null-proto-super.js#L58
https://github.com/tc39/test262/blob/ee3715ee56744ccc8aeb22a921f442e98090b3c1/implementation-contributed/v8/mjsunit/regress/regress-crbug-696622.js#L11-L14

[2019-12-03 20:18] jridgewell commented on #2441
Babel issue: https://github.com/babel/babel/issues/10802
TypeScript issue: https://github.com/microsoft/TypeScript/issues/35476

[2019-12-03 21:28] #2292 closed

[2019-12-18 16:35] #2414 closed

[2019-12-19 02:32] sffc opened #2449 "Add spec edge case tests for Unified NumberFormat"
https://github.com/tc39/proposal-unified-intl-numberformat/pull/72 and other recent PRs have made minute detail changes to edge case behaviors in Unified NumberFormat.  There should be tests added for this behavior.

@Ms2ger

[2019-12-19 03:14] sffc commented on #2449
More specifically, add tests for all of the normative changes since Stage 3:

https://github.com/tc39/proposal-unified-intl-numberformat/pulls?utf8=%E2%9C%93&q=is%3Apr+label%3ANORMATIVE+

[2019-12-19 18:46] rkirsling opened #2450 "Coverage: Parse of non-UTC date-time string"
[20.4.3.2](https://tc39.es/ecma262/#sec-date.parse):

Current behavior in engines:
[code]

[2019-12-19 23:01] devsnek opened #2451 "missing coverage of super reference behaviour"
As far as I can tell, the below behaviour is not verified in test262. I just found a bug today where it was resolving super references incorrectly, which can be tested for sort of like this:

[code]

I'm not entirely sure what is and isn't covered, so I thought it would be useful to open an issue.

[2019-12-21 01:29] devsnek opened #2452 "coverage reports from engine262"
I just added coverage reports to engine262, and I found that in some cases the data is actually able to find missing coverage in test262. For example, here we can see that several branches are missed for Error.prototype.toString:

![](https://gc.gy/44605382.png)

engine262 still has a lot of work to do, and thousands of tests are still skipped, but I'm hopeful that some of this data may be of use

[2019-12-23 16:33] Ms2ger commented on #2449
See https://github.com/tc39/test262/pull/2454 for this year's tests; I'll probably need to write some more next year.

[2019-12-24 16:39] longlho opened #2455 "Invalid `numberingSystem` tests"
Hi there,

While working on Unified NumerFormat polyfill I noticed https://github.com/tc39/test262/pull/2383 which might not be valid as `numberingSystem` is not retrieved anywhere in current spec and proposed unified numberformat. The closest call was the iteration over `options` in https://tc39.es/ecma402/#sec-resolvelocale but that's not enough to trigger a getter. Should those tests be modifie

[2020-01-08 16:22] sffc commented on #2455
The test is for https://github.com/tc39/ecma402/pull/175, which adds those options and how to read them in Intl objects.

[2020-01-08 16:23] longlho commented on #2455
Gotcha thanks!

[2020-01-08 16:23] #2455 closed

[2020-01-08 19:00] #2359 closed

[2020-01-08 20:32] #2450 closed

[2020-01-08 21:23] #2449 closed

[2020-01-08 21:27] #2332 closed

[2020-01-09 18:05] iamstolis opened #2467 "A bug in missing-unicode-ext-value-defaults-to-true.js test"
`intl402/Collator/missing-unicode-ext-value-defaults-to-true.js` test expects `new Intl.Collator(['en-u-co-phonebk-kn-true']).resolvedOptions().locale` to contain `-kn` but not `-kn-true`. This does not seems to reflect the specification.

The relevant part of the specification is [ResolveLocale](https://ecma-international.org/ecma-402/#sec-resolvelocale) operation. The step `8.h.i.` (`Let request

[2020-01-12 21:59] iamstolis commented on #2467
I guess that I have found what I missed before. `-kn-true` is really added by step `8.h.ii.1.a` (as I mentioned in the description) but later (during step `9.e`) the resulting locale is canonicalized using `CanonicalizeLanguageTag()` operation. This operation request the implementation to use [BCP 47 Language Tag to Unicode BCP 47 Locale Identifier](https://unicode.org/reports/tr35/#BCP_47_Languag

[2020-01-12 21:59] #2467 closed

[2020-01-21 16:16] anba opened #2478 "Missing coverage: Redeclaration of "arguments" in direct eval in parameter expressions"
There doesn't seem to be coverage for redeclaring "arguments" in direct eval in function parameter expressions. For example:
[code]

should throw a SyntaxError when evaluating [EvalDeclarationInstantiation](https://tc39.es/ecma262/#sec-evaldeclarationinstantiation) in step 5.d.ii.2.a.i.

I've written some basic tests at <https://phabricator.services.mozilla.com/D60508>, but those could probably be

[2020-01-23 15:10] caiolima commented on #2331
We are missing coverage on invalid options throwing `RangeError`.

[2020-01-23 15:11] caiolima commented on #2331
BTW, I'm going to work on that now.

[2020-01-24 13:53] caiolima commented on #2357
I think we have enough coverage to consider this complete. Missing tests are potentially edge-cases.

[2020-01-24 13:53] #2357 closed

[2020-01-24 14:58] caiolima commented on #2333
I think this is already covered by PRs above. Could anybody confirm this?

[2020-01-24 15:21] caiolima commented on #2356
I can see tests for the following methods:

- format: https://github.com/tc39/test262/blob/master/test/intl402/DateTimeFormat/prototype/formatToParts/fractionalSecondDigits.js
- formatToParts: https://github.com/tc39/test262/blob/master/test/intl402/DateTimeFormat/prototype/formatToParts/fractionalSecondDigits.js
- formatRage: https://github.com/tc39/test262/blob/master/test/intl402/DateTimeFormat

[2020-01-24 19:22] leobalter commented on #2331
Closing after #2480

[2020-01-24 19:22] #2331 closed

[2020-01-27 14:04] caiolima commented on #2356
I'm going to work on this to add missing cases for `formatRangeToParts`

[2020-01-28 20:24] caiolima opened #2485 "Missing tests for BigInt literals as ProeprtyName"
See related bug on [SpiderMonkey](https://bugzilla.mozilla.org/show_bug.cgi?id=1605835) and [JSC](https://bugs.webkit.org/show_bug.cgi?id=206888).

BigInt literals can be used as property name. In this case `{1n: "foo"}` should evaluate to an object with `{"1": "foo"}`.

[2020-01-30 21:07] kmiller68 opened #2487 "Missing coverage for left hand side expressions"
While fixing an issue in JSC I noticed there was no test for an early error when the left hand side of an assignment is itself an assignment. There may be tests for this a the program level but I couldn’t find anything  for the function level.

For example:
function foo() {
    (a = b) = c;
}

FWIW, the function level is interesting because browsers often only look for SyntaxErrors until the funct

[2020-01-30 21:07] kmiller68 commented on #2487
See: https://bugs.webkit.org/show_bug.cgi?id=206972 for the relevant JSC bug

[2020-02-07 19:03] rwaldron commented on #2451
It's funny... I can find so many examples of `super.prop()` calls, but they always call something that returns a string or a number. I can't find explicit coverage for this case 🤷‍♂ . I wrote a test, but then realized maybe you want to write the test, so I figured I'd give you the option. Let me know what you want to do.

[2020-02-07 19:05] #196 closed

[2020-02-07 19:06] rwaldron commented on #64
The links above are in the wayback machine: https://web.archive.org/web/20141214114329/https://bugs.ecmascript.org/show_bug.cgi?id=1453

[2020-02-07 19:10] rwaldron commented on #64
I recommend maintaining a "skip list" for tests that are incompatible with host requirements.

[2020-02-07 19:10] #64 closed

[2020-02-07 19:16] rwaldron commented on #290
[code]

[2020-02-07 19:16] #290 closed

[2020-02-07 19:17] #297 closed

[2020-02-07 19:19] rwaldron commented on #306
This was addressed by implementing a linter that runs in our CI

[2020-02-07 19:19] #306 closed

[2020-02-07 19:20] #503 closed

[2020-02-07 19:20] rwaldron commented on #467
This was implemented.

[2020-02-07 19:20] #467 closed

[2020-02-07 19:24] rwaldron commented on #439
Coverage: https://github.com/tc39/test262/tree/master/src/identifier-names

[2020-02-07 19:24] #439 closed

[2020-02-07 20:10] devsnek commented on #2451
@rwaldron if you have a test please feel free to use it :+1:

[2020-02-18 02:48] kmiller68 commented on #1997
Would it also be possible to prohibit inline value strings that span multiple lines? That seems to cause issues for JSC's YAML parser...

For example:
[code]

Ideally, this would be formatted as one line or with "|"/">"

[2020-02-18 16:28] scole66 opened #2504 "Computed Property Name and property ordering in tests"
Computed Property Name tests accidentally test for Class Definition evaluation order of operations, and as such many JS implementations fail to pass these three tests.

Not only that, but the order tested for doesn't match the order specified in the ecma-262 specification anyway.

Relevant tests are:

* test/language/computed-property-names/class/static/method-number.js
* test/language/computed-pr

[2020-02-18 18:26] rkirsling commented on #1997
Opened #2505 to address the specific issue @kmiller68 identified.

[2020-02-18 18:31] ljharb commented on #2504
I'm not sure it's accidental; computed property names seem like the only way to test ordering. (In 2015, the committee agreed on this ordering independent of Class Fields, *because* of class fields and decorators - to coordinate things between them)

[2020-02-18 19:20] scole66 commented on #2504
Hm. Take out `length`, `name`, and `prototype` then? Changing the comparison to match the order in the specification seems wrong; all the engines do things in a different order

[2020-02-18 21:03] ljharb commented on #2504
The spec requires they do them in the same order, however, so I think it's important that the test fails for them.

[2020-02-18 22:16] scole66 commented on #2504
Well, the tests and the spec are inconsistent, then. Changing the tests is the right thing in case? (`length`, `name`, `prototype` --> `length`, `prototype`, `name`)

[2020-02-18 22:19] ljharb commented on #2504
Generally speaking, I believe the tests should always reflect the spec.

When the spec disagrees with web reality, however, we generally try to make an explicit decision (with input from web browsers) on whether we should change the spec, or whether engines should change. In this case, I suspect that the best first step is to change the tests to match the spec.

[2020-02-18 22:47] scole66 commented on #2504
That's what I expected. I also expect web reality is a big shrug.
test262.report is saying this test is passing on JavaScriptCore and Moddable XS; failing on ChakraCore, SpiderMonkey, and V8. When I run similar logic in Chrome's dev console, `name` is indeed after `prototype`, but it's also after the class methods themselves. (Really late binding on the name there.)

Changing the test means the li

[2020-02-18 22:55] ljharb commented on #2504
It's definitely not a "shrug"; the spec has changed many times to match web reality.

[2020-02-18 22:57] scole66 commented on #2504
"big shrug" meaning: I think everybody is doing it differently. Not having done any experiments to verify that statement, of course.

[2020-02-18 23:23] ljharb commented on #2504
Ah - typically when that happens, the spec, and tests, match the "ideal" state and then we hope browsers all converge.

[2020-02-18 23:47] scole66 commented on #2504
Oh, ho. This has been discussed before, six months ago. #2428. Doing some more digging.

[2020-02-19 00:03] scole66 commented on #2504
Ah ha.

The problem is that https://github.com/tc39/ecma262/pull/1490 still hasn't landed, but the tests for it have.

Adding empty strings as `name` properties in `FunctionInitialize` will change the order to match this test.

[2020-02-19 17:19] devsnek opened #2507 "%FinalizationGroupCleanupIteratorPrototype%.next missing coverage"
After a full test262 run I'm seeing this result: https://coveralls.io/builds/28806730/source?filename=src/intrinsics/FinalizationGroupCleanupIteratorPrototype.mjs. engine262 does support weakrefs and finalization (https://engine262.js.org/#gist=02d22b8813a762e53b839f7f2d2ba84d) so I don't *think* it's a problem there. I realize there are tests in test262 which do call next(), so I'm concerned ther

[2020-02-25 14:26] rwaldron opened #2511 "Atomics.waitAsync testing plan"
# Atomics.waitAsync
https://tc39.es/proposal-atomics-wait-async/

(All relevant tests must be completed for TypedArray and BigInt)

## features.txt

- [x] `Atomics.waitAsync`

## waitAsync
- esid: sec-atomics.waitasync
- [x] Check Name
    - test/built-ins/Atomics/waitAsync/name.js
- [x] Check length
    - test/built-ins/Atomics/waitAsync/length.js
- [x] Check descriptor
    - test/built-ins/Atomi

[2020-02-27 20:10] rwaldron opened #2515 "Resolve test validity claim for built-ins/AggregateError/newtarget-proto-fallback.js"
See: https://github.com/Moddable-OpenSource/moddable/blob/public/documentation/xs/XS%20Conformance.md#built-ins-1

Re: https://github.com/tc39/test262/blob/7040938bd06ded171250d1e945a969f90fb37165/test/built-ins/AggregateError/newtarget-proto-fallback.js

[2020-02-28 16:38] anba commented on #2515
That claim is correct, we're also skipping that test in Firefox, because it expects the wrong prototype.

[2020-03-04 20:15] rwaldron commented on #2515
Thanks @anba

[2020-03-07 21:56] scole66 opened #2519 "create-proto-from-ctor-realm-array in Array/prototype/filter is testing the wrong function"
https://github.com/tc39/test262/blob/763178938817827e8fe08e82298dd21b2cd6531a/test/built-ins/Array/prototype/filter/create-proto-from-ctor-realm-array.js#L40

Pretty sure this should be testing `array.filter`, not `array.concat`.

(I checked the other varieties of this test in the `Array/prototype` tree, and they seem correct.)

[2020-03-08 04:56] scole66 opened #2520 "Array/prototype/indexOf/15.4.4.14-4-4.js is testing the wrong function"
https://github.com/tc39/test262/blob/763178938817827e8fe08e82298dd21b2cd6531a/test/built-ins/Array/prototype/indexOf/15.4.4.14-4-4.js#L11

Yeah, that's supposed to be `indexOf`.

[2020-03-11 01:08] #2515 closed

[2020-03-11 01:09] #2520 closed

[2020-03-11 01:10] #2519 closed

[2020-03-12 05:56] mroch opened #2527 "Add test for EvaluateNew execution order"
I couldn't find a test that ensures that [EvaluateNew](https://tc39.es/ecma262/#sec-evaluatenew) steps 3 and 4 come before step 6: the reference to the constructor is evaluated before the arguments.

specifically, a test case like this:

[code]

It should (I believe) construct the function with `1` as an arg, not try to construct `1` and `TypeError`.

I think this is relevant because this currentl

[2020-03-13 14:08] mroch opened #2529 "Test for ASI in `continue` is ineffective"
https://github.com/tc39/test262/blob/25c9e334d301944537215caba1d7f44319f3e0da/test/language/statements/continue/12.7-1.js#L11-L18

this test claims to be testing that "a continue statement without an identifier may have a LineTerminator before the semi-colon".

however, I don't think it's working as intended. if ASI does insert a semicolon after `continue`, it still passes, just with an extra empt

[2020-03-17 18:09] sterpe commented on #2527
Commenting so I get updates.

[2020-03-17 21:36] leobalter commented on #2527
I don't believe we have modern coverage (after 2015) for EvaluateNew, and this seems like a very interesting case to be covered. I'm getting the tests done soon.

[2020-03-17 22:19] ljharb commented on #2527
@sterpe for future reference, there’s a “subscribe” button on all issues and PRs that will ensure you get updates, without needing to comment. ❤️

[2020-03-17 22:42] leobalter commented on #2527
The most interesting part here is that it only happens in a very specific case:

- [x] `x` cannot be referenced inside the constructor used for `new`.

[code]

- `x` must be in the same function level scope, and it cannot happen in the top level scope.

[2020-03-18 13:42] #2527 closed

[2020-03-20 01:33] rwaldron commented on #2485
Resolved

[2020-03-20 01:33] #2485 closed

[2020-03-20 13:55] rwaldron opened #2538 "Logical Assignment testing plan"
https://tc39.es/proposal-logical-assignment/

I will post my testing plan here once it's complete.

[2020-03-22 17:56] iamstolis opened #2540 "Incorrect invalid-numbering-system(-calendar)-options.js tests"
Tests `intl402/NumberFormat/invalid-numbering-system-options.js` and `intl402/DateTimeFormat/invalid-numbering-system-calendar-options.js` introduced by https://github.com/tc39/test262/pull/2480 are incorrect. The parts of the tests that set the invalid values through options are fine. Unfortunately, the parts of the tests that append invalid value `"ab"` to language tag expect `RangeError` incorr

[2020-03-22 19:03] iamstolis opened #2541 "Incorrect intl402/Locale/constructor-tag.js test"
`intl402/Locale/constructor-tag.js` test assumes that `Flob`, `ZORK` and `SPAM-gb-x-Sausages-BACON-eggs` are invalid language tags, i.e., it expects `RangeError` to be thrown when such tag is passed to `Intl.Locale` constructor. I believe that these tags are structrurally valid language tags (i.e. no `RangeError` should be thrown). The relevant production is `unicode_language_id = "root" | (unicod

[2020-03-23 12:27] anba commented on #2541
The quoted grammar production only allows leading script subtags for *Unicode CLDR locale identifiers*, but ECMA-402 uses *Unicode BCP 47 locale identifiers*. The difference is explained in <https://unicode.org/reports/tr35/#BCP_47_Conformance>.

[2020-03-23 12:58] iamstolis commented on #2541
Thank you for the explanation. I understand what `IsStructurallyValidLanguageTag()` is supposed to mean by now. On the other hand, I think that the description of this operation should be fixed/improved.

Yes, the operation mentions `Unicode BCP 47 Locale Identifier` term but it points to section 3.2 (instead of section 3.3) of Unicode Technical Standard 35. Even worse, it says explicitly:

i.e. t

[2020-03-28 17:20] caiolima opened #2549 "Missing tests with "static" valid public fields"
There is a [bug](https://bugs.webkit.org/show_bug.cgi?id=209703) in JSC public class fields implementation that don't allow us create a field named as `static`, but JSC is passing all tests with `class-fields-public`. We should add cases to verify it.

[2020-03-28 20:47] #2549 closed

[2020-03-30 16:28] anba commented on #2541
Please file an issue at the ECMA-402 repository. Thanks!

[2020-03-30 17:58] #2540 closed

[2020-03-30 19:47] chicoxyzzy commented on #2410
https://github.com/tc39/test262/pull/2533 is merged now, so I'll close this issue. Thank you @rwaldron! 👏

[2020-03-30 19:47] #2410 closed

[2020-03-30 20:08] leobalter opened #2557 "Promise.any test bug: Promise.prototype.then uses SpeciesConstructor"
For

- test/built-ins/Promise/any/does-not-perform-species-get-of-custom.js
- test/built-ins/Promise/any/does-not-perform-species-get-of-promise.js

_Promise.prototype.then uses SpeciesConstructor_

_Originally posted by @devsnek in https://github.com/tc39/test262/pull/2533_

[2020-03-31 19:12] rwaldron opened #2561 "Allow Atomics methods on ArrayBuffers"
I will follow up on https://github.com/tc39/ecma262/pull/1908

- [x] Atomics.notify changed to always return 0 on non-shared
- [x]  Allow non-shared array buffer:
    - [x] Atomics.load
    - [x] Atomics.store
    - [x] Atomics.add
    - [x] Atomics.sub
    - [x] Atomics.and
    - [x] Atomics.or
    - [x] Atomics.xor
    - [x] Atomics.exchange
    - [x] Atomics.compareExchange

[2020-03-31 20:53] leobalter commented on #2557
For reference, #2562 removed the erroneous tests. The PR can be used to find the content that needs fixing.

[2020-03-31 22:00] caiolima opened #2563 "Fix tests of `?.#field`"
After consensus reached towards tc39/proposal-class-fields#302 , src/class-elements/grammar-private-field-optional-chaining.case is not a valid test anymore. We should fix it to be a valid syntax.

[2020-04-02 16:58] #2563 closed

[2020-04-05 19:37] iamstolis commented on #2541
OK, did so: https://github.com/tc39/ecma402/issues/425

I am closing this issue as the test is correct if `IsStructurallyValidLanguageTag()` operation is supposed to check whether the argument is `Unicode BCP 47 Locale Identifier` (and not check whether it argument matches `unicode_locale_id` production only).

[2020-04-05 19:37] #2541 closed

[2020-04-19 01:07] rkirsling commented on #1515
I think the original question here highlights a serious existing problem for Intl tests.

As a particular example, [intl402/RelativeTimeFormat/prototype/format/en-us-numeric-auto.js](https://github.com/tc39/test262/blob/master/test/intl402/RelativeTimeFormat/prototype/format/en-us-numeric-auto.js) is written to assume ICU 65 (see https://unicode-org.atlassian.net/browse/ICU-20654).

In an ideal wo

[2020-04-19 21:14] iamstolis opened #2585 "Incorrect test-cases for Intl.NumberFormat with signDisplay: "exceptZero""
When `Intl.NumberFormat` is used with `signDisplay` set to `exceptZero` then the resulting pattern (`zeroPattern`/`positivePattern`/`negativePattern`) is determined after rounding of the argument, see [step 15 of GetNumberFormatPattern](https://tc39.es/ecma402/#sec-getnumberformatpattern) and [steps 4 and 5 of PartitionNumberPattern](https://tc39.es/ecma402/#sec-partitionnumberpattern). Hence, a n

[2020-04-20 21:06] FrankYFTang commented on #2585
I agree with @iamstolis @tc39/ecma-fellows  I am crafting a PR to correct this. @Ms2ger

[2020-04-20 21:33] sffc commented on #2585
We discussed this at length in the proposal and decided for a number of reasons that small, negative numbers that round to zero should display without the sign in exceptZero.

- Chart: https://github.com/tc39/proposal-unified-intl-numberformat#iii-sign-display
- Issue: https://github.com/tc39/proposal-unified-intl-numberformat/issues/66
- Spec: https://tc39.es/ecma402/#sec-getnumberformatpattern

[2020-04-20 21:39] FrankYFTang commented on #2585
per sffc the spec change to the current shape is landed in https://github.com/tc39/proposal-unified-intl-numberformat/pull/72 . The current tests in test262 should be change after that.